<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="BagEntities" connectionString="metadata=res://*/DAL.DBModel.BagModel.csdl|res://*/DAL.DBModel.BagModel.ssdl|res://*/DAL.DBModel.BagModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=devmysqlsaludguru.c21n120xwlou.us-east-1.rds.amazonaws.com;user id=SaludGuruUsr;password=gerEdit!.$;persistsecurityinfo=True;database=002_MessageModule&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/DAL.DBModel.ClientModel.csdl|res://*/DAL.DBModel.ClientModel.ssdl|res://*/DAL.DBModel.ClientModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=devmysqlsaludguru.c21n120xwlou.us-east-1.rds.amazonaws.com;user id=SaludGuruUsr;password=gerEdit!.$;persistsecurityinfo=True;database=002_MessageModule&quot;" providerName="System.Data.EntityClient" />
    <add name="BagEntitie" connectionString="metadata=res://*/DAL.DBModel.BagModel.csdl|res://*/DAL.DBModel.BagModel.ssdl|res://*/DAL.DBModel.BagModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=devmysqlsaludguru.c21n120xwlou.us-east-1.rds.amazonaws.com;user id=SaludGuruUsr;password=gerEdit!.$;persistsecurityinfo=True;database=002_MessageModule&quot;" providerName="System.Data.EntityClient" />
    <add name="BagModelEntities" connectionString="metadata=res://*/DAL.DBModel.BagModel.csdl|res://*/DAL.DBModel.BagModel.ssdl|res://*/DAL.DBModel.BagModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=devmysqlsaludguru.c21n120xwlou.us-east-1.rds.amazonaws.com;user id=SaludGuruUsr;password=gerEdit!.$;persistsecurityinfo=True;database=002_MessageModule&quot;" providerName="System.Data.EntityClient" />
    <add name="BagEntitiesModel" connectionString="metadata=res://*/DAL.DBModel.BagModel.csdl|res://*/DAL.DBModel.BagModel.ssdl|res://*/DAL.DBModel.BagModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=devmysqlsaludguru.c21n120xwlou.us-east-1.rds.amazonaws.com;user id=SaludGuruUsr;password=gerEdit!.$;persistsecurityinfo=True;database=002_MessageModule&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>