@{
    ViewBag.Title = "AppointmentList";
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Listado de Citas</h3>
    <div id="divGridAppointment"></div>
</div>

<div id="template" style="display:none">
    <div id="templateHeader">
        <input type="text" id="divGridAppointment-txtSearch" name="divGridAppointment-txtSearch" value="@(string.IsNullOrEmpty(Request["SearchParam"])?string.Empty:Request["SearchParam"])" />
        <input type="button" id="divGridAppointment-Search" name="divGridAppointment-Search" value="Buscar" />
        <input type="hidden" id="divGridAppointment-ProfilePublicId" name="divGridAppointment-ProfilePublicId" />
    </div>
</div>

@section inlinescripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            //Start appointment grid
            AppointmentListGrid('divGridAppointment');
        })
    </script>
}