@model BackOffice.Models.Patient.PatientUpSertModel
@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";
}

<div class="BOProfilesGeneralWrapper">
    <div class="BOProfileMenuWrapper">
        @if (Model != null && Model.Patient != null)
        {
            Html.RenderPartial(MVC.Web.Shared.Views._PA_PatientMenu, Model);
        }
    </div>
    <div class="BOProfileFormWrapper">
        @Html.Partial(MVC.Web.Shared.Views._PA_PatientInfo, Model)
    </div>
</div>

@section inlinescripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#PatientInfoId').validate({
                //debug: true,
                errorClass: 'error help-inline',
                validClass: 'success',
                errorElement: 'span',
                highlight: function (element, errorClass, validClass) {
                    $(element).parents("div.control-group").addClass(errorClass).removeClass(validClass);

                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).parents(".error").removeClass(errorClass).addClass(validClass);
                },
                rules: {
                    Name: {
                        required: true,
                    },
                    Email : {
                        email: true
                    },
                    Mobile: {
                        minlength: 10,
                        maxlength: 10,
                        digits: true
                    }
                },
                messages: {
                    Name: {
                        required: "Debe ingresar el nombre",

                    },
                    LastName:
                        {
                            required: "Debe ingresar el apellido"
                        },
                    IdentificationNumber:
                        {
                            required: "Debe ingresar la identificación"
                        },
                    Email:
                        {
                            required: "Debe ingresar una dirección de correo electrónico",
                            email: "Debe ingresar un email valido"
                        },
                    Mobile:
                        {                            
                            maxlength: "No puede ingresar mas de 10 caracteres",
                            minlength: "No puede ingresar menos de 10 caracteres",
                            digits : "El número no es válido"
                        }
                }
            });
        });
    </script>
}
    