@model BackOffice.Models.Patient.PatientUpSertModel
@{
    ViewBag.Title = "PatientNotes";
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";
}

<div class="BOProfilesGeneralWrapper">
    <div class="BOProfileMenuWrapper">
        @if (Model != null && Model.Patient != null)
        {
            Html.RenderPartial(MVC.Web.Shared.Views._PA_PatientMenu, Model);
        }
    </div>
    <div class="BOProfileFormWrapper">
        @{
            string valueNotes = (new System.Web.Script.Serialization.JavaScriptSerializer()).
                Serialize(Model.
                Notes.Select(x => new
                {
                    PatientInfoType = x.PatientInfoType == MedicalCalendar.Manager.Models.enumPatientInfoType.DoctorNotes,
                    Id = x.CreateDate.ToString("yyyy/MM/dd") + " - " + x.LargeValue,
                }).ToList());
        }

        <div class="BOInsuranceTableWrapper Notes">
            <h3>Notas por paciente</h3>
            <div id="divGridPatientNotes"></div>
        </div>
        <div id="template" style="display:none;">
            <div id="templateHeader">
                <form method="post" action="@(Url.Action(MVC.Patient.ActionNames.PatientNotesUpsert, MVC.Patient.Name,
                                                  new { PatientPublicId = Model.Patient.PatientPublicId, Name = Model.Patient.Name, LastName = Model.Patient.LastName }))">
                    <ul class="BOEditDaySetUp">
                        <li>
                            <label>Nueva nota:</label>
                            <textarea id="NewNote" name="NewNote" rows="2" cols="30">&nbsp;</textarea>
                        </li>
                        <li class="BOButtonContainerShort">
                            <!--hiden fields-->
                            <input type="hidden" name="UpsertAction" id="UpsertAction" value="true" />
                            <input id="Add" class="BOAgregarButtons" type="submit" value="Agregar" />
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>




@section inlinescripts
{
    <script type="text/javascript">
        var vDataPatientNotes = @Html.Raw(valueNotes)
            $(document).ready(function () {
                //Start specialty grid
                PatientNotesListGrid('divGridPatientNotes', vDataPatientNotes);
            });
    </script>
}
