@model Profile.Manager.Models.Profile.ProfileModel

<div>
    <form action="@Url.Action(MVC.Profile.ActionNames.Create, MVC.Profile.Name)" method="post">
        <label>Nombre</label>
        <label>Apellido</label>
        <label>Tipo de perfil</label>
        <label>Estado de perfil</label>
        <label>Sexo</label>
        <label>Correo electronico</label>
        <label>Pagina web</label>
        <label>Perfil de facebook</label>

    </form>
</div>
