<div style="top:100px;">
    <ul>
        <li>
            <a href="">Información general</a>
        </li>
        <li>
            <a href="">Tratamientos</a>
        </li>
        <li>
            <a href="">Horarios de atención</a>
        </li>
    </ul>

</div>
