<div>
    <div>
        <img src="" />
        <label>texto principal</label>
        <label>texto secundario</label>
    </div>
    <div>
        <ul>
            <li>
                <a href="">Datos basicos</a>
            </li>
            <li>
                <a href="">Usuarios autorizados</a>
            </li>
            <li>
                <a href="">Consultorios</a>
            </li>
            <li>
                <a href="">Seguros</a>
            </li>
            <li>
                <a href="">Especialidades</a>
            </li>
            <li>
                <a href="">Tratamientos</a>
            </li>
        </ul>
    </div>
</div>
