@model BackOffice.Models.Profile.ProfileUpSertModel

<div>
    <form action="@Url.Action(MVC.Profile.ActionNames.Create, MVC.Profile.Name)" method="post">
        <ul>
            <li>
                <label>Nombre</label>
                <input id="Name" name="Name" value="" />
            </li>
            <li>
                <label>Apellido</label>
                <input id="LastName" name="LastName" value="" />
            </li>
            <li>
                <label>Tipo de perfil</label>
                <select id="ProfileType" name="ProfileType">
                    @foreach (Profile.Manager.Models.General.ItemModel tp in
                        Model.ProfileOptions.
                        Where(x => x.CatalogId == (int)Profile.Manager.Models.enumProfileType).ToList())
                    {
                        <option value="@tp.ItemId">@tp.ItemName</option>
                    }
                </select>
            </li>
            <li>
                <label>Estado de perfil</label>
                <input id="Name" name="Name" value="" />
            </li>
            <li>
                <label>Tipo Identificación</label>
                <input id="Name" name="Name" value="" />
            </li>
            <li>
                <label>Número Identificación</label>
                <input id="Name" name="Name" value="" />
            </li>
            <li>
                <label>Sexo</label>
                <input id="Name" name="Name" value="" />
            </li>
            <li>
                <label>Correo electronico</label>
                <input id="Name" name="Name" value="" />
            </li>
            <li>
                <label>Pagina web</label>
                <input id="Name" name="Name" value="" />
            </li>
            <li>
                <label>Perfil de facebook</label>
                <input id="Name" name="Name" value="" />
            </li>
            <li>
                <label>Profesional certificado</label>
                <input id="Name" name="Name" value="" />
            </li>
            <li>
                <label>Texto de perfil</label>
                <input id="Name" name="Name" value="" />
            </li>
            <li>
                <label>Educación</label>
                <input id="Name" name="Name" value="" />
            </li>
            <li>
                <label>Certificaciones</label>
                <input id="Name" name="Name" value="" />
            </li>
        </ul>
    </form>
</div>
