@model BackOffice.Models.Office.OfficeMenuModel

<div class="BOInfoOfficeWrapper">


    <label class="BOInfoOfficeLabel">Nombre: @Model.OfficeInfo.Name</label>

    <div class="BOInfoOfficeListContainer">
        <ul>
            <li>
                <a href="">Información general</a>
            </li>
            <li style="display:block; border:1px solid black; height:auto; width:auto; line-height:18px; font-size:18px;">
                <a href="">Tratamientos</a>
            </li>
            <li style="display:block; border:1px solid black; height:auto; width:auto; line-height:18px; font-size:18px;">
                <a href="">Horarios de atención</a>
            </li>
        </ul>
    </div>


</div>
