@model BackOffice.Models.Office.OfficeMenuModel

<div class="BOInfoOfficeWrapper">


    <label class="BOInfoOfficeLabel">Nombre: @Model.OfficeInfo.Name</label>

    <div class="BOInfoOfficeSubmenu">
        <ul>
            <li>
                <a href="">Información general</a>
            </li>
            <li>
                <a href="">Tratamientos</a>
            </li>
            <li>
                <a href="">Horarios de atención</a>
            </li>
        </ul>
    </div>


</div>
