<div class="BOMenuPrincipalPerfil">
    <div>
        <img class="BOFotoPerfil" src="" alt="" title="" />
        <h2>Nombre del Profesional</h2>
        <h3>Oftalmologia y Astrologia</h3>
    </div>
    <div>
        <ul>
            <li>
                <a href="" title="">Datos basicos</a>
            </li>
            <li>
                <a href="" title="">Usuarios autorizados</a>
            </li>
            <li>
                <a href="" title="">Consultorios</a>
            </li>
            <li>
                <a href="" title="">Seguros</a>
            </li>
            <li>
                <a href="" title="">Especialidades</a>
            </li>
            <li>
                <a href="" title="">Tratamientos</a>
            </li>
        </ul>
    </div>
</div>
