<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MsgConnection" connectionString="Data Source=mysqlsaludguru.c21n120xwlou.us-east-1.rds.amazonaws.com;Initial Catalog=002_MessageModule;User Id=SaludGuruUsr;Password=gerEdit!.$"/>
  </connectionStrings>
  <appSettings>
    <add key="SettingsConfig" value="D:\Proyectos\ProyectosTest\SaludGuruMesagges\SaludGuruMesagges\Rsx-SettingsConfig.xml" />

    <add key="LogFile" value="D:\Proyectos\ProyectosTest\SaludGuruMesagges\SaludGuruMesagges\Log"/>
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <system.serviceModel>
    <client>
      <endpoint address="https://soa.inalambria.com/IMPWebServiceSend.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSendSoap"
        contract="ServiceInalambria.ServiceSendSoap" name="ServiceSendSoap" />
      <endpoint address="https://soa.inalambria.com/IMPWebServiceSend.asmx"
        binding="customBinding" bindingConfiguration="ServiceSendSoap12"
        contract="ServiceInalambria.ServiceSendSoap" name="ServiceSendSoap12" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAuthenticationService" closeTimeout="00:10:00"
          openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="ServiceSendSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ServiceSendSoap1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="ServiceSendSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="Throttled">
          <serviceThrottling maxConcurrentCalls="1" maxConcurrentSessions="1" maxConcurrentInstances="1" />
          <serviceMetadata httpGetEnabled="true" httpGetUrl="" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>