@{
    ViewBag.Title = "ConditionsAndRestrictions";
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";
}

<h1>CONDICIONES Y RESTRICCIONES PRODUCTO SALUDGURU</h1>
<h2>I. DESCRIPCIÓN DEL PRODUCTO</h2>
<p>
    El producto SALUDGURU consta de:
</p>

<ul>
    <li>
        Perfil en SaludGuru.com, texto de biografía máximo de 400 caracteres.
    </li>
    <li>
        Dirección y Teléfonos de sus consultorios.
    </li>
    <li>
        Especialidades que correspondan a sus títulos académicos.
    </li>
    <li>
        Sello de CERTIFICADO POR CISAS, respecto de ESTUDIOS y/o del CERTIFICADO DE HABILITACIÓN expedido por la Secretaría de Salud para el funcionamiento del
        consultorio del profesional. Dicho sello de CERTIFICADO POR CISAS sólo será incorporado cuando se cumplan las condiciones descritas en el numeral 2 de las
        CONDICIONES Y RESTRICCIONES.
    </li>
    <li>
        Módulo de Administración de Agenda.
    </li>
    <li>
        Acceso al tutorial de administración de perfil.
    </li>
    <li>
        1 Sesión de Fotos en la dirección entregada por el cliente. Las sesiones de fotos adicionales que fueren solicitadas por el El Cliente tendrán un costo
        adicional, el cual será incluido en la primera factura que se genere.
    </li>
    <li>
        1 Modificación mensual al perfil del profesional (Perfil, datos de contacto, agenda y tipologías de cita).
    </li>
</ul>

<h2>II. LAS CONDICIONES Y RESTRICCIONES DE SALUDGURU SON LAS SIGUIENTES:</h2>

<ol>
    <li>
        El contrato de prestación de servicios entre CISAS y EL Cliente se rige por el principio de la buena fe, de tal suerte que el suministro de información
        por parte de El Cliente debe observar dicho postulado. No obstante El cliente se hace responsable por el uso de la información contenida en su perfil y de
        su inclusión en otros medios, despliegues y/o desarrollos. PARÁGRAFO PRIMERO. El Cliente mantendrá indemne a CISAS respecto de las reclamaciones formuladas
        por terceras personas con ocasión de la inclusión de la información que le hubiere suministrado con ocasión del contrato de prestación de servicios para el
        producto SALUDGURU. PARÁGRAFO SEGUNDO: Los textos y la información entregada por El Cliente es de su propiedad y, por ende, su responsabilidad
    </li>
    <li>
        El sello de CERTIFICADO POR CISAS se incorporará en el perfil, respecto de ESTUDIOS y/o DISTINTIVO DE HABILITACIÓN expedido por la Secretaría de Salud,
        siempre y cuando CISAS tenga la posibilidad de verificar la información respectiva. En lo relativo a ESTUDIOS, CISAS verificará la información del título
        de pregrado y especialización de El Cliente siempre y cuando: a) La universidad se encuentre en la república de Colombia, b) La universidad / institución
        tenga canales de atención vía mail / internet, c) No tenga un costo adicional la obtención de esta certificación.
    </li>
    <li>
        La propiedad del material fotográfico suministrado por CISAS corresponde a CISAS y éste sólo podrá ser utilizado en los productos y/o servicios
        prestados por CISAS. No obstante, CISAS cederá a El Cliente sus derechos patrimoniales sobre el material fotográfico obtenido mediante la realización de la
        sesión de fotos descrita en el Capítulo I DESCRIPCIÓN DEL PRODUCTO del presente documento, en el evento en el que El Cliente hubiere pagado al menos 12
        mensualidades correspondientes al producto SALUDGURU. Esta prerrogativa no es aplicable respecto de fotografías suministradas por CISAS que no correspondan
        a las obtenidas mediante la citada Sesión de Fotos.
    </li>
    <li>
        En el caso de realizar la inclusión de la agenda o el perfil en páginas web o fan page de propiedad de El Cliente, CISAS entregará el instructivo para
        realizar la inclusión. Sin embargo, CISAS no se responsabiliza por daños que puedan causarse en la instalación, así como tampoco se responsabiliza por la
        administración de estas propiedades.
    </li>
    <li>
        El Cliente certifica que la información registrada por sus pacientes cumple con los requisitos de la Ley de Habeas Data y que su publicación no vulnera
        los derechos de dichos pacientes ni de terceras personas.
    </li>
</ol>

@section headStyles
{
    <style>
        ol, ul {
            padding-left: 40px;
        }

        ul {
            list-style-type: disc;
        }

        ol {
            list-style-type: decimal;
        }

        li {
            padding-top: 10px;
            line-height: 17px;
            text-align: justify;
        }
    </style>
}

