@{
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";
}
<div class="MPThankYouPage">
    <a href="@Url.RouteUrl(MarketPlace.Models.General.Constants.C_Route_Home, null)" target="_parent">
        <img src="/Areas/Mobile/Content/Images/thankYouPage.png" />
    </a>
</div>
<style type="text/css">
    .MPThankYouPage{
        position: absolute;
        top: 12px;
        left: -40px;
        z-index: 5;
        overflow: hidden;
    }
</style>
