@{
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";
}
<div class="MPThankYouPage">
    <a href="@Url.RouteUrl(MarketPlace.Models.General.Constants.C_Route_Home, null)" target="_parent">
        <img id="hs-cta-img-46dbc3fc-83e5-4f80-a225-728cd11eb44a" class="hs-cta-img" src="http://cdn2.hubspot.net/hub/251261/file-567365297-png/SALUD_GURU/TPv4.png" />
    </a>
</div>
<style type="text/css">
    .MPThankYouPage{
        position: absolute;
        top: -18px;
        left: -54px;
        z-index: 5;
    }
</style>
