@{
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";
}
<div style="height:26px;"></div>
<div class="iframeWrapper">
    <iframe src="http://info.carvajalinformacion.com/contactenos_salud_guru" class="remoteRegister"></iframe>
</div>

<style type="text/css"> 
    /*************** FORMULARIO DE REGISTRO IFRAME***************/
    .iframeWrapper {
        margin: 0px auto;
        border: 1px solid #666;
        border-radius: 2px;
        overflow: hidden;
height: 592px;
width: 532px;
    }
    iframe.remoteRegister {
        height: 772px;
        display: block;
        overflow: hidden;
        margin: -30px 0px 0px;
        width: 100%;
    }
</style>