@{
    ViewBag.Title = "Contact";
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";
}
<div style="height:50px;"></div>
<div class="iframeWrapper">
    <iframe src="http://info.carvajalinformacion.com/contactenos_salud_guru" class="remoteRegister"></iframe>
</div>

<style>
    /*************** FORMULARIO DE REGISTRO IFRAME***************/
    .iframeWrapper {
        width: 510px;
        height: 648px;
        margin: 0px auto;
        border: solid 1px;
        overflow: hidden;
    }

    iframe.remoteRegister {
        width: 502px;
        height: 1000px;
        display: block;
        margin: -100px 0px 0px 0px;
        overflow: hidden;
    }
</style>