@{
    ViewBag.Title = "FAQ";
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";
}
<div class="regularContent">
    <label class="Titulo">PREGUNTAS FRECUENTES SALUD GURU</label>
    <br>
    <label class="Subtitulo">Sobre Salud Gurú</label>

    <label class="Subtitulo">¿Salud Gurú es una empresa de medicina prepagada?</label>    
    <p>
        No, Salud Gurú no es un prestador de servicios de salud. En salud Gurú podrás encontrar y agendar una cita  
        con un especialista  suscrito a la medicina prepagada en la que estés afiliado, al igual que aquellos  
        doctores que desees visitar bajo la modalidad de médico particular.
    </p>
    <label class="Subtitulo">¿En Salud Gurú Puedo encontrar la información de todos los doctores de Colombia?</label>
    <p>
        Estamos trabajando para que pronto puedas ver la información profesional  y agendar una cita médica con  todos los doctores que desees.

        Si tu doctor no se encuentra en salud Gurú y te gustaría encontrarlo Clic aquí
    </p>
    <label class="Subtitulo">¿Tiene algún costo para el paciente agendar una cita a través de Salud Gurú?</label>
    <p>
        No.  Agendar una cita médica con un doctor a través de Salud Gurú  es  totalmente gratis.
        Debes tener presente que el valor  y pago de la consulta  y los diferentes tratamientos 
        (copagos, bonos, cuotas) los debes realizar directamente con tu doctor y son ajenos a nuestros servicios. Si tienes dudas sobre cuánto 
        debes cancelar, puedes resolverlas con tu asesor de medicina prepagada o comunicarte con tu especialista.
    </p>
    <label class="Subtitulo">¿Cuánto me cuesta la consulta  con el doctor?</label>
    <p>
        El valor de la consulta debes  acordarlo con tu asesor de medicina prepagada o directamente con tu especialista.
    </p>


    <label class="Titulo"> Mi cuenta En Salud Gurú</label>
    <label class="Subtitulo">¿Cómo creo mi perfil?</label>
    <p>
        Debes registrarte a través de tu cuenta de facebook, google o Outlook 
    </p> 
    <label class="Subtitulo">Mi perfil de paciente esta bloqueado.</label>
    <p>
        Comunícate con nosotros, con gusto te ayudaremos a solucionar el inconveniente

        Llamanos 6465555 ext. 16624 o escríbenos a contacto@saludguru.com
    </p> 

    <label class="Subtitulo">Deseo agendar una cita para mi hijo(a) u otro familiar ¿Debo crear otro perfil?</label>
    <p>
        No es necesario. puedes asociar los datos de otro paciente al momento de agendar
        una cita con el profesional que desees.
    </p> 
    <label class="Subtitulo">No quiero recibir más recordatorios de las citas en mi celular</label>
    <p>
        Al no recibir las notificaciones de tus citas, podrías olvidar el dia y la hora exacta de la consulta. 
        si deseas cancelar los recordatorios en tu celular puedes modificarlo directamente en la configuración de tu perfil.
    </p> 
    <label class="Subtitulo">Deseo realizar un comentario sobre Salud Gurú</label>
    <p>
        Para nosotros es un placer recibir tu opinión. clic aquí
    </p> 
    <label class="Subtitulo">¿Mis datos estan seguros en salud Gurú?</label>
    <p>
        Por Supuesto, si deseas conocer la política de privacidad de datos de publicar soluciones Multimedia. Clic aquí
    </p>     
</div>
@section inlinescripts
{
    <style>
        * {
            line-height: 1em;
            font-size: 1em;
        }

        ol, ul {
            padding-left: 40px;
        }

        ul {
            list-style-type: disc;
        }

        ol {
            list-style-type: decimal;
        }

        li {
            padding-top: 10px;
            line-height: 17px;
            text-align: justify;
        }

        li {
            padding-top: 10px;
            line-height: 17px;
            text-align: justify;
        }

        .regularContent {
            display: block;
            margin: 0px auto;
            width: 80%;
        }
        .Titulo {
             margin: 15px 0px;
            justify-content: center;
        }
        .Subtitulo {
            font-weight: bold;
            margin: 15px 0px 15px 0px;
        }
        p {
            margin-bottom: 16px;
            justify-content: center;
        }
    </style>
}

