@{
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";
}

<div>
    <!--search box-->
    @if (MarketPlace.Web.Controllers.BaseController.CurrentControllerName == MVC.Home.Name &&
            MarketPlace.Web.Controllers.BaseController.CurrentActionName == MVC.Home.ActionNames.Index)
    {
        <span>Busca un especialista por nombre, especialidad, ciudad o seguro; completamente gratis</span>
        <div>
            <input type="text" id="inSearchBoxProfile" placeholder="Buscar por nombre, especialidad o seguro" />
            <a href="javascript:SearchBoxObject.SearchTerm();"></a>
        </div>
    }
</div>

