@{
    ViewBag.Title = "LegalTerms";
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";
}


<div class="regularContent">
    <label class="Titulo">AVISO LEGAL</label>

    <p>Al acceder este sitio y todas las páginas que lo conforman usted está de acuerdo con los términos y condiciones expuestas a continuación. Si usted no está de acuerdo con estos términos y condiciones no ingrese al sitio ni a ninguna de las páginas que lo conforman.</p>

    <label class="Subtitulo">1. Introducción</label>
    <p>Le damos la bienvenida al Sitio Web SaludGuru.com, operado por y propiedad de Publicar Publicidad Multimedia S.A.S. en adelante PPMSAS. El Sitio Web es un portal para la búsqueda de información de profesionales de la salud en Colombia para uso del público. PPMSAS concibe al cliente o usuario del Sitio Web (“Usted” o los “Usuarios”) como aquella persona que hace uso directo del Sitio Web, entendiendo que la utilización del Sitio Web estará sujeta a los términos y condiciones que PPMSAS ha diseñado a tal efecto y que están contenidos en el presente escrito (los “Términos y Condiciones”). De esta manera, al acceder a este Sitio Web usted se obliga al cumplimiento de los Términos y Condiciones.Los Términos y Condiciones podrán ser actualizados eventualmente, caso en el cual PPMSAS podrá comunicar cualquier cambio o modificación sobre los mismos a través de un aviso en el Sitio Web. En cualquier caso, es responsabilidad de los Usuarios consultar y estar enterados de cualquier novedad en los Términos y Condiciones, para lo cual lo invitamos a verificar periódicamente estos Términos y Condiciones. Usted podrá encontrar siempre al inicio de los Términos y Condiciones la última fecha en que éstos hayan sido publicados y/o actualizados. Usted igualmente entiende que a través del Sitio Web se invita y promueve una activa y libre participación, comunicación y expresión por parte de los Usuarios, siempre y hasta donde la Constitución Política de Colombia y la ley nacional (la “Ley”) lo permitan.</p>
    <label class="Subtitulo">2. Responsabilidad Sobre Contenidos</label>
    <p>PPMSAS no se hace responsable por los contenidos que publiquen los Usuarios en el Sitio Web, ni del uso que los Usuarios o terceros hagan de esta información. Igualmente, PPMSAS no se hace responsable por la información publicada en sitios web de terceros que de una u otra forma estén vinculados al Sitio Web.</p>
    <label class="Subtitulo">3. Derechos de Autor y Propiedad Intelectual.</label>
    <p>
        Este Sitio Web y los contenidos que ahí aparecen, en la medida en que la legislación así lo prevea, están protegidos mediante el régimen de derecho de autor y, en general, de propiedad intelectual. Se prohíbe su reproducción total o parcial, su traduccion, inclusión, transmisión, almacenamiento o cualquier otro uso que contraríe los derechos consagrados en la legislación vigente, sin la previa autorización de PPMSAS o del respectivo titular de los derechos.
        Todos los vínculos a otros sitios web diferentes a aquellos de los cuales PPMSAS es propietario, son ofrecidos como un servicio al Usuario. PPMSAS no estuvo involucrado en su producción y, por tanto, no se responsabiliza por los contenidos que ahí se publiquen.
    </p>
    <label class="Subtitulo">4. Parámetros de Utilización</label>
    <label class="Subtitulo2">4.1. Declaraciones del Usuario. </label>
    <p>
        Al ingresar al Sitio Web Usted reconoce en cabeza de PPMSAS lo siguiente:
        - El derecho de incluir o no en el Sitio Web el material recibido de los Usuarios a su entero criterio.
        - No garantizar la disponibilidad, infalibilidad y continuidad del funcionamiento del Sitio Web. Si es del caso, PPMSAS advertirá sobre las interrupciones en el funcionamiento del Sitio Web y, en caso de que se interrumpa el funcionamiento del Sitio Web, PPMSAS excluye cualquier responsabilidad por los daños y perjuicios de toda naturaleza que puedan originarse en este sentido.
        - El derecho de negar el ingreso a cualquier persona, en cualquier momento y por cualquier razón.
        - Remover contenidos que a juicio de PPMSAS sean ilegales, ofensivos, difamatorios o que de cualquier otra forma violen la Ley o los presentes Términos y Condiciones.
        - Remover los contenidos que violen derechos de propiedad intelectual, ya sea que pertenezcan a PPMSAS o a un tercero.
        - Utilizar la información personal y/o contenidos suministrados por los Usuarios de acuerdo con lo establecido en el Capítulo 5 de estos Términos y Condiciones.
        - No garantizar y, por tanto, no se hacerse responsable por la presencia de virus ni de otros elementos en los contenidos del Sitio Web o que puedan surgir de o como consecuencia del ingreso al Sitio Web, que puedan producir alteraciones en los sistemas informáticos de los Usuarios o terceros o en los archivos almacenados en tales sistemas.
        - No garantizar que los contenidos publicados en el Sitio Web estén exentos de errores o imprecisiones, en cuyo caso podrán solicitarse las aclaraciones o correcciones que sean del caso.
        - No garantizar que el contenido del Sitio Web sea suficiente y/o útil para el Usuario.
    </p>
    <label class="Subtitulo2">4.2. Deberes del Usuario. </label>
    <p>
        Al ingresar al Sitio Web Usted deberá cumplir con los siguientes deberes:
        - Observar los Términos y Condiciones y cualquier otra condición establecida en este Sitio Web.
        - No difamar, abusar, acosar, amenazar o violar cualquier libertad pública o derecho civil o humano ni cualquier otro derecho de propiedad, privacidad y/o publicidad de los demás usuarios o de terceros.
        - No usar este Sitio Web como medio para desarrollar actividades ilegales o no autorizadas tanto en Colombia, como en cualquier otro país.
        - Ser responsable por cualquier actividad que se lleve a cabo bajo su cuenta de usuario.
        - No abusar, acosar, amenazar o intimidar a los usuarios del Sitio Web por cualquier medio.
        - Ser el único responsable por su conducta y por el contenido de textos, gráficos, fotos, videos o cualquier otro tipo de información de la cual haga uso o incluya en el Sitio Web.
        - Utilizar el Sitio Web única y exclusivamente para uso personal. Cualquier uso para beneficio corporativo o colectivo o con intereses lucrativos está prohibido.
        - No suplantar la identidad de ningún tercero, ni utilizar nombres de usuarios vulgares u ofensivos.
        - Abstenerse de enviar correo electrónico no deseado o SPAM a otros usuarios del Sitio Web, así como virus o cualquier código de naturaleza destructiva.
        - Asimismo, comprometerse plenamente a no ingresar comentarios, imágenes, mensajes, opiniones, información, o similares, de contenido difamatorio, abusivo, contrario a la moral y las buenas costumbres, discriminatorio, ofensivo, obsceno, intimidatorio, calumnioso, inapropiado, ilegal, violatorio de derechos de terceros de cualquier índole, incluidos los derechos de los menores de edad, que cause daños y/o perjuicios, constituya un delito o apología a un delito y/o incite a la violencia y/o a la comisión de delitos.
        - Denunciar cualquier violación a los Términos y Condiciones por parte de los Usuarios o terceros de la que tenga conocimiento, para lo cual remitirá un e - mail a la dirección de correo electrónico servicioalcliente@publicar.com a fin de que PPMSAS tome las medidas que estén a su alcance a tal efecto.
        - Si Usted es menor de edad de acuerdo con la legislación colombiana, obtener el consentimiento de sus padres o representantes legales para vincularse a y enviar contenidos al Sitio Web.
        - No alojar en el Sitio Web ningún material o contenido que sea violatorio de la ley, o sea considerado como profano, indecente, pornográfico o de naturaleza similar, incluyéndose pero no limitándose a textos, gráficos, video, programas o audio.
        - No cargar en el Sitio Web programas de computación o cualquier otro material protegido por las leyes de propiedad intelectual a menos que el propietario de dichos derechos lo haya autorizado.
        - No cargar en el Sitio Web archivos contentivos de virus, o cualquier otro archivo o programa de computación que afecte la programación de otros computadores o del Sitio Web.
        - El servicio ofrecido en las comunidades es para uso personal del Usuario y no puede ser utilizado con fines comerciales, por lo cual se prohíbe cualquier tipo de publicidad que el Usuario pretenda alojar en el Sitio Web.
        - Usted igualmente se compromete a no PPMSAS material que atente contra derechos de menores de edad regulados en legislaciones especiales, en especial pornografía infantil.
    </p>

    <a id="usoInformacion"><h2>5. Información Recopilada y su Utilización.</h2></a>
    <p>A continuación se enuncian los diferentes tipos de datos que podremos recolectar en el Sitio Web, los cuales serán, en términos generales, utilizados para mejorar su experiencia dentro del Sitio Web y enriquecer la experiencia interactiva del mismo. Los términos de uso de estos datos serán enunciados posteriormente.</p>
    <label class="Subtitulo2">5.1. Datos Personales. </label>
    <p>
        En el Sitio Web Usted puede llevar a cabo diferentes actividades, que incluyen pero no se limitan a tales como registrarse en nuestro portal, agregar información de empresas, Sus servicios favoritos, Sus direcciones favoritas, compartir datos de empresas a través de las redes sociales, actualizar sus datos de en las redes sociales con información de nuestro portal ,yenviar mensajes de texto, a través de las cuales posiblemente podamos obtener varias formas de datos personales. Algunos ejemplos de los tipos de datos personales que podríamos recolectar son:
        - Nombre.
        - Domicilio.
        - Dirección de correo electrónico.
        - Número de teléfono fijo o celular
        - Información sobre su interés en o uso de varios productos, programas y servicios.
        - La ubicación actual de los Usuarios.
        - El historial de las búsquedas realizadas por los Usuarios.
        - Direcciones electrónicas de sus amigos y conocidos
        Podremos utilizar tales datos personales para atender solicitudes de los diferentes servicios que ofrezcamos en el mercado, responder consultas, comunicarnos con Usted, atender pedidos, ofrecerle nuevos productos o servicios que creemos que pueden ser de Su interés o, eventualmente, para exigir el cumplimiento de los presentes Términos y Condiciones, así como de la Ley en relación con el uso que Usted haga del Sitio Web y/o para los fines específicos para los cuales Usted haya suministrado dichos datos personales.
    </p>
    <label class="Subtitulo2">5.2. Datos No-Personales. </label>
    <p>
        De igual forma, al visitar el Sitio Web nosotros podremos solicitar varios tipos de datos que no se consideran como personales, entre los cuales se incluyen:
        - Tipo de navegador que Usted utiliza (como, Safari, Chrome Firefox, Internet Explorer).
        - El nombre de dominio de Su proveedor de servicio de internet (como, Telmex o etc.).
        - La dirección de protocolo de Internet actual.
        - Las páginas Web que ha visitado.
        - El contenido al cual ha accedido.
        - Tipo de sistema operativo que utiliza (como, Microsoft Windows, Linux o Mac OS).
        - Versión del celular desde el que se ingresa al Sitio Web, saludguru.com.
        PPMSAS podrá recolectar esta información de carácter no personal para mejorar la arquitectura técnica o de diseño del Sitio Web, los contenidos del Sitio Web o para personalizar los mensajes publicitarios más relevantes para el Usuario, así como para analizar la utilización que se está haciendo del Sitio Web con el fin de mejorarlo.
        Usted reconoce que el ingreso de información personal lo realiza de manera voluntaria y teniendo en cuenta las características del Sitio Web y en el entendido que tal información hará parte de un archivo y/o base de datos que contenderá Su perfil, la cual podrá ser usada por PPMSAS en los términos aquí establecidos.
    </p>
    <label class="Subtitulo2">5.3. Términos de Utilización de la Información Recolectada. </label>
    <p>
        La información recolectada será guardada y protegida conforme a las políticas de utilización y los límites que la Ley establezca. Aun tomando las medidas apropiadas de protección contra la divulgación no autorizada de la información que se recopile, PPMSAS no puede garantizar que nunca se divulgará de manera contraria a lo establecido en estas políticas de privacidad y PPMSAS no garantiza que no vayan a acceder a la misma sin su consentimiento.
        PPMSAS no se responsabiliza por cualquier consecuencia derivada del ingreso indebido de terceros a la base de datos y/o por alguna falla técnica en el funcionamiento y/o conservación de datos en el sistema en cualquiera de los capítulos del Sitio Web, tampoco garantiza que terceros no autorizados no puedan tener conocimiento de la clase, condiciones, características y circunstancias del uso que los Usuarios hacen del Sitio Web.
        A continuación se enuncian los principales casos en los cuales PPMSAS podría hacer uso de la información recolectada en el Sitio Web:
        - En respuesta a solicitudes judiciales.
        - Cuando sea necesario para investigar, prevenir o tomar acciones frente a actividades ilícitas que eventualmente sean detectadas.
        - Cuando se detecten violaciones a los Términos y Condiciones, con el fin de verificar o exigir el cumplimiento de las políticas que rigen el Sitio Web y/o la Ley.
        - Si PPMSAS o una de sus unidades de negocio es adquirida por, vendida a o se fusiona con otra entidad.
        - Divulgar información personal a terceros cuyas prácticas no estén cubiertas por estas políticas de privacidad (por ejemplo, otros comercializadores, editores de revistas, comerciantes minoristas, bases de datos participativas y organizaciones sin fines de lucro) y que deseen ofrecerle productos y servicios a los Usuarios.
        - Con el objeto de proporcionar información adicional y más relevante a quienes visitan el Sitio Web sobre oportunidades de productos y servicios, PPMSAS podrá compartir con terceros los datos no-personales enunciados en el Capítulo 5.2.
        Las prácticas que PPMSAS detalla en este Capítulo 5 se encuentran habilitadas por las tecnologías y las relaciones que se describen en los siguientes dos Capítulos.
    </p>
    <label class="Subtitulo">6. Cookies y Web Beacons.</label>
    <p>
        En el Sitio Web utilizamos cookies, las cuales se identifican como archivos de texto colocados en su navegador con el fin de almacenar preferencias. Las cookies las utilizamos para analizar y entender la utilización que los Usuarios hacen del Sitio Web, permitiéndonos eventualmente personalizar los contenidos del Sitio Web. Igualmente, utilizamos cookies para administrar y medir el desempeño de la publicidad que se exhibe por medio del Sitio Web u obtener información sobre servicios publicitarios de terceros, todo lo cual se explica en detalle en el Capítulo 7.
        Las cookies no contienen datos personales, pero dado el caso en que usted los suministre, tales datos podrán ser vinculados con la información almacenada en las cookies.
        De la misma manera, en el Sitio Web podemos utilizar web beacons, cleargifs o tecnologías similares que son partes de códigos ubicadas en una página web cualquiera para monitorear el comportamiento y recopilar información sobre los visitantes que entran a una página, con el fin de, por ejemplo contar el número de usuarios que visitaron el Sitio Web o para suministrar una cookie al explorador del Usuario.
        Las preferencias de privacidad en relación con las cookies pueden ser modificadas por cada Usuario a través de la configuración de su navegador, bien sea para eliminarlas o bloquearlas, procedimiento que dependerá del navegador que Usted utilice, por lo cual le sugerimos consultar la ayuda de un profesional.
    </p>
    <label class="Subtitulo">7. Recolección de Información por Sitios de Terceros, Servidores Publicitarios y Patrocinadores.</label>
    <p>
        El Sitio Web contiene vínculos a otros sitios web cuyas prácticas de información y políticas pueden diferir de los Términos y Condiciones. Usted deberá consultar las clausulas y condiciones de uso de cada uno de estos sitios web, ya que nosotros no tenemos control sobre la información que sea recopilada o enviada por terceras partes.
        El Sitio Web utiliza los servicios e información de terceros, con sujeción a la Ley y a los respectivos términos y condiciones que cada uno de estos terceros haya establecido a tal efecto. No obstante lo anterior, no nos hacemos responsables por la veracidad de los datos que sean publicados a través de estos contenidos. Estos terceros pueden visualizar, editar y configurar sus propias cookies y, de igual forma, nosotros también podríamos ubicar web beacons para estas terceras partes. El empleo de estas tecnologías por parte de estos terceros está sujeto a sus propias políticas de privacidad y no está cubierto por estos Términos y Condiciones.
        El Sitio Web podrá igualmente ofrecer contenidos patrocinados o compartidos por terceras personas y, en virtud de las relaciones entre el Sitio Web y estas terceras personas, se podrá recolectar información personal que los Usuarios suministren voluntariamente para participar. Nosotros no tenemos control sobre el uso que los terceros hagan sobre esta información.
    </p>
    <label class="Subtitulo">8. Contacto.</label>
    <p>Si usted tiene alguna pregunta o inquietud sobre los Términos y Condiciones por favor no dude en contactarnos a través del correo electrónico servicioalcliente@publicar.com.</p>
</div>


@section inlinescripts
{
    <style>
        * {
            line-height: 1em;
            font-size: 1em;
        }

        ol, ul {
            padding-left: 40px;
        }

        ul {
            list-style-type: disc;
        }

        ol {
            list-style-type: decimal;
        }

        li {
            padding-top: 10px;
            line-height: 17px;
            text-align: justify;
        }

        .regularContent {
            display: block;
            margin: 0px auto;
            width: 80%;
        }

        .Titulo {
            margin: 15px 0px;
            justify-content: center;
        }

        .Subtitulo {
            font-weight: bold;
            margin: 15px 0px 15px 0px;
        }

        .Subtitulo2 {
            margin: 15px 0px 15px 0px;
        }
    </style>
}