@model MedicalCalendar.Manager.Models.Appointment.AppointmentModel
@{
    ViewBag.Title = "ConfirmationAppointmentView";
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="MPAgendaDoctorData">
        <label>Tu cita ha sido agendada correctamente!</label>
        <p>
            día @Model.StartDate  <br>
            en la dirección @Model.OfficeName<br>
            estamos enviando la confirmación de la cita a tu correo electrónico, <br>
            si no la has recibido favor validar en la bandeja de correos no deseados.<br>
            Horas antes de la cita, te enviaremos un recordatorio a tu correo electrónico y/o teléfono móvil.<br>
        </p>
    </div>
</div>