@model BackOffice.Models.Specialty.SpecialtyUpsertModel
@{
    ViewBag.Title = "SpecialtyUpsert";
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";
}

<div class="BOProfileFormWrapper">
    <div>
        <form action="@Url.Action("SpecialtyUpsert", "Specialty", new { SpecialtyId = Model.SpecialtyInfo.CategoryId })" method="post">
            <ul>
                <li>
                    <label>Nombre</label>
                    <input id="Name" name="Name" value="@(Model.SpecialtyInfo.Name == null ? string.Empty : Model.SpecialtyInfo.Name)" type="text" />
                </li>
                <li>
                    @{
                        var CatInfo_KW = Model.SpecialtyInfo == null ? null :
                            Model.SpecialtyInfo.SpecialtyInfo.Where
                            (x => x.CategoryInfoType == SaludGuruProfile.Manager.Models.enumCategoryInfoType.Keyword).
                            Select(x => new { id = x.CategoryInfoId, val = x.LargeValue }).
                            DefaultIfEmpty(null).
                            FirstOrDefault();
                        if(CatInfo_KW != null)
                        {
                            <input type="hidden" id="CatId_Keyword" name="CatId_Keyword" value="@CatInfo_KW.id"/>
                        }
                    }
                    <label>Keywords</label>
                    <textarea id="Keyword" name="Keyword">@(CatInfo_KW == null ? string.Empty : CatInfo_KW.val)</textarea>
                </li>
            </ul>
            <div>
                <!--hiden fields-->
                <input type="hidden" name="UpsertAction" id="UpsertAction" value="true" />
            </div>
            <div>
                <input class="BOButtons" type="submit" value="Guardar" />
            </div>
        </form>
    </div>
</div>
