@{
    ViewBag.Title = "ConditionsAndRestrictions";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}
<div class="regularContent">
    <label class="Titulo">CONDICIONES Y RESTRICCIONES PRODUCTO SALUD GURU</label>
    <br>
    <label class="Subtitulo">I. DESCRIPCIÓN DEL PRODUCTO</label>
    <p>
        El producto SALUD GURÚ pertenece a Publicar Publicidad Multimedia S.A.S. en adelante PPMSAS y consta de:
    </p>

    <ul>
        <li>
            Publicación de Perfil Profesional en www.saludguru.com.
        </li>
        <li>
            Direcciones y teléfonos de los consultorios.
        </li>
        <li>
            Especialidades que correspondan a títulos académicos obtenidos.
        </li>
        <li>
            Sello de CERTIFICADO POR SALUD GURU, respecto a ESTUDIOS y/o del
            CERTIFICADO DE HABILITACIÓN expedido por la Secretaría de Salud
            para el funcionamiento del consultorio del profesional. Dicho
            sello de CERTIFICADO POR SALUD GURU sólo será incorporado cuando
            se cumplan las condiciones descritas en el numeral 2 de las
            CONDICIONES Y RESTRICCIONES.
        </li>
        <li>
            Módulo de Administración de Agenda.
        </li>
        <li>
            1 Sesión de Capacitación de administración de perfil.
        </li>
        <li>
            1 Sesión de Fotos en la dirección entregada por el cliente.
            Las sesiones de fotos adicionales que fueren solicitadas por EL Cliente
            tendrán un costo adicional, el cual será incluido en la primera
            factura que se genere.
        </li>
        <li>
            1 Modificación mensual al perfil del profesional (Perfil, datos de contacto, agenda y tipologías de cita).
        </li>
    </ul>

    <label class="Subtitulo"> II. LAS CONDICIONES Y RESTRICCIONES DE SALUDGURU SON LAS SIGUIENTES:</label>
        <ol>
            <li>
                El contrato de prestación de servicios entre PPMSAS y EL Cliente se rige
                por el principio de la buena fe, de tal suerte que el suministro de
                información por parte de El Cliente debe observar dicho postulado. No
                obstante El cliente se hace responsable por el uso de la información
                contenida en su perfil y de su inclusión en otros medios,
                despliegues y/o desarrollos. PARÁGRAFO PRIMERO. El Cliente mantendrá
                indemne a PPMSAS respecto de las reclamaciones formuladas por terceras
                personas con ocasión de la inclusión de la información que le hubiere
                suministrado con ocasión del contrato de prestación de servicios para el
                producto SALUD GURU. PARÁGRAFO SEGUNDO: Los textos y la información
                entregada por El Cliente es de su propiedad y,  por ende, su responsabilidad.
            </li>
            <li>
                El sello de CERTIFICADO POR SALUD GURU se incorporará en el perfil,
                respecto de ESTUDIOS y/o DISTINTIVO DE HABILITACIÓN expedido por la
                Secretaría de Salud, siempre y cuando SALUD GURU tenga la posibilidad
                de verificar la información respectiva. En lo relativo a ESTUDIOS, SALUD
                GURU verificará la información del título de pregrado y especialización
                de El Cliente siempre y cuando: a) La universidad se encuentre en la
                república de Colombia, b) La universidad / institución tenga canales de
                atención vía mail / internet, entre otros) No tenga un costo adicional
                la obtención de esta certificación.
            </li>
            <li>
                La propiedad del material fotográfico suministrado por SALUD GURU
                corresponde a PPMSAS y éste sólo podrá ser utilizado en los productos
                y/o servicios prestados por PPMSAS. No obstante, PPMSAS cederá a El
                Cliente sus derechos patrimoniales sobre el material fotográfico obtenido
                mediante la realización de la sesión de fotos descrita en el
                Capítulo I DESCRIPCIÓN DEL PRODUCTO del presente documento, en el evento
                en el que El Cliente hubiere pagado al menos 12 mensualidades
                correspondientes al producto SALUDGURU. Esta prerrogativa no es aplicable
                respecto de fotografías suministradas por PPMSAS que no correspondan a
                las obtenidas mediante la citada Sesión de Fotos.
            </li>
            <li>
                En el caso de realizar la inclusión de la agenda o el perfil en páginas
                web o fan page de propiedad de El Cliente, PPMSAS entregará el instructivo
                para realizar la inclusión. Sin embargo, PPMSAS  no se responsabiliza
                por daños que puedan causarse en la instalación, así como tampoco se
                responsabiliza por la administración de estas propiedades.
            </li>
            <li>
                El Cliente certifica que la información registrada por sus pacientes
                cumple con los requisitos de la Ley de Habeas Data y que su publicación
                no vulnera los derechos de dichos pacientes ni de terceras personas.
            </li>
        </ol>
</div>
@section inlinescripts
{
    <style>
        * {
            line-height: 1em;
            font-size: 1em;
        }

        ol, ul {
            padding-left: 40px;
        }

        ul {
            list-style-type: disc;
        }

        ol {
            list-style-type: decimal;
        }

        li {
            padding-top: 10px;
            line-height: 17px;
            text-align: justify;
        }

        li {
            padding-top: 10px;
            line-height: 17px;
            text-align: justify;
        }

        .regularContent {
            display: block;
            margin: 0px auto;
            width: 80%;
        }
        .Titulo {
             margin: 15px 0px;
            justify-content: center;
        }
        .Subtitulo {
            font-weight: bold;
            margin: 15px 0px 15px 0px;
        }
        p {
            margin-bottom: 16px;
            justify-content: center;
        }
    </style>
}

