@{
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}
<div class="MPThankYouPage">
    <a href="@Url.RouteUrl(MarketPlace.Models.General.Constants.C_Route_Home, null)" target="_parent">
        <img src="/Areas/Mobile/Content/Images/thankYouPageMobile.png" />
    </a>
</div>
<style type="text/css">
    .MPThankYouPage {
        position: absolute;
        top: 8px;
        left: 1px;
        z-index: 5;
    }
        .MPThankYouPage a img {
            width: 290px; height:auto;
        }
</style>