@{
    ViewBag.Title = "Contact";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}
<div style="height:4px;"></div>
<div class="iframeWrapper">
    <iframe src="http://info.carvajalinformacion.com/contactenos_salud_guru" class="remoteRegister"></iframe>
</div>

<style>
    /*************** FORMULARIO DE REGISTRO IFRAME***************/
    .iframeWrapper {
        width: 282px;
        height: 664px;
        margin: 0px auto;
        border: 1px solid;
        overflow: hidden;
    }
        iframe.remoteRegister {
            width: 309px;
            height: 1000px;
            display: block;
            overflow: hidden;
            margin: -40px 0px 0px -9px;
        }
</style>