@model SaludGuruProfile.Manager.Models.Profile.ProfileModel
@{
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div class="SocialNetworks">
    <div class='social_bookmarks_container'>
        <ul class='social_bookmarks'>
            <li class='icontwitter'>
                <a href='https://twitter.com/SaludGuru'>
                    Twitter
                </a>
            </li>
            <li class='iconfacebook'>
                <a href='https://www.facebook.com/pages/Salud-Gur%C3%BA/249567868524045?ref=ts&fref=ts'>
                    Facebook
                </a>
            </li>
            <li class='icongplus'>
                <a href='https://plus.google.com/u/0/112797242838392317228/posts'>
                    Google Plus
                </a>
            </li>
            <li class="iconlinkedin">
                <a href='https://www.linkedin.com/company/3519568?trkInfo=tas%3Asalud+gur%2Cidx%3A1-1-1&trk=tyah'>
                    LinkedIn
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="ContentBlogDesktop">
    <div class="BlogSG">
        <a href="http://blog.saludguru.com/">
            <img src="~/Areas/Mobile/Content/Images/SGMPBlogSmall.png" />
            <label>Blog Salud Gurú</label>
        </a>
    </div>
    <hr class="Separator"/>
    <div class="Desktop">
        <a href="">
            <img src="~/Areas/Mobile/Content/Images/SGMPDeskTopSmall.png" />
            <label>Versión de Escritorio</label>
        </a>
    </div>
</div>
@section inlinescripts
{
    <script type="text/javascript">

        fnInitHome({
            Baseurl: '@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_HomeImage_Baseurl].Value',
            CountMax: '@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_HomeImage_CountMax].Value'
        });
    </script>
}