@model String
@{
    //ViewBag.Title = "LoginDialog";
    //Layout = null;
}
@{
    //get login urls
    string FBUrl = MarketPlace.Models.General.InternalSettings.Instance
        [MarketPlace.Models.General.Constants.C_Settings_Login_FBUrl.Replace("{{AreaName}}", MarketPlace.Web.Controllers.BaseController.AreaName)]
        .Value;

    string GoogleUrl = MarketPlace.Models.General.InternalSettings.Instance
        [MarketPlace.Models.General.Constants.C_Settings_Login_GoogleUrl.Replace("{{AreaName}}", MarketPlace.Web.Controllers.BaseController.AreaName)]
        .Value;

    string OutlookUrl = MarketPlace.Models.General.InternalSettings.Instance
        [MarketPlace.Models.General.Constants.C_Settings_Login_WindowsLiveUrl.Replace("{{AreaName}}", MarketPlace.Web.Controllers.BaseController.AreaName)]
        .Value;

    FBUrl = FBUrl.Replace("{{UrlRetorno}}",Server.UrlEncode(Model.ToString()));
    GoogleUrl = GoogleUrl.Replace("{{UrlRetorno}}", Server.UrlEncode(Model.ToString()));
    OutlookUrl = OutlookUrl.Replace("{{UrlRetorno}}",Server.UrlEncode(Model.ToString()));
}

<div data-role="page">
    <div data-role="content">
        <div id="dialog_NotLogin" title="Ingreso requerido">
            <input type="hidden" value="@Model" id="UrlRedirect" />
            <span>Para agendar una cita debe ingresar a traves de:</span>
            <!--Render autentications-->
            <div>
                <a class="MPMobileDialogGoogleLogIn" href="@GoogleUrl" rel="external"></a>
                <a class="MPMobileDialogFacebookLogIn" href="@FBUrl" rel="external"></a>
                @*<a class="MPOutlookLogIn" href="@OutlookUrl" rel="nofollow"></a>*@
            </div>
        </div>
    </div>
</div>

