@model MarketPlace.Models.Profile.SearchViewModel

<div class="MPResultsBreadCrumbsPages">
    @{
        var ovNextUrl = string.Empty;
        var ovPreviewUrl = string.Empty;

        Uri tmpUrl = new Uri(Request.Url.ToString().Replace("?PageNumber=" + Request.QueryString["PageNumber"], string.Empty).Replace("&PageNumber=" + Request.QueryString["PageNumber"], string.Empty));

        if (Model.CurrentPage > 0)
        {
            ovPreviewUrl += tmpUrl;
            ovPreviewUrl += (string.IsNullOrEmpty(tmpUrl.Query) ? "?" : "&") + "PageNumber=" + (Model.CurrentPage - 1);
        }
        if (Model.CurrentPage < Convert.ToInt32(Math.Floor((double)Model.TotalRows / (double)Model.CurrentRowCount(MarketPlace.Web.Controllers.BaseController.AreaName))))
        {
            ovNextUrl += Request.Url.ToString().Replace("?PageNumber=" + Request.QueryString["PageNumber"], string.Empty).Replace("&PageNumber=" + Request.QueryString["PageNumber"], string.Empty);
            ovNextUrl += (string.IsNullOrEmpty(tmpUrl.Query) ? "?" : "&") + "PageNumber=" + (Model.CurrentPage + 1);
        }
    }

    @if (!string.IsNullOrEmpty(ovPreviewUrl))
    {
        <a class="MPMobilePrevious" data-add-back-btn="true" href="@ovPreviewUrl">Anterior</a>
    }
     
    @if (!string.IsNullOrEmpty(ovNextUrl))
    {
        <a class="MPMobileNext" href="@ovNextUrl">Siguiente</a>
    }
</div>
