@*<div>
    <img src="https://s3.amazonaws.com/saludguruimg/0MPImages/ContentNoFound.png" alt="Ningun Resultado" />
</div>*@


@{
    ViewBag.Title = "contenido no encontrado";
}
<div class="noResultsWrapper">
    <div id="leftColumn">
        <h1 class="lineOne">TU BÚSQUEDA NO<br />ARROJÓ RESULTADOS.</h1>
        <h2 class="lineTwo">
            PUEDES CAMBIAR LOS CRITERIOS DE BÚSQUEDA<br />
            O BUSCAR EL NOMBRE O APELLIDO DEL DOCTOR
        </h2>
        <div class="horizontalLine"></div>
    </div>
    <div class="rightColumn">
    </div>
</div>
