@*<div>
    <img src="https://s3.amazonaws.com/saludguruimg/0MPImages/ContentNoFound.png" alt="Ningun Resultado" />
</div>*@


@{
    ViewBag.Title = "contenido no encontrado";
}
<div class="noResultsWrapper">
    <div id="leftColumn">
        <label class="lineOne">TU BÚSQUEDA NO<br />ARROJÓ RESULTADOS.</label>
        <label class="lineTwo">
            PUEDES CAMBIAR LOS CRITERIOS DE BÚSQUEDA
            O BUSCAR EL NOMBRE O APELLIDO DEL DOCTOR
        </label>
        <div class="horizontalLine"></div>
    </div>
    <div class="rightColumn">
    </div>
</div>
