.ui-dialog .ui-dialog-titlebar-close {
    border: none;
    background-image: url('/Areas/Web/Content/Images/iconosSprite1.png');
    background-position: -213px -265px;
    background-size: 394px auto;
    background-repeat: no-repeat;
    background-color: none;
    background-color: #99c21d;
    height: 18px !important;
    width: 18px !important;
}

#Dialog_CancelAppointment, .ui-dialog-buttonpane {
    width: auto !important;
}

.ui-dialog .ui-dialog-content {
    border: 1px solid pink;
    width: 200px;
}

#Dialog_ConfirmAppointment {
    height: auto !important;
}

#Dialog_CancelAppointment p, .BOSelectAttendance span, #liRemindedFuture span, #divRemindedDate span,
#Dialog_SaveResult p, #Dialog_SaveAppointment p, #dialogError {
    border: none;
    line-height: 15px;
    font-size: 15px;
    font-weight: normal;
    font-family: "MuseoSans100","Trebuchet MS",Helvetica,sans-serif;
    margin: 8px 20px 9px 0px;
}

#Dialog_SaveResult p {
    line-height: 18px;
    font-size: 18px;
}

li.BOSelectAttendance {
    display: block;
    border-bottom: 1px solid #666;
    padding: 0px 0px 10px 0px;
    margin-bottom: 6px;
}

#divRemindedDate {
    margin: 7px 0px;
}

    #divRemindedDate input {
        margin-top: 8px;
        border: 1px solid #333;
        background-color: #fff;
        line-height: 15px;
        font-size: 15px;
        font-weight: normal;
        font-family: "MuseoSans100","Trebuchet MS",Helvetica,sans-serif;
        height: 24px;
        border-radius: 3px;
    }

div.ui-dialog-buttonset button {
    border: 1px solid #333;
    color: #333;
    border-radius: 3px;
    width: auto;
    height: auto;
    margin: 4px 0px 0px 14px !important;
    font-family: "MuseoSans100","Trebuchet MS",Helvetica,sans-serif;
    font-weight: bold;
    padding: 13px 28px;
}

    div.ui-dialog-buttonset button:first-child {
        background-color: #b5df30;
    }

        div.ui-dialog-buttonset button:first-child:hover {
            background-color: #99c21d;
        }

    div.ui-dialog-buttonset button:nth-child(2) {
        background-color: #ffa3a3;
    }

        div.ui-dialog-buttonset button:nth-child(2):hover {
            background-color: #ff8080;
        }


span#Name-error, span#IdentificationNumber-error, span#Mobile-error {
    display: none !important;
}

span#Name-Required, span#Identification-Required, span#Mobile-Required {
    position: absolute;
    font-size: 20px;
    right: 15px;
    color: red;
}

label.Message-Required {
    font-size: 12px !important;
    width: 100% !important;
    color: red;
    margin-top: 10px;
}

span#Name-Required {
    top: 44px;
}

span#Identification-Required {
    top: 112px;
}

span#Mobile-Required {
    top: 180px;
}
