/******************************Calendar by month*************************************/

/*weekends calendar*/
.ui-datepicker-week-end a.ui-state-default {
    background: #00ffff;
}
/*holiday*/
.specialDay_1 a.ui-state-default {
    background: #ff0000;
}
/*not available day*/
.specialDay_2 a.ui-state-default {
    background: #0026ff;
}
/*hide next and preview*/
#Calendar-Left .ui-datepicker-prev {
    display: none;
}

#Calendar-Right .ui-datepicker-prev {
    display: none;
}

#Calendar-Left .ui-datepicker-next {
    display: none;
}

#Calendar-Right .ui-datepicker-next {
    display: none;
}







/*hide calendar all day event*/
#divMeetingCalendar .fc-agenda-allday {
    display: none;
}

#divMeetingCalendar .fc-agenda-divider {
    display: none;
}

/*event personalized style*/
/*New*/
.AppointmentStatus_1201 {
    background-color: #0026ff;
}
/*Confirmed*/
.AppointmentStatus_1202 {
    background-color: #0026ff;
}
/*Canceled*/
.AppointmentStatus_1203 {
    background-color: #0026ff;
}
/*PendientAsistance*/
.AppointmentStatus_1204 {
    background-color: #0026ff;
}
/*Attendance*/
.AppointmentStatus_1205 {
    background-color: #0026ff;
}
/*NotAttendance*/
.AppointmentStatus_1206 {
    background-color: #0026ff;
}
/*BlockCalendar*/
.AppointmentStatus_1207 {
    background-color: #0026ff;
}
