/******************* GENERAL WRAPPERS *********************/

.BOAgendaModuleGreatWrapper{
	display:block;
	width:100%; height:auto;
	text-align:center;
    border:1px solid PURPLE;
}

.BOAgendaDateSelector{
	border:1px solid green;
	display:block;
	width:60%;
	height:25px;
	margin:2px auto;
	text-align:center;
}
	.BOAgendaDateSelectorLeft, .BOAgendaDateSelectorRight{
		border: 1px solid #808080;
        vertical-align: middle;
        display: inline-block;
        width: auto;
        text-align: right;
        line-height: 20px;
        float: left;
        min-width: 38%;
        height: 23px;
        font-size: 15px;
        font-weight: normal;
        color: #666;
	}
	.BOAgendaDateSelectorRight{
		float: right;
        text-align: left;
	}
/************************CALENDARIOS**************************/
.BOAgendaCalendarWrapper{
	border:1px solid red;
	float:left;
	width:390px;
	height:auto;
	vertical-align:top;
	margin-left:13px;
    display:inline-block;
}
.BOAgendaSideMonthsWrapper{
	display:block;
	border:1px solid orange;
	width:auto;
	height:auto;
}
    div.BOAgendaSideMonthsWrapper div#Calendar-Left, div.BOAgendaSideMonthsWrapper div#Calendar-Right{
        display: inline-block;
        width:178px;
        margin:0px 3px;
    }
        div.BOAgendaSideMonthsWrapper div#Calendar-Left div.ui-datepicker-inline, 
        div.BOAgendaSideMonthsWrapper div#Calendar-Right div.ui-datepicker-inline{
            display: inline-block;
            width:178px;
            border-radius: 1px;
            margin:0px;
        }
                div.BOAgendaSideMonthsWrapper div#Calendar-Left div.ui-datepicker-inline div.ui-datepicker-header,
                div.BOAgendaSideMonthsWrapper div#Calendar-Right div.ui-datepicker-inline div.ui-datepicker-header 
                {
                    height: 24px;
                    background-color: #99c21d;
                    background-image:none;
                    border: 1px solid #666;
                    border-radius: 2px;
                }
                    div.BOAgendaSideMonthsWrapper div.ui-datepicker-title {
                        height: 20px;
                        margin: 0px;
                        line-height: 16px;
                    }
                    div.BOAgendaSideMonthsWrapper div.ui-datepicker-title span.ui-datepicker-month, div.ui-datepicker-title span.ui-datepicker-year{
                        font-size: 15px;
                        font-weight: normal;
                        line-height: 16px;
                    }
/********************* DIAS DEL MES ETC.. **********************/

div#Calendar-Left table.ui-datepicker-calendar > thead > tr > th,
div#Calendar-Right table.ui-datepicker-calendar > thead > tr > th{
    font-size: 12px;
    font-weight: normal;
    width: auto;
    margin: 0px;
    padding: 8px 0px;
    border: 1px solid red;  
}
div#Calendar-Left table.ui-datepicker-calendar > tbody > tr > td,
div#Calendar-Right table.ui-datepicker-calendar > tbody > tr > td{
    font-size: 12px;
    font-weight: normal;
    width: auto;
    margin: 0px;
    padding:0px;
    border: 1px solid blue;  
}
div#Calendar-Left table.ui-datepicker-calendar > tbody > tr > td > a,
div#Calendar-Right table.ui-datepicker-calendar > tbody > tr > td > a{
height: 20px;
margin: 0px auto;
width: auto;
border: 1px solid gray;
text-align: center;
vertical-align: baseline;
line-height: 12px;
color: #666;
}
/************************ ACCIONES DE LA CITA **************************/

.BOAgendaAppointmentActions {border:1px solid #99c21d; display:block; box-shadow:2px 2px 2px; background-color:#F2F2F2;}
    .BOAgendaAppointmentActions ul{
        border:1px solid green;
        display:block;
        margin:4px auto;
        width:auto;height:auto;
    }
        .BOAgendaAppointmentActions ul li{
            border:1px solid blue;
            display:inline-block;
            margin:0px; padding:0px;
            width:114px;height:auto;
            text-align:right;
            vertical-align:top;
        }
        .BOAgendaAppointmentActions ul li.BOActionCreate, 
        .BOAgendaAppointmentActions ul li.BOActionCancel,
        .BOAgendaAppointmentActions ul li.BOActionBlock {
            background-image:url('/Areas/Web/Content/Images/iconosSprite1.png');            
            background-repeat:no-repeat;
        }
        .BOAgendaAppointmentActions ul li.BOActionCreate {
            background-position: -51px -96px; background-size: 519px auto;
        }
        .BOAgendaAppointmentActions ul li.BOActionCancel {
            background-position: -92px -96px; background-size: 519px auto;
        }
        .BOAgendaAppointmentActions ul li.BOActionBlock {
            background-position: -130px -96px; background-size: 519px auto;
        }

        .BOAgendaAppointmentActions ul li a{
            border:1px solid red;
            display:block;
            max-width:88px;height:auto;
            line-height:12px;
            vertical-align:middle;
            font-family:"MuseoSans100","Trebuchet MS", Helvetica, sans-serif;
            font-size:12px;
            font-weight:normal;
            text-transform:uppercase;
            float:right;
            background-color:#fff;
        }
/*************************CONTENEDOR CREACION DE CITAS**************************/
div#AppointmentUpsert{
    border:1px solid pink;
    display:block;    
    width:inherit;
}
/*************************VISTA CALENDARIO POR DIA**************************/
div#divMeetingCalendar {
    display:inline-block;
	border:1px solid green;
	margin:0px 0px 0px -2px;
	vertical-align:top;
    width: 70% !important;
}


	.BOAgendaCalendarViewWrapper1024{width:66%;}
	.BOAgendaCalendarViewWrapper800{45%}
	.BOAgendaCalendarViewWrapper768{30%}
	.BOAgendaCalendarViewWrapper600{20%}


/******************************Calendar by month*************************************/
/*weekends calendar*/
.ui-datepicker-week-end a.ui-state-default {
    background: #00ffff;
}
/*holiday*/
.specialDay_1 a.ui-state-default {
    background: #ff0000;
}
/*not available day*/
.specialDay_2 a.ui-state-default {
    background: #0026ff;
}
/*hide next and preview*/
#Calendar-Left .ui-datepicker-prev {
    display: none;
}

#Calendar-Right .ui-datepicker-prev {
    display: none;
}

#Calendar-Left .ui-datepicker-next {
    display: none;
}

#Calendar-Right .ui-datepicker-next {
    display: none;
}

/*hide calendar all day event*/
#divMeetingCalendar .fc-agenda-allday {
    display: none;
}

#divMeetingCalendar .fc-agenda-divider {
    display: none;
}

/*event personalized style*/
/*New*/
.AppointmentStatus_1201 {
    background-color: #0026ff;
}
/*Confirmed*/
.AppointmentStatus_1202 {
    background-color: #0026ff;
}
/*Canceled*/
.AppointmentStatus_1203 {
    background-color: #0026ff;
}
/*PendientAsistance*/
.AppointmentStatus_1204 {
    background-color: #0026ff;
}
/*Attendance*/
.AppointmentStatus_1205 {
    background-color: #0026ff;
}
/*NotAttendance*/
.AppointmentStatus_1206 {
    background-color: #0026ff;
}
/*BlockCalendar*/
.AppointmentStatus_1207 {
    background-color: #0026ff;
}
