.BOButtonContainerLong {
    display:block;

border:none;
    
    width:90%;
    height:38px;
    margin:10px auto;
}
.BOButtonContainerShort{
    display:inline-block;

border:none;
    
    width:95.7%;
    height:38px;
    margin:10px auto;
}
.BOIncludeNewSpecialty li.BOButtonContainerShort { min-width: 641px; margin-top: -12px;}
.BOButtons, .BOFormDataWrapper ul li input.BOButtons {
    display:block;
    float:right;
    border:1px solid #333;
    border-radius:3px;
    padding:6px 12px;
    cursor:pointer;
    background-color:#99c21d;
    text-transform:uppercase;
    font-family:'MuseoSans100';
    font-size:20px;
    line-height:20px;
    color:#fff;
    box-shadow:#000 2px 2px 3px;
    vertical-align:top;
}
.BOFormDataWrapper ul li input.BOButtons {
    width:auto;
}
.BOButtons:hover, .BOFormDataWrapper ul li input.BOButtons:hover {
    background-color:#ddff55;
    color:#333;
}

.BOButtonsErase {
    display:block;
    float:right;
    border:1px solid #333;
    border-radius:2px;
    padding:6px 7px 6px 34px;
    cursor:pointer;
    text-transform:uppercase;
    font-family:'MuseoSans100';
    font-size:15px;
    line-height:18px;
    color:#333;
    box-shadow:#000 2px 2px 3px;
    vertical-align:top;
    background-image:url('/Areas/Web/Content/Images/iconosSprite1.png');
    background-position:-142px -332px;
    background-size:572px auto;
}
    .BOButtonsErase:hover, .BOButtonsErase:active {
        box-shadow:#000 1px 1px 2px;
    }