.BOButtonContainerLong {
    display:block;
    border:1px solid red;
    width:90%;
    height:38px;
    margin:10px auto;
}
.BOButtonContainerShort, li.BOButtonContainerShort{
    display:inline-block;

border:none;
    
    width:auto;
    height:38px;
    margin:10px auto;
}
.BOButtons {
    display:block;
    float:right;
    border:1px solid #333;
    border-radius:3px;
    padding:6px 12px;
    cursor:pointer;
    background-color:#99c21d;
    text-transform:uppercase;
    font-family:'MuseoSans100';
    font-size:20px;
    line-height:20px;
    color:#fff;
    box-shadow:#000 2px 2px 3px;
    vertical-align:top;
}
.BOButtons:hover {
    background-color:#ddff55;
    color:#333;
}