.BOButtonContainerLong {
    display:block;

border:none;
    
    width:90%;
    height:38px;
    margin:10px auto;
}
.BOButtonContainerShort{
    background-color: #CCC;
    position: fixed;
    width: 77%;
    height: 38px;
    left: 312px;
    top: 94%;
    padding: 0px !important;
}
.BOIncludeNewSpecialty li.BOButtonContainerShort {
    min-width: 641px; margin-top: -12px;
}
.BOButtons, .BOFormDataWrapper ul li input.BOButtons, input.BOAgregarButtons{
    display:block;
    float:right;
    border:1px solid #333;
    border-radius:3px;
    padding:5px 12px;
    cursor:pointer;
    background-color:#5c9b00;
    text-transform:uppercase;
    font-family:'MuseoSans100';
    font-size:20px;
    line-height:20px;
    color:#fff;
    box-shadow:#000 2px 2px 3px;
    vertical-align:top;
    margin: 4px 25% auto auto;
}
input.BOAgregarButtons {
    margin: 4px 1.8% auto auto;
}
.BOFormDataWrapper ul li input.BOButtons {
    width:auto;
}
.BOButtons:hover, .BOFormDataWrapper ul li input.BOButtons:hover, .BOAgregarButtons:hover {
    background-color:#73c100;
    color:#333;
}


.BOButtonsErase, .BOButtonsImagesErase {
    display:block;
    float:right;
    border:1px solid #333;
    border-radius:2px;
    padding:6px 7px 6px 34px;
    cursor:pointer;
    text-transform:uppercase;
    font-family:'MuseoSans100';
    font-size:15px;
    line-height:18px;
    color:#333;
    box-shadow:#000 2px 2px 3px;
    vertical-align:top;
    background-image:url('/Areas/Web/Content/Images/iconosSprite1.png');
    background-position:-142px -332px;
    background-size:572px auto;
}
.BOButtonsImagesErase {
    float:none;
    margin:0px auto;
}
.BOButtonsImagesErase:hover {
    box-shadow:#000 1px 1px 2px;
}

    .BOButtonsErase:hover, .BOButtonsErase:active {
        box-shadow:#000 1px 1px 2px;
    }
.BOButtonContainerProfileImages {
    display: inline-block;
    border: medium none;
    width: 12%;
    height: auto;
    margin: 5px auto;
    vertical-align:top;
}
.BOButtonContainerProfileImagesErase {
    display:block;
    border: medium none;
    width: 97%;
    height: auto;
    margin: 4px auto;
    vertical-align:top;
    text-align:center;
}
.BOProfileImagesButtons {
    display:block;
    float:right;
    border:1px solid #333;
    border-radius:3px;
    padding:2px 12px;
    cursor:pointer;
    background-color:#5c9b00;
    text-transform:uppercase;
    font-family:'MuseoSans100';
    font-size:16px;
    line-height:20px;
    color:#fff;
    box-shadow:#000 2px 2px 3px;
    vertical-align:top;
}
.BOProfileImagesButtons:hover {
    background-color:#73c100;
}
/**********PESTANAS ACTIVAS Y SUBMENUS**********/

.BOMenuPrincipalPerfil div ul li.selected{
    background-color: #FFF;
    z-index: 10;
    border-right: medium none #FFF;
    position: relative;
}
    .BOMenuPrincipalPerfil div ul li.selected:first-child {
        background-color: #FFF;
        z-index: 10;
        border-right: medium none #FFF;
        position: relative;
    }

    div.BOInfoOfficeSubmenu ul li.selected{
        background-color: #ECECEC;
        z-index: 10;
        border-bottom: medium none #FFF;
        position: relative;
        text-decoration: underline;
        box-shadow: 2px -1px 2px;
    }
