/*-------Calendario por mes--------*/

/*.fc-day-number {
    margin-top: 10px;
}

body {
    line-height: 1 !important;
}

span.fc-event-title div {
    width: 100%;
    border: none;
    vertical-align: top;
    margin-top: 2px;
}

.div#divMeetingCalendar {
}*/

/*-------Calendario por semana--------*/


/*-------Calendario por día--------*/
