div#ui-datepicker-div {
    width:210px;
    border-radius: 1px;
    margin:0px;
}
    div.ui-datepicker-header {
        height: 24px;
        background-color: #99c21d;
        background-image:none;
        border: 1px solid #666;
        border-radius: 2px;
    }
    div.ui-datepicker-header a.ui-datepicker-prev, div.ui-datepicker-header a.ui-datepicker-next{
        border: none;
        border-radius:12px;
        padding: 0px;
        margin:3px 0px 0px 0px;
        width:15px;
        height:15px;
        cursor: pointer;
    }
    div.ui-datepicker-header a.ui-datepicker-prev:hover, div.ui-datepicker-header a.ui-datepicker-next:hover {
        background-image:none;
        background-color:#fff;
    }
        div.ui-datepicker-header div.ui-datepicker-title{
            line-height: 16px;
        }
    div.ui-datepicker-title span.ui-datepicker-month, div.ui-datepicker-title span.ui-datepicker-year{
        height: 20px;
        margin: 0px;
        line-height: 16px;
    }
        div.ui-datepicker-title span.ui-datepicker-month, div.ui-datepicker-title ui-datepicker-year {
            font-size: 15px;
            font-weight: normal;
            line-height: 16px;
        }
/**********************DATOS DEL DIA FECHA ETC**************************/

table.ui-datepicker-calendar > thead > tr > th{
    font-weight: normal;
    width: auto;
    margin: 0px;
    padding: 8px 0px;
    border: 1px solid red;  
}

table.ui-datepicker-calendar > thead > tr > th.ui-datepicker-week-end {
    font-weight: normal;
    width: auto;
    margin: 0px;
    padding: 8px 0px;
    border: 1px solid red;  
}
table.ui-datepicker-calendar > tbody > tr > td {
    font-size: 12px;
    font-weight: normal;
    width: auto;
    margin: 0px;
    padding:0px;
    border: 1px solid blue;
}
    table.ui-datepicker-calendar > tbody > tr > td > a {
        height: 20px;
        margin: 0px auto;
        width: auto;
        border: 1px solid gray;
        text-align: center;
        vertical-align: baseline;
        line-height: 12px;
        color: #666;
    }
/*****************SELECCION DE DURACION DE LA CITA******************/

div#ptTimeSelectCntr {
    width:210px;
    border-radius: 1px;
    margin:0px;
}
    div#ptTimeSelectCntr div.ui-widget {

    }
div.ui-widget-header {
    height: 24px;
    background-color: #99c21d;
    background-image:none;
    border: 1px solid #666;
    border-radius: 2px;
}
div#ptTimeSelectCloseCntr {
    width: 14px;
    padding: 0px !important;
    margin: 0px;
    height: 14px;
}
div#ptTimeSelectCloseCntr a{
    width: 14px;
    height: 14px;
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
}
div#ptTimeSelectCloseCntr a span{
    background-position: -34px -194px;
    border: 1px solid blue;
    width: 14px;
    height: 14px;
    margin: -4px -4px;
}
div#ptTimeSelectCloseCntr a.ui-corner-all {
    border:1px solid green;
}
div#ptTimeSelectUserTime {
    border:1px solid purple;
    line-height:8px;
    margin:-2px 0px;
}
    div#ptTimeSelectUserTime span#ptTimeSelectUserSelHr{
        border: 1px solid #800080;
        font-size: 14px;
        line-height: 11px;
    }
    div#ptTimeSelectUserTime span#ptTimeSelectUserSelMin {
        border: 1px solid #800080;
        font-size: 14px;
        line-height: 11px;

    }
    div#ptTimeSelectUserTime span#ptTimeSelectUserSelAmPm {
        border: 1px solid #800080;
        font-size: 14px;
        line-height: 11px;
    }
div.ui-widget-content {
    border: 1px solid blue;
    border-radius: 0px;
    margin: 0px;
    height: auto;
}
    div.ptTimeSelectLeftPane, div.ptTimeSelectRightPane {
        line-height: 12px;
    }
    div#ptTimeSelectSetButton {
        line-height:14px;
    }
        div#ptTimeSelectSetButton a.ui-state-default {
            line-height:14px;
            border-color:#666;
            color:#666;
        }
        div#ptTimeSelectSetButton a.ui-state-hover {
            line-height:14px;
            border-color:#666;
            color:#666;
            background-image:none !important;
            background-color:#e6e6e6;
        }
/*BLOQUE HORA Y MINUTOS*/





