.BOFormDataWrapper {
    display:block;
    width: auto;

border:none;

}
.BOFormDataWrapper ul{
    display:block;

border:none;

    margin:22px 0px 0px 80px;
    width:72%;
    min-width:348px;
    height:auto;
}
.BOFormDataWrapper ul li{
    display:block;
    padding:10px 14px;
    margin:0px;

border:none;

}
.BOFormDataWrapper ul li label{
    border:1px solid #999;
    display:inline-block;
    line-height:18px;
    font-weight:bold;
    background-color:#e6e6e6;
    padding:4px 0px;
    width:40%;
    text-align:center;
}
.BOFormDataWrapper ul li input{
    display:inline-block;
    border:1px solid #999;
    padding:5px 0px;
    text-align:left;
    background-color:#fff;
    width:55%;
}
.BOFormDataWrapper ul li select{
    display:inline-block;
    border:1px solid #999;
    padding:0px;
    text-align:left;
    background-color:#fff;
    width:55%;
    height:28px;
    vertical-align:top;
}
.BOFormDataWrapper ul li textarea{
    display:inline-block;
    border:1px solid #999;
    text-align:justify;
    background-color:#fff;
    width:55%;
    height:100px;
    vertical-align:top;
    line-height: 15px;
    font-size: 14px;
}
    .BOFormDataWrapper ul h3{
        display: block;
        margin: 0px 0px 0px 16px;
        width: auto;
        font-size: 20px;
        line-height: 20px;
    }




    .BOFormDataWrapper ul li p{
        display:inline-block;
        width:auto;
        margin:0px 4px;
    }
    .BOFormDataWrapper ul li input[type="radio"]{
        display:inline-block;
        width:auto;
    }
    .BOFormDataWrapper ul li input[type="checkbox"] {
        display:inline-block;
        width:auto;
        margin-left:50px;
    }

    /******************FORMS AGENDA >> CALENDARIOS VISTAS ETC.******************/
div#AppointmentUpsert ul{
    display:block;
    margin:2px 0px;
    width:100%;
    min-width:348px;
    height:auto;
}
div#AppointmentUpsert ul li{
    display:block;
    padding:4px 0px;
    margin:0px;
border:1px solid grey;
}
                div#AppointmentUpsert ul li:first-child{
                    background-color:#800066;
                    width:100%; height:28px;
                    padding:0px;
                }
    div#AppointmentUpsert ul > li > span{
        font-size:14px;
        color:#fff;
        line-height:26px;
    }
    div#AppointmentUpsert ul > li > span:first-child {
        float:left; margin-left:16px;
    }
    div#AppointmentUpsert ul > li > span:nth-child(2n) {
        float:right; margin-right:16px;
    }
    div#AppointmentUpsert ul > li > h4{
        display:block;
        border-bottom:1px solid #800066;
        color:#800066;
        line-height:15px;
        text-align:left;
        margin-left:12px;
        width:94%;
        height:20px;
    }
div#AppointmentUpsert ul li label{
    display: inline-block;
    line-height: 18px;
    font-size: 14px;
    background-color: #E6E6E6;
    padding: 1px;
    width: 38%;
    text-align: left;
}
div#AppointmentUpsert ul li input{
    display: inline-block;
    border: 1px solid #999;
    padding: 0px 3px;
    text-align: left;
    background-color: #FFF;
    width: 54%;
    height: 21px;
    font-size: 14px;
}
div#AppointmentUpsert ul li select{
    display: inline-block;
    border: 1px solid #999;
    padding: 0px;
    text-align: left;
    background-color: #FFF;
    width: 54%;
    height: 20px;
    vertical-align: top;
    font-size: 15px;
}
div#AppointmentUpsert ul li textarea{
    display:inline-block;
    border:1px solid #999;
    text-align:justify;
    background-color:#fff;
    width:55%;
    height:100px;
    vertical-align:top;
    line-height: 15px;
    font-size: 14px;
}
div#AppointmentUpsert ul li > span.ui-spinner{
    height: 22px;
    width: 54%;
    margin: 0px;
    display: inline-block;
    padding: 0px;
    float: none;
    border-radius: 0px;
}
    div#AppointmentUpsert ul li > span.ui-spinner > input#Duration {
        width: 92%;
        padding: 0px;
        height: 20px;
        margin: -9px 0px 0px -18px;
        color: #333;
    }

/************************NUEVOS PACIENTES EN LA CITA***********************/
div#AppointmentUpsert ul > li > ul#lstPatient {
    display:block;
    border:1px solid green;
    width:100%;
    height:auto;
    margin:0px; padding:0px;
}



/************************BARRITA DE LOS COMANDOS***************************/
        div#AppointmentUpsert div.BOAgendaCalendarAppointmentCommands{
            background-color:#f2f2f2;
            display:block;
            height:34px;
            width:100%;
        }
            div#AppointmentUpsert div.BOAgendaCalendarAppointmentCommands span{
                background-image:url('/Areas/Web/Content/Images/iconosSprite1.png');
                display:inline-block;
                height:26px;
                width:auto;
                border:1px solid pink;
                margin:4px 0px;
                text-align:right;
                padding-left: 30px;
                line-height: 23px;
                font-size: 14px;
                color: #333;
            }
                div#AppointmentUpsert div.BOAgendaCalendarAppointmentCommands span.AppointmentActionsCancel {
                    background-position:-278px -346px; background-size:515px auto;
                }
                div#AppointmentUpsert div.BOAgendaCalendarAppointmentCommands span.AppointmentActionsConfirm {
                    background-position:-282px -321px; background-size:527px auto;
                }
                div#AppointmentUpsert div.BOAgendaCalendarAppointmentCommands span.AppointmentActionsAccept {
                    background-position:-280px -241px; background-size:515px auto;
                }
                div#AppointmentUpsert div.BOAgendaCalendarAppointmentCommands span.AppointmentActionsNew {
                    background-position:-278px -278px; background-size:515px auto;
                }
            div#AppointmentUpsert div.BOAgendaCalendarAppointmentCommands span > a{
                background-color: #F2F2F2;
                height: 24px;
                display: block;
            }

    div#AppointmentUpsert ul h3{
        display: block;
        margin: 0px 0px 0px 16px;
        width: auto;
        font-size: 20px;
        line-height: 20px;
    }
    div#AppointmentUpsert ul li p{
        display:inline-block;
        width:auto;
        margin:0px 4px;
    }
    .BOAppointmentsFormDataWrapper ul li input[type="radio"]{
        display:inline-block;
        width:auto;
    }
    .BOAppointmentsFormDataWrapper ul li input[type="checkbox"] {
        display:inline-block;
        width:auto;
        margin-left:50px;
    }




