.BOFormDataWrapper {
    display:block;
    width: auto;

border:none;

}
.BOFormDataWrapper ul{
    display:block;

border:none;

    margin:22px 0px 0px 80px;
    width:72%;
    min-width:348px;
    height:auto;
}
.BOFormDataWrapper ul li{
    display:block;
    padding:10px 14px;
    margin:0px;

border:none;

}
.BOFormDataWrapper ul li label{
    border:1px solid #999;
    display:inline-block;
    line-height:18px;
    font-weight:bold;
    background-color:#e6e6e6;
    padding:4px 0px;
    width:40%;
    text-align:center;
}
.BOFormDataWrapper ul li input{
    display:inline-block;
    border:1px solid #999;
    padding:5px 0px;
    text-align:left;
    background-color:#fff;
    width:55%;
}
.BOFormDataWrapper ul li select{
    display:inline-block;
    border:1px solid #999;
    padding:0px;
    text-align:left;
    background-color:#fff;
    width:55%;
    height:28px;
    vertical-align:top;
}
.BOFormDataWrapper ul li textarea{
    display:inline-block;
    border:1px solid #999;
    text-align:justify;
    background-color:#fff;
    width:55%;
    height:100px;
    vertical-align:top;
    line-height: 15px;
    font-size: 14px;
}
    .BOFormDataWrapper ul li p{
        display:inline-block;
        width:auto;
        margin:0px 4px;
    }
    .BOFormDataWrapper ul li input[type="radio"]{
        display:inline-block;
        width:auto;
    }
    .BOFormDataWrapper ul li input[type="checkbox"] {
        display:inline-block;
        width:auto;
        margin-left:50px;
    }