.headerMainWrapper {

border:none;

    width:100%;
    height:130px;
}
.headerTopWrapper{
border:none;
    height:34px;
}
.profilesListWrapper {
    display:inline-block;
border:none;
    width:28%;
    height:34px;
    vertical-align:top;
}
    .profilesListWrapper select{
        border:1px solid yellow;
        width:100%;
        height:34px;
        color:#333;
        font-size:12px;
    }
    .profilesListWrapper select option{
        display:block;
        background-color:red;
    }
    .profilesListWrapper select option:hover{
        display:block;
        background-color:#808080;
    }
.searchBox{
    display:inline-block;
                border:none;
    width:22%;
    height:34px;
    margin-left:-5px;
    background-image:url('/Areas/Web/Content/Images/BOTopBarLeftTipLong.png');
background-repeat: no-repeat;
background-position:98% -1px;
background-size: 450px 34px;
}
.searchBox input{
    display:inline-block;
    border:1px solid #808080;
    background-color:#fff;
    width:80%;
    height:25px;
    margin:4px 0px 0px 6px;
    border-radius:12px;
    background-image:url('/Areas/Web/Content/Images/magGlassSmall.png');
    background-repeat:no-repeat;
    background-position:95% 1px;
    background-size:25px 20px;
    padding:0px 0px 0px 10px;
    vertical-align:top;
}
.userNotificationWrapper{
    float:right;
    width:auto;
    height:34px;
    margin-right:0px;
border:none;
}
    .notificationsWrapper{
        display:inline-block;
border:none;
        width:66px;
        height:34px;
        margin:0px -6px 0px 0px;
        vertical-align:top;
background-image:url('/Areas/Web/Content/Images/BOTopBar3.png');
background-repeat:no-repeat;
background-position:0px 0px;
background-size:66px 34px;
    }
    .notificationsWrapper a{
        display:inline-block;
border:none;
        width:26px;
        height:27px;
        font-weight:bold;
        font-size:13px;
        vertical-align:top;
        margin:4px 0px 0px 30px;
        text-decoration:none;
        color:red;
background-image:url('/Areas/Web/Content/Images/iconosSprite1.png');
background-repeat:no-repeat;
background-position:-250px -216px;
background-size:auto auto;
text-align:right;
line-height: 6px;
    }
    .userOptionsWrapper {
        display:inline-block;
border:none;
        width:268px;
        height:34px;
        margin:0px 0px 0px 0px;
        vertical-align:top;
background-image:url('/Areas/Web/Content/Images/BOTopBar4.png');
background-repeat:repeat-x;
    }
    .userOptionsWrapper div{
border:none;
    }
        .arrowDownUserOptions {
            display:inline-block;
            width:16px;
            height:17px;
            vertical-align:top;
            margin:8px 3px 4px 6px;
background-image:url('/Areas/Web/Content/Images/iconosSprite1.png');
background-repeat:no-repeat;
background-position:-41px -6px;
        }
        .userOptionsWrapper label{
            display:inline-block;
border:none;
            margin:10px 0px 0px 0px;
            vertical-align:top;
            color:#4d4d4d;
            font-size:14px;
            width:175px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
line-height: 14px;
        }
        .userOptionsWrapper img{
border:none;
            width:28px;
            height:28px;
            margin:3px 0px 0px 12px;
        }

#divUserMenu {
    border:1px solid grey;
    width:120px;
    height:auto;
    position:relative;
    z-index:10;
    background-color:#fff;
}
    #divUserMenu ul li{
border:none;
        border-bottom:1px solid #333;
        height:auto;
        cursor:pointer;
    }
    #divUserMenu ul li:hover{
        background-color:#e6e6e6;
    }
    #divUserMenu ul li a{
    font-size:13px;
    line-height:33px;
    color:#4d4d4d;
    display: block;
    margin-left:5px;
    }
    #divUserMenu ul li a:hover{text-decoration:none;}


/*********************** MAIN MENU **********************/

.mainMenuWrapper {

border:none;

    width:100%;
    float:right;
    margin-top:10px;
}
.HeaderLogoSaludGuru {
    display:inline-block;
border:none;
	padding: 0px;
	margin: 0px 0px 0px 37px;
	width: 90px; height:57px;
	background-image:url('/Areas/Web/Content/Images/logoSaludGuruSmall.png');
	background-repeat:no-repeat;
    background-size:87px 54px;
}
.mainMenuItemWrapper{
    display:block;

border:none;

    width:auto;
    height:83px;
    background-color:#fff;
    float:right;
}
.mainMenuItemWrapper li{
    border:1px solid grey;
    display:inline-block;
    height:54px;
    padding:2px 6px;
    margin-left:-5px;
    vertical-align:top;
    text-align:center;
    cursor:pointer;
    background-color:#fff;
    
}
.mainMenuItemWrapper li:hover, .mainMenuItemWrapper li:active{
    border:1px solid grey;
    display:inline-block;
    height:58px;
    padding:2px 6px;
    margin:-4px 0px 0px -5px;
    vertical-align:top;
    text-align:center;
    cursor:pointer;
    box-shadow:2px 2px 2px;
    position:relative;
    z-index:10;
}


/**************** ICONO Y LINK PARA CADA CATEGORIA DEL MENU PRINCIPAL ****************/
/* ADMINISTRAR */
.mainMenuItemWrapper li.admin a{
border:none;
    display:inline-block;
    height:55px;
    font-family:"MuseoSans100","Trebuchet MS", Helvetica, sans-serif;
    text-transform:uppercase;
    font-size:12px;
    line-height:86px;
    color:#333;
    text-decoration:none;
background-image:url('/Areas/Web/Content/Images/iconosMainMenu.png');
background-repeat:no-repeat;
background-position:13px -387px;
background-size:50px 509px;
}
.mainMenuItemWrapper li.admin a:hover, .mainMenuItemWrapper li.admin a:active{
    background-image:url('/Areas/Web/Content/Images/iconosMainMenuHover.png');
}
/* DASHBOARD */
.mainMenuItemWrapper li.dashboard a{
border:none;
    display:inline-block;
    height:55px;
    font-family:"MuseoSans100","Trebuchet MS", Helvetica, sans-serif;
    text-transform:uppercase;
    font-size:12px;
    line-height:86px;
    color:#333;
    text-decoration:none;
background-image:url('/Areas/Web/Content/Images/iconosMainMenu.png');
background-repeat:no-repeat;
background-position:12px -315px;
background-size:50px 509px;
}
.mainMenuItemWrapper li.dashboard a:hover, .mainMenuItemWrapper li.dashboard a:active{
    background-image:url('/Areas/Web/Content/Images/iconosMainMenuHover.png');
}
/* PERFIL */
.mainMenuItemWrapper li.perfil a{
border:none;
    display:inline-block;
    width:60px;
    height:55px;
    font-family:"MuseoSans100","Trebuchet MS", Helvetica, sans-serif;
    text-transform:uppercase;
    font-size:12px;
    line-height:86px;
    color:#333;
    text-decoration:none;
background-image:url('/Areas/Web/Content/Images/iconosMainMenu.png');
background-repeat:no-repeat;
background-position:5px -12px;
background-size:50px 509px;
}
.mainMenuItemWrapper li.perfil a:hover, .mainMenuItemWrapper li.perfil a:active{
    background-image:url('/Areas/Web/Content/Images/iconosMainMenuHover.png');
}
/* AGENDA */
.mainMenuItemWrapper li.agenda a{
border:none;
    display:inline-block;
    width:60px;
    height:55px;
    font-family:"MuseoSans100","Trebuchet MS", Helvetica, sans-serif;
    text-transform:uppercase;
    font-size:12px;
    line-height:86px;
    color:#333;
    text-decoration:none;
background-image:url('/Areas/Web/Content/Images/iconosMainMenu.png');
background-repeat:no-repeat;
background-position:5px -177px;
background-size:50px 509px;
}
.mainMenuItemWrapper li.agenda a:hover, .mainMenuItemWrapper li.agenda a:active{
    background-image:url('/Areas/Web/Content/Images/iconosMainMenuHover.png');
}
/*PACIENTES*/
.mainMenuItemWrapper li.pacientes a{
border:none;
    display:inline-block;
    height:55px;
    font-family:"MuseoSans100","Trebuchet MS", Helvetica, sans-serif;
    text-transform:uppercase;
    font-size:12px;
    line-height:86px;
    color:#333;
    text-decoration:none;
background-image:url('/Areas/Web/Content/Images/iconosMainMenu.png');
background-repeat:no-repeat;
background-position:6px -91px;
background-size:50px 509px;
}
.mainMenuItemWrapper li.pacientes a:hover, .mainMenuItemWrapper li.pacientes a:active{
    background-image:url('/Areas/Web/Content/Images/iconosMainMenuHover.png');
}
    /*.mainMenuItemWrapper li:first-child{
        margin:0px;
    }*/
/*.mainMenuItemWrapper li img {
    display:block;
    height:32px;
    margin:0px auto 2px auto;    
}*/

.subMenuAdministrar {
   border-bottom:4px solid #9d046f;
} 
.subMenuAgenda {
   border-bottom:4px solid #99d50e;
}
.subMenuAdministrar, .subMenuAgenda{
    display:none;
    position:absolute;
    top:100px;
    left:0%;
    height:30px;
    width:100%;
    min-width:800px;
    font-family:"MuseoSans100","Trebuchet MS", Helvetica, sans-serif;
    text-transform:uppercase;
    font-size:12px;
        text-align:right;
        margin-right:8%;
}
.subMenuAdministrar li, .subMenuAdministrar li:hover, .subMenuAdministrar li:active, .subMenuAgenda li, .subMenuAgenda li:hover, .subMenuAgenda li:active{
    display:inline-block;
    margin:0px 0px 0px -3px;
    padding:7px 12px;
    height:30px;
    width:auto;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-bottom: none;
    background-color:rgba(255, 255, 255, 0.7);
}
    .subMenuAdministrar li:hover, .subMenuAdministrar li:active, .subMenuAgenda li:hover, .subMenuAgenda li:active {
        box-shadow:none;
        background-color:#fff;
    }

    .subMenuAdministrar li>a, .subMenuAgenda li>a{
        margin:0px; padding:0px;
border:none;
        line-height:18px;
        display:block;
        color:#333;
    }
    .subMenuAdministrar li>a:hover, .subMenuAgenda li>a:hover {
        text-decoration:underline;
    }






