@model MarketPlace.Models.Appointment.AppointmentViewModel

<div>
    <ul>
        <li>
            <div>
                @foreach (var item in Model.PatientGroup)
                {
                    if (Model.PatientGroup.IndexOf(item) == 0)
                    {
                        <label>Yo</label>
                        <input type="radio" id="SelectedItem" name="SelectedItem" value="@item.PatientPublicId" checked="checked">
                    }
                    <label>@item.Name @item.LastName</label>
                    <input type="radio" id="SelectedItem" name="SelectedItem" value="@item.PatientPublicId">
                }
            </div>
        </li>
        <li>
            <input id="isSomeBody" type="button" name="Btn" value="Alguien más" />
        </li>
    </ul>
</div>

@*<a href="~/ControllersApi/AppointmentApiController.cs">~/ControllersApi/AppointmentApiController.cs</a>*@

<div id="NewPatient" style="display:none;">
    <form id="CreatePatientForm" method="post" name="CreatePatientForm" action="/api/AppointmentApi?UpsertAction=true">
        <ul>
            <li>
                <label>Nombre</label>
                <input type="text" id="Name" name="Name" />
            </li>
            <li>
                <label>Apellido</label>
                <input type="text" id="LastName" name="LastName" />
            </li>
            <li>
                <label>Identificación</label>
                <input type="text" id="Identification" name="Identification" />
            </li>
            <li>
                <label>Fecha de nacimiento</label>
                <input type="text" id="Birthday" name="Birthday" />
            </li>
            <li>
                <label>Sexo</label>
                <div>
                    <label>Masculino</label>
                    <input type="checkbox" id="GenderMale" name="GenderMale" />
                    <label>Femenino</label>
                    <input type="checkbox" id="GenderFemale" name="GenderFemale" />
                </div>
            </li>
        </ul>
        <a href="javascript:CreatePatient();">Guardar</a>
    </form>
</div>
