<div class="MPMainWrapper">
    <div class="MPTextWrapper">
        <a href="">Quienes somos</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="">Contacto</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="">Solicitar un perfil gratis</a>&nbsp;
        <a href="">Terminos legales</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="">Aveas Data</a>
    </div>
</div>