@model MarketPlace.Models.Profile.ProfileViewModel

@{
    //get profile text
    var ovProfileText = Model.CurrentProfile.ProfileInfo.
            Where(x => x.ProfileInfoType == SaludGuruProfile.Manager.Models.enumProfileInfoType.ProfileText).
            Select(x => x.LargeValue).
            DefaultIfEmpty(string.Empty).
            FirstOrDefault();

    //get education text
    var ovProfileEducation = Model.CurrentProfile.ProfileInfo.
            Where(x => x.ProfileInfoType == SaludGuruProfile.Manager.Models.enumProfileInfoType.Education).
            Select(x => x.LargeValue).
            DefaultIfEmpty(string.Empty).
            FirstOrDefault();

    //get certification text
    var ovProfileCertification = Model.CurrentProfile.ProfileInfo.
            Where(x => x.ProfileInfoType == SaludGuruProfile.Manager.Models.enumProfileInfoType.Certification).
            Select(x => x.LargeValue).
            DefaultIfEmpty(string.Empty).
            FirstOrDefault();

}

@if (!Model.RenderScripts)
{
    <span style="display:none;" class="MPProfileNoInfo">Este Profesional no Tiene Contenido Relacionado</span>
    <div>
        <ul>
            @if (!string.IsNullOrEmpty(ovProfileText))
            {
                <li><a id="divProfileText_sel" href="javascript:;">Perfil profesional</a></li>
            }
            @if (!string.IsNullOrEmpty(ovProfileEducation))
            {
                <li><a id="divEducation_sel" href="javascript:;">Educación</a></li>
            }
            @if (!string.IsNullOrEmpty(ovProfileCertification))
            {
                <li><a id="divCertification_sel" href="javascript:;">Acreditaciones</a></li>
            }
        </ul>
        @if (!string.IsNullOrEmpty(ovProfileText))
        {
            <div id="divProfileText" class="selProfileDescriptions">
                <p>@ovProfileText.Trim()</p>
            </div>
        }
        @if (!string.IsNullOrEmpty(ovProfileEducation))
        {
            <div id="divEducation" class="selProfileDescriptions">
                <p>@ovProfileEducation.Trim()</p>
            </div>
        }
        @if (!string.IsNullOrEmpty(ovProfileCertification))
        {
            <div id="divCertification" class="selProfileDescriptions">
                <p>@ovProfileCertification.Trim()</p>
            </div>
        }
    </div>
}
else
{
    <script type="text/javascript">
        $(document).ready(function () {
            ProfileDetailObject.Init({
                ProfileTextId: 'divProfileText',
                ProfileEducationId: 'divEducation',
                ProfileCertificationId: 'divCertification',
            });
            ProfileDetailObject.RenderAsync();
        });
    </script>
}