@model MarketPlace.Models.Profile.ProfileViewModel

@if (!Model.RenderScripts)
{
    <div id="divProfileSlide">
        <!-- Loading Screen -->
        <div u="loading">
            <div class="sliderLoad">
            </div>
            <div class="sliderLoad2">
            </div>
        </div>

        <!-- Slides Container -->
        <div u="slides" class="sliderContainer">
            @foreach (SaludGuruProfile.Manager.Models.Profile.ProfileInfoModel oImg in Model.CurrentProfile.ProfileInfo.Where(x => x.ProfileInfoType == SaludGuruProfile.Manager.Models.enumProfileInfoType.ImageGeneral).ToList())
            {
                <div>
                    <img u="image" src="@oImg.Value" />
                </div>
            }
            <!-- Example to add fixed static share buttons in slider BEGIN -->
            <!-- Remove it if no need -->
            <div u="any" class="MPSliderDoctorName">
                <span>
                    @Model.CurrentProfile.Name
                    @Model.CurrentProfile.LastName
                </span>
            </div>
            <!-- Example to add fixed static share buttons in slider END -->
        </div>

        <!-- Thumbnail Navigator Skin Begin -->
        <div u="thumbnavigator" class="jssort11 MPSliderjssort11">
            <div u="slides" class="MPSliderjssort11Cursor">
                <div u="prototype" class="p MPSliderjssort11P">
                    <thumbnailtemplate class="MPSliderThNail"></thumbnailtemplate>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <script type="text/javascript">
        $(document).ready(function () {
            ProfileSliderObject.Init();
            ProfileSliderObject.RenderAsync();
        });
    </script>
}

<!-- Thumbnail Item Skin Begin -->
<style type="text/css">
    /* jssor slider thumbnail navigator skin 11 css */
    /*
                .jssort11 .p            (normal)
                .jssort11 .p:hover      (normal mouseover)
                .jssort11 .pav          (active)
                .jssort11 .pav:hover    (active mouseover)
                .jssort11 .pdn          (mousedown)
                */
    
</style>
