@model MarketPlace.Models.Profile.ProfileViewModel

@if (!Model.RenderScripts)
{
    <div class="ContentImages">
        @foreach (SaludGuruProfile.Manager.Models.Profile.ProfileInfoModel oImg in Model.CurrentProfile.ProfileInfo.Where(x => x.ProfileInfoType == SaludGuruProfile.Manager.Models.enumProfileInfoType.ImageGeneral).ToList())
        {
            @*<a class="lightbox" href="#goofy+@oImg.ProfileInfoId">
                    <img src="@oImg.Value" />
                </a>
                <div class="lightbox-target" id="goofy+@oImg.ProfileInfoId">
                    <img src="@oImg.Value" />
                    <a class="lightbox-close" href="#"></a>
                </div>*@
            <a href="@oImg.Value" rel="prettyPhoto[pp_gal]"><img src="@oImg.Value" height="60px" /></a>
        }
    </div>
}
else
{
    <script type="text/javascript">
        $(document).ready(function () {
            //ProfileSliderObject.Init({
            //    DivId: 'divProfileSlide',
            //});
            //ProfileSliderObject.RenderAsync();
        });
    </script>
}
