@model MarketPlace.Models.Profile.ProfileViewModel

@if (!Model.RenderScripts)
{
    <div id="divProfileSlide">
        <!-- Loading Screen -->
        <div u="loading">
            <div class="sliderLoad">
            </div>
            <div class="sliderLoad2">
            </div>
        </div>

        <!-- Slides Container -->
        <div u="slides" class="sliderContainer">
            @foreach (SaludGuruProfile.Manager.Models.Profile.ProfileInfoModel oImg in Model.CurrentProfile.ProfileInfo.Where(x => x.ProfileInfoType == SaludGuruProfile.Manager.Models.enumProfileInfoType.ImageGeneral).ToList())
            {
                <div>
                    <img u="image" src="@oImg.Value" />
                </div>
            }
        </div>

        <!-- Thumbnail Navigator Skin Begin -->
        <div u="thumbnavigator" class="jssort11 MPSliderjssort11">
            <div u="slides" class="MPSliderjssort11Cursor">
                <div u="prototype" class="p MPSliderjssort11P">
                    <thumbnailtemplate class="MPSliderThNail"></thumbnailtemplate>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <script type="text/javascript">
        $(document).ready(function () {
            ProfileSliderObject.Init();
            ProfileSliderObject.RenderAsync();
        });
    </script>
}
