@model List<SaludGuru.Notifications.Models.NotificationModel>
@{
    ViewBag.Title = "NotificationProfileList";
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";
}

@{
    //get json office data
    string oNotifications = (new System.Web.Script.Serialization.JavaScriptSerializer()).
        Serialize(Model.
            Select(x => new
            {
                CreateDate = x.CreateDate,
                PublicUserIdFrom = x.PublicUserIdFrom,
                Body = x.Body,
                UserName = x.UserName
            }).ToList());
}


<div class="BOProfileFormWrapper">
    <h3>Notificaciones</h3>
    <div id="divGridNotifications"></div>
</div>
@section inlinescripts
{
    <script type="text/javascript">
        var vDataNotifications = @Html.Raw(oNotifications)
        $(document).ready(function () {
            //start office grid
            debugger;
            ProfileNotificationsListGrid('divGridNotifications', vDataNotifications);
        });
    </script>
}


