@model BackOffice.Models.Office.OfficeUpsertModel
@{
    ViewBag.Title = "OfficeTreatmentList";
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";
}

<div class="BOProfileMenuWrapper">
    @Html.Partial(MVC.Web.Shared.Views._P_ProfileMenu, null)
</div>
<div>
    @if (Model.CurrentOffice != null)
    {
        Html.RenderPartial(MVC.Web.Shared.Views._P_ProfileOfficeMenu,
            new BackOffice.Models.Office.OfficeMenuModel()
            {
                OfficeInfo = Model.CurrentOffice,
                SelectedMenu = BackOffice.Models.General.enumOfficeMenu.OfficeInfo
            });
    }
</div>
<div class="BOProfileFormWrapper">
    <div id="divGridOfficeTreatment" style="width:800px;"></div>
    <div style="height:100px;"></div>
</div>
@{
    //get json office data
    string oOfficeTreatmentData = (new System.Web.Script.Serialization.JavaScriptSerializer()).
        Serialize(Model.CurrentOffice.RelatedTreatment.
            Select(x => new
            {
                UrlToUpdate = Url.Action(MVC.Profile.ActionNames.OfficeUpsert, MVC.Profile.Name,
                    new { ProfilePublicId = Model.Profile.ProfilePublicId }),
                Name = x.Name,
                IsDefault = "No",
                LastModify = "",
                CreateDate = ""
            }).ToList());

    //get create url
    string oCreateUrl = Url.Action(MVC.Profile.ActionNames.OfficeUpsert, MVC.Profile.Name,
        new
        {
            ProfilePublicId = Model.Profile.ProfilePublicId
        });
    
}
@section inlinescripts
{
    <script type="text/javascript">
        var vDataOffice = @Html.Raw(oOfficeData)
        $(document).ready(function () {
            //start office grid
            OfficeListGrid('divGridOffice', '@oCreateUrl', vDataOffice);
        });
    </script>
}
