@model BackOffice.Models.Profile.ProfileUpSertModel
@{
    ViewBag.Title = "ProfilePreview";
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";

    string ProfileUrl = BackOffice.Models.General.InternalSettings.Instance[BackOffice.Models.General.Constants.C_Settings_Profile_MarketPlaceUrl].Value;
    ProfileUrl = ProfileUrl.Replace("{ProfileName}", BackOffice.Web.Controllers.BaseController.RemoveAccent(Model.Profile.Name + " " + Model.Profile.LastName));
    ProfileUrl = ProfileUrl.Replace("{SpecialtyName}", BackOffice.Web.Controllers.BaseController.RemoveAccent(Model.Profile.DefaultSpecialty == null ? string.Empty : Model.Profile.DefaultSpecialty.Name));
    ProfileUrl = ProfileUrl.Replace("{ProfilePublicId}", Model.Profile.ProfilePublicId);

    string ProfileFBUrl = BackOffice.Models.General.InternalSettings.Instance[BackOffice.Models.General.Constants.C_Settings_Profile_FBUrl].Value;
    ProfileFBUrl = ProfileFBUrl.Replace("{ProfilePublicId}", Model.Profile.ProfilePublicId);
}

<div class="BOProfilesGeneralWrapper">
    <div class="BOProfileMenuWrapper">
        @Html.Partial(MVC.Web.Shared.Views._P_ProfileMenu, Model.Profile)
    </div>
    <div class="BOProfileFormWrapper">
        <div class="BOFormDataWrapper">
            <h3>Vista preliminar</h3>
            <ul>
                <li>
                    <label>Perfil Guru:</label>
                    <input type="text" value="@ProfileUrl" />
                </li>
                <li>
                    <label>Perfil Guru Facebook:</label>
                    <input type="text" value="@ProfileFBUrl" />
                </li>
                <li>
                    <iframe src="@ProfileFBUrl" width="785px" height="800px" frameborder="0"></iframe>
                </li>
            </ul>
        </div>
    </div>
</div>
