@model BackOffice.Models.Profile.ProfileUpSertModel
@{
    ViewBag.Title = "EditImageProfile";
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";
}

<div class="BOProfilesGeneralWrapper">
    <div class="BOProfileMenuWrapper">
        @Html.Partial(MVC.Web.Shared.Views._P_ProfileMenu, Model.Profile)
    </div>
    <div class="BOProfileFormWrapper">
    </div>
</div>


