@model SaludGuruProfile.Manager.Models.Profile.ProfileModel
@{
    ViewBag.Title = "RelatedProfileSearch";
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";
}

<div class="BOProfileMenuWrapper">
    @Html.Partial(MVC.Web.Shared.Views._P_ProfileMenu, Model)
</div>

<div id="templates" style="display:none;">
    <div id="templateDelete">
        <form method="post" action="@(Url.Action(MVC.Profile.ActionNames.RelatedProfileSearch, MVC.Profile.Name,
                new
                {
                    ProfilePublicId = Model.ProfilePublicId
                }))">
            <!--hiden fields-->
            <input type="hidden" name="UpsertAction" id="UpsertAction" value="true" />
            <input type="hidden" id="ProfileRoleId" name="ProfileRoleId" value="${ProfileRoleId}" />
            <input class="BOButtonsErase" type="submit" value="Borrar" />
        </form>
    </div>
</div>

@{
    //get json office data
    string oRelatedProfileInfo = (new System.Web.Script.Serialization.JavaScriptSerializer()).
        Serialize(Model.ChildProfile.
            Select(x => new
            {
               Name = x.Name + "" + x.LastName,
               Email = x.ProfileInfo.Where(p => p.ProfileInfoType == SaludGuruProfile.Manager.Models.enumProfileInfoType.Email).Select(p =>p.Value)
            }).ToList());
}
@section inlinescripts
{
    <script type="text/javascript">
        var vDataRelatedProfileInfo = @Html.Raw(oRelatedProfileInfo)
        $(document).ready(function () {
            //start office grid
            RelatedProfileListGrid('divGridAutorization', vDataRelatedProfileInfo);
        });
    </script>
}


