@model BackOffice.Models.Profile.ProfileUpSertModel
@{
    ViewBag.Title = "Specialty";
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";
}

<div>
    <p>
        Seleccione su especialidad: @Html.TextBox("Specialty")
        <input type="submit" value="Agregar" name="AddSpecialty" style="height:26px;"/>     
    </p>
</div>
<div>
    
</div>

@*@Scripts.Render("~/Areas/Web/Scripts/jquery-1.10.2.js")*@
<script src="~/Areas/Web/Scripts/jquery-ui-1.10.4.custom.js"></script>
@Styles.Render("~/areas/web/content/styles/jquery-ui-1.10.4.custom.css")

@{
    var jsonSerialiser = new System.Web.Script.Serialization.JavaScriptSerializer();
    var jsonr = jsonSerialiser.Serialize(Model.SpecialtyToSelect.Select(s => new { s.CategoryId, s.Name }));
    
}

<script type="text/javascript">
    var acdata = @(Html.Raw(jsonr));
    $(document).ready(function () {
        $("#Specialty").autocomplete({
            source: acdata,
            messages: {
                noResults: "",
                results: ""
            }
        });
    })
</script>