
@{
    ViewBag.Title = "Specialty";
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";
}

<h2>Specialty</h2>
<div>

    <h2>Seleccione la especialidad:</h2>
    <input id="SpecialtySearch" type="text"/>
    <input id="SpecialtyDefault" type="radio" />

</div>
