<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSendSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ServiceSendSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ServiceSendSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://soa.inalambria.com/IMPWebServiceSend.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSendSoap"
                contract="ServiceInalambria.ServiceSendSoap" name="ServiceSendSoap" />
            <endpoint address="https://soa.inalambria.com/IMPWebServiceSend.asmx"
                binding="customBinding" bindingConfiguration="ServiceSendSoap12"
                contract="ServiceInalambria.ServiceSendSoap" name="ServiceSendSoap12" />
        </client>
    </system.serviceModel>
</configuration>