@model MedicalCalendar.Manager.Models.Appointment.AppointmentModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SaludGuru - Confirmar asistencia</title>

    <style>
        html, body {
            margin: 0px;
            height: 100%;
        }

        .Content {
            /*border: 2px solid red;*/
            display: block;
            background: linear-gradient(#fff, #ececec);
            min-width: 500px;
            height: 100%;
        }

        .Header {
            /*border: 1px solid blue;*/
            height: auto;
        }

            /*Estilos de header de página*/

            .Header img {
                width: 100px;
                height: auto;
                margin: 2% 0px 0px 1%;
            }

        /*Estilos de informacion del perfil*/

        .ProfileInfo {
            /*border: 1px solid green;*/
            height: auto;
            width: 80%;
            margin: 10px 0px 5px 10%;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.85);
            background: linear-gradient(#fff, #ececec);
        }

            .ProfileInfo img {
                width: 100px;
                margin: 10px 0px 0px 10px;
                display: inline-block;
            }

            .ProfileInfo h1 {
                width: 50%;
                display: block;
                margin: -100px 0px 0px 130px;
                font-size: 26px;
                color: #99c21d;
                font-family: "MuseoSans100","Trebuchet MS", Helvetica, sans-serif;
            }

            .ProfileInfo h2 {
                width: 90%;
                display: block;
                margin: 0px 0px 0px 130px;
                line-height: 21px;
                font-size: 18px;
                text-align: justify;
                font-family: "MyriadPro","Trebuchet MS", Helvetica, sans-serif;
            }

            .ProfileInfo p {
                width: 90%;
                margin: 60px 0px 0px 20px;
                text-align: justify;
                line-height: 21px;
                font-size: 17px;
                font-family: "MyriadPro","Trebuchet MS", Helvetica, sans-serif;
            }

        /*Estilos para las opciones*/

        .Options {
            /*border: 1px solid brown;*/
            width: 60%;
            min-width: 250px;
            height: auto;
            margin: 10px 0px 5px 22%;
        }

            .Options label {
                width: 100%;
                display: block;
                margin: 7px 0px 7px 0px;
                text-align: center;
                line-height: 21px;
                font-size: 18px;
                font-family: "MyriadPro","Trebuchet MS", Helvetica, sans-serif;
            }
    </style>
</head>
<body>
    <div class="Content">
        <div class="Header">
            <img src="/Areas/Web/Content/Images/logoSaludGuruSmall.png" />
        </div>
        <div class="ProfileInfo">
            <img src="https://s3.amazonaws.com/devsaludguruimg/0MPImages/MP_ProfileMan.png" />
            <h1>Profesional</h1>
            <h2>Especialidad por defecto</h2>
            <p>Información de la cita en la oficina "", en la dirección "", teléfono "", el día "" a la hora ""</p>
        </div>
        <div class="Options">
            <label>Se ha confirmado la cita, para ver el perfil del doctor nuevamente haz "click aquí", de lo contrario puedes regresar al "inicio"</label>
        </div>
    </div>
</body>
</html>