@{
    ViewBag.Title = "SaludGuru - Inicio";
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";
}

<div>
    <div>
        @{
            //get login urls
            string RetUrl = Url.Action(MVC.Home.ActionNames.Index, MVC.Home.Name, null, Request.Url.Scheme);
            string FBUrl = BackOffice.Models.InternalSettings.Instance
                [BackOffice.Models.Constants.C_Settings_Login_FBUrl.Replace("{{AreaName}}", BackOffice.Web.Controllers.BaseController.AreaName)]
                .Value.Replace("{{UrlRetorno}}", RetUrl);

            string GoogleUrl = BackOffice.Models.InternalSettings.Instance
                [BackOffice.Models.Constants.C_Settings_Login_GoogleUrl.Replace("{{AreaName}}", BackOffice.Web.Controllers.BaseController.AreaName)]
                .Value.Replace("{{UrlRetorno}}", RetUrl);
        }
        <!--Login section-->
        <a href="@FBUrl">login facebook</a>
        <br />
        <a href="@GoogleUrl">login gmail</a>
    </div>

</div>
