@model MarketPlace.Models.Profile.ProfileViewModel
@{
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";
}

<div>
    <!--Profile Basic Info-->
    <div>
        <!--Profile Images-->
        <div>


        </div>
        <!--Profile Basic Info Detail-->
        <div></div>
    </div>
    <!--Profile Description-->
    <div></div>
    <!--Profile Schedule-->
    <div></div>
    <!--Profile Map-->
    <div></div>
</div>

