/*********** ESTILOS DE LOS FORMULARIOS DE AGENDAMIENTO **********/
.MPFormDataWrapper {
    display: block;
    width: 100%;
}

    .MPFormDataWrapper ul {
        display: block;
        height: auto;
        border: none;
        margin: 12px 0px 0px 0px;
    }

        .MPFormDataWrapper ul li label {
            color: #759418;
            font-size: 1em !important;
        }

.ui-checkbox {
    display: inline-block;
    vertical-align: top;
    /* margin-left: -8px; */
    top: -1px;
}

form#AppointmentForm {
    text-align: left;
}

li.OfficeSelectedLi h4, 
li.InsuranceSelectedLi h4, 
li.TreatmentSelectedLi h4, 
li.MPAgendaPatientSelection h4,
li.MPAgendaButtonWrapper h4,
h4.titleNewPatient {
    height: auto;
    margin: 0px;
    line-height: 1em;
    font-size: 1.2em;
    color: #666;
    display: block;
}

#SelectedOffice-button span {
    height: 14px;
    line-height: 14px;
}

li.LegalTermsLi {
    display:block;
    text-align: center;
    width:100%;
    height:auto;
}
    .LegalTerms{
        display:inline-block !important;
        width:auto;
    }
        #LegalTerms{
            display: inline-block;
            height: auto;
            margin:-4px 0 0;
            vertical-align: top;
            width: auto;
        }
            .RedirectLegalTerms, .RedirectLegalTerms a{
                display:block;
                width:100%;
                line-height:0.8em;
                font-size:0.9em;
                color:red !important;
            }
                .RedirectLegalTerms a {
                    margin:17px auto 0 auto;
                }
            #LegalTerms-error {
                color: red !important;
                font-size: 0.8em;
                left: -299px;
                line-height: 0.8em;
                position: absolute;
                top: 18px;
                width: 367px;
                font-style:italic;
            }
                .error help-inline {
                    display:initial !important;
                }
    .MPAgendaButtonWrapper label {
        text-align: left;
        margin-left: 70px;
    }

li#officeSelectedId label {
    width: 200px !important;
}

.MPAgendaButtonAcceptDate {
    display: block !important;
    height: 38px !important;
    width: 96% !important;
    margin: 15px auto 0px !important;
    background-color: #99C21D;
    border-radius: 2px;
    border: 1px solid #666;
    color: #fff;
    font-size: 1.4em;
    font-weight: bold;
}

    .MPAgendaButtonAcceptDate:hover {
        color: #666;
        background-color: #fff;
    }
li.RedirectLegalTerms {
    margin-top: 8px;
    text-align: center;
}

    li.RedirectLegalTerms a label {
        font-size: 1em;
    }

h4.AgendaLabel {
    margin: 14px 0px 0px 0px !important;
}

.MPFormDataWrapper ul li select {
    padding: 0px;
    text-align: left;
    background-color: #fff;
    height: 28px;
    vertical-align: top;
    width: 245px;
}

.MPFormDataWrapper ul li textarea {
    text-align: justify;
    background-color: #fff;
    height: 100px;
    vertical-align: top;
}

.MPFormDataWrapper ul h3 {
    display: block;
    margin: 0px 0px 0px 16px;
    width: auto;
}

.MPFormDataWrapper ul li p {
    display: inline-block;
    width: auto;
    margin: 0px 4px;
}

.ui-radio {
    position: relative;
    margin: 0px;
    height: auto;
    width: auto;
}

.MPFormDataWrapper ul li input[type="radio"] {
    display: inline-block;
    margin: 4px 0px 0px 4px;
    width: auto;
    height: auto;
}

.MPFormDataWrapper ul li input[type="checkMPx"] {
    display: inline-block;
    width: auto;
    margin-left: 50px;
}
/************** QUIEN VA A VER AL DOCTOR **************/
#ulPatientList, .MPAgendaButtonWrapper {
    width: 100%;
    display: block;
    width: auto;
    height: auto;
}

    #ulPatientList label, .MPAgendaButtonWrapper label {
        margin: 8px 0px 2px 35px;
    }

/************** fecha hora **************/
#DateMoreInfoIdN, #SearchNexAvailableDayId {
    border: medium none;
    color: #759418;
    display: block;
    width: auto;
    height: auto;
    letter-spacing: -0.6px;
    font-weight: normal;
    text-align:center;
}

    #DateMoreInfoIdN:hover, #SearchNexAvailableDayId:hover {
        text-decoration: underline;
    }
#DateMoreInfoIdN{
    background-color: #FFF;
    margin: 9px auto;
    font-size: 1.1em;
    line-height: 0.9em;
}
#SearchNexAvailableDayId {
        background-color: #ECECEC;
    margin: 8px auto;
        font-size: 1.3em;
        text-align:center;
        line-height: 1.1em;
}

/********PACIENTE NUEVO*************/
div#NewPatientId, #FreeScheduleId {
    text-align: left;
    height: auto;
    background-color: #ececec;
    border: 1px solid #99c21d;
    border-radius: 3px;
    margin: 8px 0px 8px 0px;
}

#FreeScheduleIdForProfile {
    text-align: center;
    width: 98%;
    height: auto;
    background-color: #ececec;
    border: 1px solid #99c21d;
    border-radius: 3px;
    margin: 8px auto 8px auto;
}

.SelOfficeGrid > div > a:first-child,
.SelOfficeGrid > div > a:nth-child(2) {
    font-size: 1.1em;
}

.SelOfficeGrid > div > a:first-child {
    float: left;
    margin-left: 6px;
}

.SelOfficeGrid > div > a:nth-child(2) {
    float: right;
    margin-right: 6px;
}

#divAppointmentSchedule_Template_Grid ul li:first-child {
    text-align: center;
    margin: 12px 0px 8px 0px;
}

#divAppointmentSchedule_Template_Grid ul {
    display: block;
    width: 92%;
    text-align: center;
    color: #666;
    font-size: 1.2em;
}

#DateMoreInfoIdNN {
    border: initial;
    background: initial;
    font-size: 1em;
    line-height:1em;
    color: #759418;
    display: block;
    margin: 8px auto 8px auto;
    text-decoration: underline;
}

#DateMoreInfoIdNN:hover {
        text-decoration: underline;
}

.MPMobileOfficeInfo {
    padding: 12px 0px 12px 8px;
}

.MPMobileCloseWindow {
    background-color: #99c21d;
    background-image: url("/Areas/Mobile/Content/Images/cerrar.png");
    background-position: 4px 5px;
    background-repeat: no-repeat;
    background-size: 14px auto;
    border: 1px solid #666;
    border-radius: 10px;
    display: block;
    height: 25px;
    margin: 5px 5px 0 88%;
    vertical-align: top;
    width: 24px;
}

label.titleNewPatient {
    text-align: center;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}

label.GenderLi {
        margin: 0px 0px 0px 28px !important;
        display: inline-block;
        vertical-align: top;
}

#CreatePatientForm {
    margin: 6px 0px 0px 0px !important;
    display: block;
    width: auto;
}

    #CreatePatientForm ul {
        margin: 4px;
    }

        #CreatePatientForm ul li {
            padding: 0px;
            margin: 0px;
        }

            #CreatePatientForm ul li label {
                margin: 8px 0px 4px 0px;
                line-height: 1em;
            }

            #CreatePatientForm ul li input {
                line-height: 31px;
                padding: 0px;
                vertical-align: top;
            }

            #CreatePatientForm ul li div {
                width: 94%;
                display: inline-block;
            }

.required {
    color: red;
    vertical-align: top;
}

.GridAP div span {
    display: inline-block !important;
    width: 60% !important;
    font-size: 20px !important;
    text-align: center !important;
    margin: 10px 0px 10px 0px !important;
    height: auto !important;
    border: none !important;
    line-height: 0px !important;
}

.GridAP div a {
    display: initial;
}

.GridAP div div.k-grid-content {
    height: 341px !important;
}

.liGender div {
    width: auto !important;
    display: inline-block !important;
    margin: 0px 0px 15px 0px !important;
}

    .liGender div input {
        margin: 0px !important;
        padding: 0 !important;
        display: block !important;
    }

label.message {
    text-align: center;
}

li.liSaveNewPatient {
    text-align: center;
}

a#itemSave {
    font-size: 1.5em;
    letter-spacing: -0.9px;
}
