/******* ESTOS SON LOS ESTILOS DEL PROCESO DE AGENDAMIENTO *******/

/************Estilos bloque perfil****************/
.MPAgendaDoctorProfile {
    display: block;
    /*border: 1px solid red;*/
    text-align: left;
}
.MPAgendaDoctorProfile h6{
    font-size: 1.3em;
    line-height: 27px;
    letter-spacing: 0px;
    color: #759418;
    padding: 0px;
    margin: 0px;
    display: block;
    cursor: text;
}
ul.MPAgendaDoctorData {
    width: 100%;
    height: auto;
    padding: 6px;
    margin-top:0px !important;
}
li.ProfileImage {
    display: inline-block;
    width: auto;
    height: auto;
}
    li.ProfileImage img {
        width:72px;
        height:auto;
        display:inline-block;
    }
li.ProfileInformation {
    display: inline-block;
    width: 66%;
    text-align: left;
    vertical-align: top;
}
li.ProfileInformation h2{
    line-height: 18px;
    font-size: 1.3em !important;
    color: #759418;    
    display: block !important;
    margin: 0px 0px 0px !important;
}
    li.ProfileInformation h3 {
        line-height: 18px;
        font-size: 1.2em !important;
        display: block !important;
        margin: 0px 0px 0px !important;
    }


/****************AGENDA*********************/

#ul_GridFreeSchedule {
    margin:-30px auto 0px !important;
    width: 97%;
    text-align: left;
    display: block;
}
    #ul_GridFreeSchedule li:first-child {
        height: auto;
        margin: 35px auto 5px auto;
        line-height: 1em;
        font-size: 1.2em;
        color: #666;
        display: block;
        width: 50%;
        text-align: center;
    }
.MPFreeSchedule {
    display: inline-block;
    width: 28%;
    border: 1px solid #666;
    margin: 5px 3px;
    border-radius: 3px;
    text-align: center;
    padding: 2px;
}
    .MPFreeSchedule:hover {
        background-color:#99C21D;
    }
.MPFreeSchedule a{
    color: #444 !important;
    font-size: 0.8em;
}
#aPrevDay {
    float:left;
    margin: 0px 0px 0px 9px;
}
#aNextDay {
    float:right;
    margin: 0px 9px 0px 0px;
}