/************HOME BLOCKS**************/
.Image {
    width: 31%;
    height: auto;
    display: inline-block;
    max-width: 120px;
    min-width: 70px;
    margin: 0px;
    float: left;
}

    .Image img {
        width: 100%;
        height: auto;
    }

.ProfileInfo {
    display: inline-block;
    width: 64%;
    min-width: 160px;
    margin: 0px auto 0px 8px;
}

.Demo {
    display: block;
    width: 100%;
    height: auto;
}

    .Demo a img {
        width: 100%;
        height: auto;
        max-width: 500px;
    }

hr.featurette-divider.__loop {
    border-top: 1px solid #99c21d;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.HomeBlocks.Profile {
    display: inline-block;
}

/************SOCIAL***************/
.social_bookmarks_container {
    width: 100%;
    height: 45px;
    /* padding: 0; */
    /* position: relative; */
}

.social_bookmarks {
    /* position: relative; */
    /* float: left; */
    margin: 0px auto 0px auto;
    padding: 0;
    display: block;
    width: 195px;
}

    .social_bookmarks li {
        margin: 0px 0px 0px 3px;
        height: 45px;
        width: 45px;
        border-radius: 45px;
        list-style: none;
        float: left;
        /* padding: 0; */
        /* -webkit-transition: all 0.4s ease-in-out; */
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        /* transition: all 0.4s ease-in-out; */
    }

        .social_bookmarks li a {
            float: left;
            width: 45px;
            line-height: 24px;
            display: block;
            text-indent: -99999px;
            margin: 0px;
            outline: none;
            padding: 0;
            min-height: 45px;
            height: 100%;
            text-decoration: none;
        }

    .social_bookmarks .iconfacebook, .icongplus, .iconlinkedin, .icontwitter {
        background: url('/Areas/Mobile/Content/Images/social-network-logos.png');
        background-size: 350px;
    }

    .social_bookmarks .icontwitter {
        background-position-x: -34px;
        background-position-y: -13px;
    }

    .social_bookmarks .iconfacebook {
        background-position-x: -152px;
        background-position-y: -13px;
    }

    .social_bookmarks .icongplus {
        background-position-x: -270px;
        background-position-y: -13px;
    }

    .social_bookmarks .iconlinkedin {
        background-position-x: -34px;
        background-position-y: -92px;
    }
