/*********** ESTILOS DE LOS FORMULARIOS DE AGENDAMIENTO **********/
.MPFormDataWrapper {
    display: block;
    width: 100%;
}

    .MPFormDataWrapper ul {
        display: block;
        height: auto;
        border: none;
        margin: 12px 0px 0px 0px;
    }

        .MPFormDataWrapper ul li label {
            color: #759418;
            font-size: 1em;
        }

form#AppointmentForm {
    text-align: left;
}

li.OfficeSelectedLi h4, 
li.InsuranceSelectedLi h4, 
li.TreatmentSelectedLi h4, 
li.MPAgendaPatientSelection h4,
li.MPAgendaButtonWrapper h4,
h4.titleNewPatient{
    height: auto;
    margin:0px !important;
    line-height: 1em;
    font-size: 1.2em;
    color: #666;
    display: block;
}

#SelectedOffice-button span {
    height: 14px;
    line-height: 14px;
}
.LegalTermsLi a {
    display: inline-block;
    float: left;
}

    .MPAgendaButtonWrapper label {
        text-align: left;
        margin-left: 70px;
    }

li#officeSelectedId label {
    width: 200px !important;
}

.MPAgendaButtonAcceptDate {
    display: block !important;
    height: 38px !important;
    width: 96% !important;
    margin: 46px auto 0px !important;
    background-color: #99C21D;
    border-radius: 2px;
    border: 1px solid #666;
    color: #fff;
    font-size: 1.4em;
    font-weight: bold;
}
    .MPAgendaButtonAcceptDate:hover {
        color: #666;
        background-color:#fff;
    }
input#LegalTerms {
    display: inline-block !important;
    margin: 3px 0px 0px 32px;
}

label.AgendaLabel {
    font-weight: bold !important;
    margin: 0px;
    width: 100%;
    text-align: center;
}

.LegalTerms {
    cursor: auto;
    margin-left: 65px !important;
    margin-top: 4px !important;
    text-align: left;
}

.MPFormDataWrapper ul li select {
    padding: 0px;
    text-align: left;
    background-color: #fff;
    height: 28px;
    vertical-align: top;
    width: 245px;
}

.MPFormDataWrapper ul li textarea {
    text-align: justify;
    background-color: #fff;
    height: 100px;
    vertical-align: top;
}

.MPFormDataWrapper ul h3 {
    display: block;
    margin: 0px 0px 0px 16px;
    width: auto;
}

.MPFormDataWrapper ul li p {
    display: inline-block;
    width: auto;
    margin: 0px 4px;
}

.ui-radio {
    position: relative;
    margin: 0px;
    height: auto;
    width: auto;
}

.MPFormDataWrapper ul li input[type="radio"] {
    display: inline-block;
    margin: 4px 0px 0px 4px;
    width: auto;
    height: auto;
}

.MPFormDataWrapper ul li input[type="checkMPx"] {
    display: inline-block;
    width: auto;
    margin-left: 50px;
}
/************** QUIEN VA A VER AL DOCTOR **************/
#ulPatientList, .MPAgendaButtonWrapper {
    width: 100%;
    display: block;
    width: auto;
    height: auto;
}
    #ulPatientList label, .MPAgendaButtonWrapper label{
        margin: 8px 0px 2px 35px;
    }

/************** fecha hora **************/
#DateMoreInfoIdN {
    background-color: #FFF;
    border: medium none;
    color: #759418;
    font-size: 1.3em;
    display: block;
    width: auto;
    height: auto;
    margin: 9px auto;
}
    #DateMoreInfoIdN:hover{
        text-decoration:underline;
    }
/********PACIENTE NUEVO*************/
div#NewPatientId {
    text-align: left;
    height: auto;
    background-color: #ececec;
    border: 1px solid #99c21d;
    border-radius: 3px;
    margin: 8px 0px 8px 0px;
}
.MPMobileCloseWindow {
    display: block;
    float: right;
    margin: -5px 5px 0px 0px;
    border-radius: 13px;
    border: 2px solid #333;
    background-color:#99C21D;
    color: #333;
    font-size: 1.1em;
    height: 25px;
    font-weight: bold;
}

label.titleNewPatient {
    text-align: center;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}

label.GenderLi {
    margin: 0px 0px 0px 50px !important;
    display: inline-block;
}

#CreatePatientForm {
    margin: 0px;
    display: block;
    width: auto;
}

    #CreatePatientForm ul {
        margin: 4px;
    }

        #CreatePatientForm ul li {
            padding: 0px;
            margin: 10px 0px 10px 0px;
        }
            #CreatePatientForm ul li label {
                margin: 8px 0px 0px;
                line-height: 1em;
            }
            #CreatePatientForm ul li input {
                line-height: 31px;
                padding: 0px;
                vertical-align: top;
            }

            #CreatePatientForm ul li div {
                width: 96%;
                display: inline-block;
            }
.required {
    color:red;
    vertical-align:top;
}
.GridAP div span {
    display: inline-block !important;
    width: 60% !important;
    font-size: 20px !important;
    text-align: center !important;
    margin: 10px 0px 10px 0px !important;
    height: auto !important;
    border: none !important;
    line-height: 0px !important;
}

.GridAP div a {
    display: initial;
    margin-left: 0 !important;
}

.GridAP div div.k-grid-content {
    height: 341px !important;
}

.liGender div {
    width: auto !important;
    display: inline-block !important;
    margin: 0px 0px 15px 0px !important;
}

    .liGender div input {
        margin: 0px !important;
        padding: 0 !important;
        display: block !important;
    }

label.message {
    text-align: center;
}

li.liSaveNewPatient {
    text-align: center;
}

a#itemSave {
    font-size: 1.5em;
}
