.MPMainWrapper {
    display: block;
    width: 100%;
    min-width: 299px;
    height: auto;
    padding: 4px 0px 6px 0px;
    /*Mantener en el fondo de la página*/
    clear: both;
    /*margin-top: 18px;*/
}

.MPTextWrapper {
    display: block;
    width: 100%;
    height: auto;
    margin: 7px auto;
    border: none;
    text-align: center;
    background-image: url('/Areas/Web/Content/Images/MPfooterImageSmall.png');
    background-repeat: no-repeat;
    background-size: 147px auto;
    background-position: 98% -4px;
    background-color: #6c5d53;
}

    .MPTextWrapper a, .MPTextWrapper p {
        color: #fff;
        font-family: "MuseoSans100","Trebuchet MS", Helvetica, sans-serif;
    }

    .MPTextWrapper ul li {
        display: inline-block;
        margin: 0px 0px 6px 0px;
    }

    .MPTextWrapper a {
        font-size: 1em;
        color: #fff;
        display: inline;
        margin: 0px;
        line-height: 1em;
    }

    .MPTextWrapper p {
        font-size: 0.7em;
        display: block;
        width: 80%;
        margin: 0px auto;
        line-height: 1.1em;
        text-shadow: initial;
    }

    .MPTextWrapper a:hover {
        color: #ccc;
        text-decoration: underline;
    }

    .MPTextWrapper p a {
        text-decoration: underline;
    }

.ContentBlogDesktop {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 9px;
}

.BlogSG {
    display: inline-block;
    width: 48%;
    height: auto;
}

    .BlogSG a label {
        font-size: 0.8em;
        text-decoration: none;
        cursor: pointer;
        line-height: 10px;
    }

.Desktop {
    display: inline-block;
    width: 48%;
    height: auto;
}

    .Desktop a label {
        font-size: 0.8em;
        text-decoration: none;
        cursor: pointer;
        line-height: 10px;
    }

.Separator {
    width: 1px;
    height: 46px;
    display: inline-block;
    background-color: #99c21d;
    margin: 0;
}
