/******* ESTOS SON LOS ESTILOS DEL PROCESO DE AGENDAMIENTO *******/

/************Estilos bloque perfil****************/
.MPAgendaDoctorProfile {
    display: block;
    /*border: 1px solid red;*/
    text-align: center;
}

ul.MPAgendaDoctorData {
    /* border: 1px solid green; */
    width: 100%;
    height: auto;
    padding: 6px;
}

li.ProfileImage {
    display: inline-block;
    width: 60px;
    height: 60px;
    overflow: hidden;
}

    li.ProfileImage img {
        width: 100%;
        height: auto;
    }

li.ProfileInformation {
    display: inline-block;
    width: 66%;
    text-align: left;
    vertical-align: top;
}

li.ProfileInformation {
    cursor: pointer;
}


/****************AGENDA*********************/
.MPFreeSchedule {
    display: inline-block;
}

.MPFreeSchedule {
    display: inline-block;
    width: 31%;
    border: 1px solid #99c21d;
    margin: 5px 3px;
    border-radius: 3px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
