/***************  ESTILOS DE PAGINA DE CONFIRMACION ****************/

.MPAgendaConfirmationMessageGW,
.ImgConfirmation,
.MPAgendaConfirmationMessage {
    display: block;
    width: 100%;
}

.ImgConfirmation {
    display: inline-block;
    width: 60px;
    height: auto;
    margin: 0px 0px 7px 7px;
    vertical-align: top;
}

.MPAgendaConfirmationMessageGW h1 {
    font-size: 1.2em;
    color: #759418;
    letter-spacing: -0.8px;
    line-height: 1em;
    display: block;
    margin: 6px 0px;
}

.MPAgendaConfirmationMessage {
    margin: 0px;
}

    .MPAgendaConfirmationMessage label {
        color: #666;
        font-size: 1.09em;
        line-height: 1.2em;
        margin: 6px 0;
        text-align: justify;
    }
