.MPProfileGreatWrapper {
    border: none;
    display: block;
    margin: 0px auto;
    padding: 0px;
    width: 100%;
}

.MPProfileColumnsWrapper {
    display: block;
    margin: 0px auto;
    padding: 0px;
    width:100%;
    text-align: left;
    line-height: 1em;
}
@media screen and (max-width:768px) {
    .MPProfileColumnsWrapper {
    }
}
/********* COLUMNAS  *********/
.MPProfileLeftWrapper,
.MPProfileRigthWrapper {
    border: none;
    display: inline-block;
    vertical-align: top;
    height: auto;
    text-align: left;
}

.MPProfileLeftWrapper {
    width: 52%;
    padding-top: 10px;
}

@media screen and (max-width:1024px) {
    .MPProfileLeftWrapper {
        width: 54%;
    }
}

@media screen and (max-width:800px) {
    .MPProfileLeftWrapper {
        width: 52%;
    }
}
/**************** CONTENEDOR DE LA DERECHA *********************/
.MPProfileRigthWrapper {
    margin: 0px;
    width: 47.3%;
}

@media screen and (max-width:1024px) {
    .MPProfileRigthWrapper {
        width: 45.2%;
    }
}

@media screen and (max-width:800px) {
    .MPProfileRigthWrapper {
        width: 47.3%;
    }
}
/*************************************/
.MPProfileBottomWrapper {
    border: none;
    display: block;
    width: 100%;
}
/******** BLOQUE INFORMACION DEL DOCTOR ********/
.MPProfileInfo_BasicInfo,
.MPProfileInfo_BasicInfoRight {
    border: none;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

.MPProfileInfo_BasicInfo {
    width: auto;
    overflow: hidden;
    height: auto;
}

hr.featurette-divider.__loop.ProfileBasicInfo {
}
/*--------------------------------------*/
img.MPProfileCertified {
    width:40px;
    height: auto;
    float: right;
}

img.MPProfileDoctorImage {
    border: 1px solid #666;
    border-radius: 2px;
    display: inline-block;
    width:72px;
    height: auto;
    vertical-align: top;
}

.MPProfileInfo_BasicInfoRight {
    border: none;
    letter-spacing: -0.6px;
    width: 71%;
}

.MPProfileDoctorName {
    line-height: 22px;
    font-size: 1.3em !important;
    color: #759418;
    float: left;
    display: block !important;
    width: 72%;
    margin: 4px 0px 6px 0px !important;
}

.MPProfileSpecialityName {
    height: auto;
    margin: 4px 0px !important;
    line-height: 1em;
    font-size: 1.2em;
    color: #666;
    display: block;
    width: 72%;
    float: left;
}

div.MPProfileInsuranceColumn,
div.MPProfileSpecialtyColumn {
    display: block;
    vertical-align: top;
    width: auto;
}

.MPProfileInsurance {
    color: #666;
    letter-spacing: 0px;
    font-size: 0.8em;
    line-height: 1em;
    margin: 0px 0px 3px !important;
    display: block;
}

div.MPProfileSpecialtyColumn ul {
    margin: 6px 0px;
}

li.MPProfileInsuranceName h5{
    width: auto;
    line-height: 1.1em;
    border: medium none;
    display: inline-block;
    font-size: 0.9em;
    letter-spacing: 0px;
    text-indent: 8px;
}
/******** SITIO WEB Y CONTROL FACEBOOK ********/
.MPProfileInfo_Social {
    border: none;
    display: block;
    width: 100%;
    height: auto;
}

    .MPProfileInfo_Social a, .MPProfileInfo_Social iframe {
        border: medium none;
        display: inline-block;
        width: auto;
        margin: 1px 0px 0px 7px;
        text-decoration: none;
        color: #92B92A;
        letter-spacing: -0.6px;
        vertical-align: top;
        height: 24px;
    }

    .MPProfileInfo_Social iframe {
        width: 115px !important;
        padding: 5px;
        height: 30px !important;
    }

    .MPProfileInfo_Social img {
        width: 22%;
        height: auto;
        vertical-align: middle;
        max-width: 26px;
    }

    .MPProfileInfo_Social span {
        font-size: 0.8em;
        letter-spacing: 0px;
        margin: 0px 0px 0px 1px;
        width: 64%;
        line-height: 29px;
        color: #666;
    }

/******** IMAGE SLIDER ********/
#divProfileSlide {
    position: relative;
    top: 0px;
    left: 0px;
    width: 460px;
    height: 250px;
    background: #FFF;
    overflow: hidden;
    margin-top: 6px;
}

    #divProfileSlide .PrincipalSlide {
        cursor: move;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 350px;
        height: 250px;
        overflow: hidden;
    }
/************* INFORMACION DE PERFIL PROFESIONAL ************/
.MPProfileInfoDetailProfile{
    display: block;
    width: 100%;
    height: auto;
    font-size: 1em;
}

    .MPProfileInfoDetailProfile ul {
        border: medium none;
        display: block;
        margin: 5px auto 5px auto;
        height: auto;
        vertical-align: top;
        text-align: left;
        width: 100%;
    }

        .MPProfileInfoDetailProfile ul li {
            border: none;
            display: block;
        }

            .MPProfileInfoDetailProfile ul li h6 {
            font-size: 1.3em;
            line-height: 27px;
            letter-spacing: 0px;
            color: #759418;
            padding: 0px;
            margin: 0px;
            display: block;
            cursor: text;
            }
                .MPMobileOfficeList {
                    padding:0px !important;
                }
                .MPMobileOfficeName {
                    padding: 0px;
                    margin: 0px;                    
                    width:100%;
                }
                    .MPMobileOfficeName > a{
                        display: block;
                        width: 100%;
                        padding: 0px;
                        height: 45px;
                    }
                        .MPMobileOfficeName > a > a {
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            color: #444 !important;
                            font-size: 1.1em;
                            line-height: 14px;
                            letter-spacing: 0px;
                            margin: 15px 0px 0px 38px !important;
                            width: 78%;
                            display: block;
                            font-weight: normal;
                        }
                        .ui-collapsible-content{
                            padding:0px 0px;
                            width:100%;
                        }



.MPProfileInfoDetailProfileNotSchedule {
    border-bottom: 1px solid #99c21d !important;
    font-size: 1.5em;
    margin: 10px 0px 10px 0px;
}
div#divProfileText,
div#divEducation,
div#divCertification,
div#divOffice {
    margin: -2px 0px 0px 0px;
    padding: 2px 11px 0px;
    width: 100%;
    height: auto !important;
    text-align: left;
    border: none;
    position: relative;
    z-index: 2;
}

    div#divProfileText p {
        margin-bottom: 10px;
    }

.MPProfileInfoDetailProfile div#divProfileText p,
.MPProfileInfoDetailProfile div#divEducation p,
.MPProfileInfoDetailProfile div#divCertification p,
.MPProfileInfoDetailProfile div#divOffice ul {
    font-size: 0.9em;
    line-height: 19px;
    color: #666;
    height: auto;
    overflow: initial;
    font-family: "MuseoSans100","Trebuchet MS", Helvetica, sans-serif;
    text-align: justify;
}



div#divOffice ul li {
    width: 90%;
}

/************* TABS CALENDARIO PROFESIONAL ************/
.MPProfileScheduleCallendar {
    display: block;
    width: 100%;
    height: auto;
    font-size: 1em;
    margin: 0px auto 0px auto;
}

.MPProfileCallendarWrapper {
    display: block;
    margin: 10px auto 0px auto;
    height: auto;
    vertical-align: top;
    text-align: left;
    width: 100%;
}

    .MPProfileCallendarWrapper ul {
        margin-bottom: -4px;
    }

        .MPProfileCallendarWrapper ul li {
            border: none;
            display: inline-block;
        }

.MPProfileCallendarTabs {
    font-size: 0.9em !important;
    line-height: 18px;
    letter-spacing: -1px;
    color: #A4C02C !important;
    background-color: #ececec;
    font-weight: bold;
    padding: 3px 10px 3px 10px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
    border-width: 1px 1px 0px 1px !important;
    border-color: #666 !important;
    border-style: solid !important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 175px;
}

.MPProfileCallendarWrapper ul li a:hover {
    background-color: #fff !important;
    text-decoration: none !important;
}

.MPProfileCallendarCallendar {
    margin: 0px 0px 0px;
    padding: 5px 1.5% 0px;
    width: 100% !important;
    height: auto !important;
    text-align: left;
    display: block !important;
    margin: 0px auto -5px !important;
    padding: 0px !important;
    border-radius: 3px !important;
    box-shadow: 2px 2px 2px #666;
    background: linear-gradient(#FFF, #ECECEC) repeat scroll 0% 0% transparent;
    position: relative;
    z-index: 2;
}

.MPProfileOfficeContactSelector {
    display: block;
    margin: 6px auto;
    height: auto;
    min-height: 100px;
    vertical-align: top;
    text-align: left;
    width: 95%;
}

div.MPProfileOfficeContactSelector span {
    cursor: pointer;
    width: 100%;
    color: #92B92A;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
}

    div.MPProfileOfficeContactSelector span:hover {
        text-decoration: underline;
    }

div.MPProfileOfficeContactSelector {
    display: block;
    min-height: 39px;
}

    div.MPProfileOfficeContactSelector span, div.MPProfileOfficeContactSelector span:hover {
        cursor: auto;
        font-size: 0.9em;
        display: block;
        width: auto;
        line-height: 1.4em;
        text-decoration: none;
        color: #666;
        text-align: left;
        text-indent: 20px;
    }

span.OfficeContactTelephone,
span.OfficeContactAddress {
    background-repeat: no-repeat;
    text-indent: 25px;
    line-height: 25px;
    color: #333;
    display:block;
}

span.OfficeContactAddress {
    background-image: url('/Areas/Web/Content/Images/MPResultsContactoSpriteAddress.png');
    background-position: -6px -1px;
    background-size: 27px auto;
}

span.OfficeContactTelephone {
    background-image: url('/Areas/Web/Content/Images/MPResultsContactoSpritePhone.png');
    background-position: 0px 2px;
    background-size: 18px auto;
}

.MPProfileCalendarWeekTop {
    margin: 0px 0px 0px;
}

.MPMobileCalendarOffice {
    display: block;
    height: auto;
    margin: 0 auto;
    width: 99%;
}
.MPMobileCalendarOffice h6{
    width:100%;
    height:auto;
    text-align:center;
    display:block;
}
.MPMobileCalendarOfficeMonth{
    display:block;
    border:1px solid grey;
    height:24px;
}
.MPMobileCalendarOfficeHours {
    display:block;
    border:1px solid grey;
    height:124px;
}
.MPMobileCalendarOffice a{

}

.k-grid td {
    line-height: 1.3em !important;
    padding: 0.2em 0.1em !important;
    overflow: hidden !important;
    vertical-align: middle !important;
    text-overflow: ellipsis !important;
    font-size: 0.9em !important;
    letter-spacing: -0.3px !important;
}

div.k-grid-content {
    width: 100% !important;
    height: 194px !important;
}

    div.k-grid-content > table > colgroup > col {
        box-sizing: content-box;
        width: 70px !important;
    }

.k-alt, .k-separator {
    background-color: #fff !important;
}

/************ MAPA ***********/
.MPProfileMap {
    padding-bottom:7px;
    border-bottom:1px solid #99c21d;
}
#divOfficeMap {
    width: 100%;
    height: 200px;
    margin: 14px 0px 10px;
    border: 1px solid #666;
    box-shadow: 1px 1px 3px #777;
    border-radius: 2px;
}

    #divOfficeMap .OfficeMapToolTip {
        width: 300px;
        height: 60px;
        margin: 5px 5px 5px 5px;
    }

        #divOfficeMap .OfficeMapToolTip img {
            width: 50px;
            height: auto;
            float: left;
        }

        #divOfficeMap .OfficeMapToolTip .OfficeContactSelector {
            margin: 0px 0px 0px 3px;
            max-width: 245px;
            height: auto;
            float: left;
        }

span.MPProfileOfficeContactTelephone,
span.MPProfileOfficeContactAddress {
    background-repeat: no-repeat;
}

span.MPProfileOfficeContactAddress {
    background-image: url('/Areas/Web/Content/Images/MPResultsContactoSpriteAddress.png');
    background-position: -1px -2px;
    background-size: 21px auto;
}

span.MPProfileOfficeContactTelephone {
    background-image: url('/Areas/Web/Content/Images/MPResultsContactoSpritePhone.png');
    background-position: 1px -1px;
    background-size: 16px auto;
}



/*-------Styles Images Profile---------*/

.ContentImages {
    width: 100%;
    height: auto;
    margin: 10px auto 10px auto !important;
}



img.imgProfileSlide {
    height: 45px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
    margin: 0px 4px 0px 4px !important;
}

li.liProfileSlider {
    width: auto;
    display: inline-block;
}


.MPProfileInfoImages {
    border-top: 1px solid #99c21d;
    border-bottom: 1px solid #99c21d;
    width: 92%;
    margin: 15px auto 0px auto !important;
}

.pp_social {
    display: none !important;
}

div.light_square .pp_nav .pp_play {
    background: url('../../Images/sprite.png') no-repeat scroll -1px -100px transparent !important;
    height: 15px !important;
    width: 14px !important;
}

div.light_square .pp_nav .pp_pause {
    background: url(../../Images/sprite.png) -24px -100px no-repeat !important;
    height: 15px !important;
    width: 14px !important;
}

div.light_square .pp_arrow_previous {
    background: url(../../Images/sprite.png) 0 -71px no-repeat !important;
}

div.light_square .pp_arrow_next {
    background: url(../../Images/sprite.png) -22px -71px no-repeat !important;
}

div.light_square .pp_close {
    width: 75px !important;
    height: 22px !important;
    background: url('../../Images/sprite.png') no-repeat scroll -1px -1px transparent !important;
    cursor: pointer !important;
}

div.light_square .pp_expand {
    background: url('../../Images/sprite.png') no-repeat scroll -31px -26px transparent !important;
    cursor: pointer !important;
}

.pp_nav p {
    float: left !important;
    margin: 9px 4px !important;
    white-space: nowrap !important;
}

a.pp_next {
    background: url('../../Images/sprite.png') no-repeat scroll 10000px 10000px transparent !important;
    display: block !important;
    float: right !important;
    height: 100% !important;
    text-indent: -10000px !important;
    width: 49% !important;
}

a.pp_previous {
    background: url('../../Images/sprite.png') no-repeat scroll 10000px 10000px transparent !important;
    display: block !important;
    float: left !important;
    height: 100% !important;
    text-indent: -10000px !important;
    width: 49% !important;
}

div.ui-widget-content {
    border: 1px solid #333;
    border-radius: 0px;
    margin: 0px auto;
    height: auto;
    box-shadow: 2px 1px 2px;
    width: 380px !important;
}