@model List<SaludGuruProfile.Manager.Models.General.InsuranceModel>
@{
    ViewBag.Title = "InsuranceList";
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";

    //get json office data
    string oInsuranceData = (new System.Web.Script.Serialization.JavaScriptSerializer()).
        Serialize(Model.
            Select(x => new
            {
                UrlToUpdate = Url.Action(MVC.Insurance.ActionNames.InsuranceUpsert, MVC.Insurance.Name, new { insuranceId = x.CategoryId}),
                CategoryId = x.CategoryId,
                Name = x.Name,
                LastModify = x.LastModify.ToString("yyyy/MM/dd HH:mm"),
                CreateDate = x.CreateDate.ToString("yyyy/MM/dd HH:mm")
            }).ToList());

    //get create url
    string oCreateUrl = Url.Action(MVC.Insurance.ActionNames.InsuranceUpsert, MVC.Insurance.Name);    
}
<div class="BOInsurance">
    <div id="divGridInsurance" style="width:800px;"></div>
    <div style="height:100px;"></div>
</div>
@section inlinescripts
{
    <script type="text/javascript">
        var vDataInsurance = @Html.Raw(oInsuranceData)
        $(document).ready(function () {
            //start office grid
            debugger;
            InsuranceListGrid('divGridInsurance', '@oCreateUrl' , vDataInsurance);
        });
    </script>
}



