@*@model*@ 
@using System.Linq
@{
    //ViewBag.Title = "Search";
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";
}

<div>
    <input type="text"  name="txt_Search" value=" " />
</div>

<div id="grid"></div>
<script id="alt-template" type="text/x-kendo-template">
    <tr data-uid="#= uid #">
        <td colspan="2">
            <strong>#: name #</strong>
            <strong>#: age #</strong>
        </td>
    </tr>
</script>
<script>
    $("#grid").kendoGrid({
        dataSource: [
          { name: "Jane Doe", age: 30 },
          { name: "John Doe", age: 33 }
        ],
        altRowTemplate: kendo.template($("#alt-template").html())
    });
</script>