div.MPAgendaDoctorProfile {
    display:inline-block;
    width:550px;
    margin:14px 0px 0px 14px;
    border:1px solid blue;
}
div.MPAgendaDoctorProfile ul{
    display:inline-block;
    width:50px;
    margin:14px 0px 0px 14px;
    border:1px solid blue;
}
div.MPAgendaDoctorProfile ul li{
    display:inline-block;
    width:50px;
    margin:14px 0px 0px 14px;
    border:1px solid blue;
}
.MPAgendaDoctorProfile ul li label{
    display:inline-block;
    width:45px;
    margin:14px 0px 0px 14px;
    border:1px solid blue;
}