/******* DIALOGO DEL BOTON "AGENDA UNA CITA CON ESTE DOCTOR" *******/
#dialog_ScheduleAppointmentNotLogin {
    display: block;
    width: 94% !important;
    height: auto !important;
    margin: 10px auto;
    font-family: 1.8em;
color: #333;
}
#dialog_ScheduleAppointmentNotLogin span{
    display: block;
    line-height: 1em;
}
#dialog_ScheduleAppointmentNotLogin div{
    width: 100%;
    height: auto;
    text-align: center;
}
#dialog_ScheduleAppointmentNotLogin div a{
    width: 34px;
    display: inline-block;
    height: 38px;
    background-size: 33px;
}