.MPProfileGreatWrapper {
    border: solid 1px purple;
    display: block;
    margin: 0px auto;
    padding: 0px;
    width: 100%;
    min-width: 768px;
}

.MPProfileColumnsWrapper {
    border: solid 1px green;
    display: block;
    margin: 0px auto;
    padding: 0px;
    width: 82%;
    text-align: left;
    line-height: 1em;
}

@media screen and (max-width:1280px) {
    .MPProfileColumnsWrapper {
        border: solid 1px green;
        display: block;
        margin: 0px auto;
        padding: 0px;
        width: 92%;
        text-align: left;
        line-height: 1em;
    }
}

@media screen and (max-width:1024px) {
    .MPProfileColumnsWrapper {
        border: solid 1px green;
        display: block;
        margin: 0px auto;
        padding: 0px;
        width: 95%;
        text-align: left;
        line-height: 1em;
    }
}

@media screen and (max-width:800px) {
    .MPProfileColumnsWrapper {
        border: solid 1px green;
        display: block;
        margin: 0px auto;
        padding: 0px;
        width: 98%;
        text-align: left;
        line-height: 1em;
    }
}

@media screen and (max-width:768px) {
    .MPProfileColumnsWrapper {
        border: solid 1px green;
        display: block;
        margin: 0px auto;
        padding: 0px;
        width: 100%;
        text-align: left;
        line-height: 1em;
    }
}
/********* COLUMNAS  *********/
.MPProfileLeftWrapper,
.MPProfileRigthWrapper {
    border: solid 1px red;
    display: inline-block;
    vertical-align: top;
    height: auto;
    text-align: left;
}

.MPProfileLeftWrapper {
    width: 45%;
}

@media screen and (max-width:1024px) {
    .MPProfileLeftWrapper {
        width: 40%;
    }
}

@media screen and (max-width:800px) {
    .MPProfileLeftWrapper {
        width: 34%;
    }
}

@media screen and (max-width:768px) {
    .MPProfileLeftWrapper {
        width: 34%;
    }
}
/*************************************/
.MPProfileRigthWrapper {
    margin: 0px 0px 0px 4px;
    width: 54%;
}

@media screen and (max-width:1024px) {
    .MPProfileRigthWrapper {
        margin: 0px 0px 0px 4px;
        width: 58.8%;
    }
}

@media screen and (max-width:800px) {
    .MPProfileRigthWrapper {
        margin: 0px 0px 0px 4px;
        width: 64.8%;
    }
}

@media screen and (max-width:768px) {
    .MPProfileRigthWrapper {
        margin: 0px 0px 0px 4px;
        width: 64.8%;
    }
}
/*************************************/
.MPProfileBottomWrapper {
    border: solid 1px yellow;
    display: block;
    width: 100%;
}
/******** BLOQUE INFORMACION DEL DOCTOR ********/
.MPProfileInfo_BasicInfo,
.MPProfileInfo_BasicInfoRight {
    border: 1px solid blue;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

.MPProfileInfo_BasicInfo {
    width: auto;
    overflow: hidden;
}

div.MPProfileCertified,
img.MPProfileCertified {
    min-width: 46px;
    height: auto;
    display: inline-block;
    vertical-align: top;
    width: 62px !important;
}

img.MPProfileDoctorImage {
    border: 1px solid #666;
    border-radius: 2px;
    display: inline-block;
    width: 142px;
    height: auto;
    vertical-align: top;
}

.MPProfileInfo_BasicInfoRight {
    border: 1px solid blue;
    letter-spacing: -0.6px;
    width: 48.8%;
}

.MPProfileDoctorName {
    line-height: 24px;
    font-size: 1.3em;
    color: #333;
}

.MPProfileSpecialityName {
    display: block;
    height: auto;
    margin: 4px 0px !important;
    line-height: 1em;
    font-size: 1.2em;
    color: #666;
}

div.MPProfileInsuranceColumn,
div.MPProfileSpecialtyColumn {
    display: block;
    vertical-align: top;
    width: auto;
}

.MPProfileInsurance {
    color: #666;
    letter-spacing: 0px;
    font-size: 0.8em;
    line-height: 1em;
    margin: 6px 0px;
}

li.MPProfileInsuranceName {
    width: auto;
    line-height: 1em;
    border: medium none;
    display: block;
    font-size: 0.9em;
    letter-spacing: 0px;
    text-indent: 8px;
}
/******** SITIO WEB Y CONTROL FACEBOOK ********/
.MPProfileInfo_Social {
    border: 1px solid purple;
    display: block;
    width: 100%;
}

    .MPProfileInfo_Social a {
        display: block;
        width: 42%;
        margin: 4px 0px 4px 10px;
        text-decoration: none;
        color: #92B92A;
        letter-spacing: -0.6px;
        border: 1px solid green;
        vertical-align: top;
    }

    .MPProfileInfo_Social img {
        width: 26%;
        height: auto;
        vertical-align: middle;
        max-width: 32px;
    }

    .MPProfileInfo_Social span {
        font-size: 0.8em;
        letter-spacing: 0px;
        margin: 0px 0px 0px 1px;
        width: 64%;
        line-height: 29px;
        color: #666;
    }

    .MPProfileInfo_Social iframe {
        border: none;
        overflow: hidden;
        height: 60px;
        width: auto;
        display: block;
        vertical-align: top;
    }

/******** IMAGE SLIDER ********/
#divProfileSlide {
    position: relative;
    top: 0px;
    left: 0px;
    width: 460px;
    height: 250px;
    background: #FFF;
    overflow: hidden;
}

    #divProfileSlide .PrincipalSlide {
        cursor: move;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 350px;
        height: 250px;
        overflow: hidden;
    }
/************* INFORMACION DE PERFIL PROFESIONAL ************/
.MPProfileInfoDetail {
    border-style: solid;
    border-width: 1px 0px;
    border-color: #666;
    display: block;
    width: 100%;
    height: auto;
    font-size: 1em;
    margin: 12px auto 0px auto;
    BORDER: 1px solid #666;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #666;
    background: linear-gradient(#FFF, #ECECEC) repeat scroll 0% 0% transparent;
}

    .MPProfileInfoDetail div {
        border: medium none;
        display: block;
        margin: 15px auto 15px auto;
        height: auto;
        min-height: 100px;
        vertical-align: top;
        text-align: left;
        width: 94%;
    }

        .MPProfileInfoDetail div ul li {
            border: none;
            display: inline-block;
        }

            .MPProfileInfoDetail div ul li a {
                font-size: 1.4em;
                line-height: 20px;
                letter-spacing: -1px;
                color: #A4C02C;
                background-color: #ececec;
                font-weight: bold;
                padding: 3px 10px 3px 10px;
                margin: 0px 0px 0px 0px;
                display: inline-block;
                border-width: 1px 1px 0px 1px;
                border-color: #666;
                border-style: solid;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                position: relative;
                z-index: 10;
            }

                .MPProfileInfoDetail div ul li a:hover, .MPProfileInfoDetail div ul li a:active {
                    background-color: #fff;
                    text-decoration: none;
                }

                .MPProfileInfoDetail div ul li a.selected {
                    border-bottom: 1px solid #FBFBFB;
                    margin-bottom: -1.5px;
                    background: transparent;
                }

div#divProfileText,
div#divEducation,
div#divCertification,
div#divOffice {
    margin: 0px 0px 0px;
    padding: 5px 1.5% 0px;
    width: 100%;
    height: auto !important;
    text-align: left;
    border-top: 1px solid #666;
}

.MPProfileInfoDetail div#divProfileText p,
.MPProfileInfoDetail div#divEducation p,
.MPProfileInfoDetail div#divCertification p,
.MPProfileInfoDetail div#divOffice ul {
    font-size: 1em;
    line-height: 21px;
    color: #666;
    height: auto;
    overflow: initial;
    font-family: "MuseoSans100","Trebuchet MS", Helvetica, sans-serif;
}

div#divOffice ul li {
    width: 90%;
}

/************* TABS CALENDARIO PROFESIONAL ************/
.MPProfileScheduleCallendar {
    border-style: solid;
    border-width: 1px 0px;
    border-color: #666;
    display: block;
    width: 100%;
    height: auto;
    font-size: 1em;
    margin:8px auto 0px auto;
    BORDER: 1px solid #666;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #666;
    background: linear-gradient(#FFF, #ECECEC) repeat scroll 0% 0% transparent;
}

.MPProfileCallendarWrapper {
    border: medium none;
    display: block;
    margin: 15px auto 15px auto;
    height: auto;
    min-height: 100px;
    vertical-align: top;
    text-align: left;
    width: 96%;
}
    .MPProfileCallendarWrapper ul li {
        border: none;
        display: inline-block;
    }

.MPProfileCallendarTabs {
    font-size: 1.2em !important;
    line-height: 20px;
    letter-spacing: -1px;
    color: #A4C02C !important;
    background-color: #ececec;
    font-weight: bold;
    padding: 3px 10px 3px 10px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
    border-width: 1px 1px 0px 1px !important;
    border-color: #666 !important;
    border-style: solid !important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: relative;
    z-index: 10;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
}

.MPProfileCallendarWrapper ul li a:hover, .MPProfileInfoDetail ul li a:active {
    background-color: #fff !important;
    text-decoration: none !important;
}

.MPProfileCallendarWrapper ul li.selected {
    border-bottom: 1px solid #FBFBFB !important;
    margin-bottom: -1.5px !important;
    background: transparent !important;
}

.MPProfileCallendarCallendar {
    margin: 0px 0px 0px;
    padding: 5px 1.5% 0px;
    width: 100% !important;
    height: auto !important;
    text-align: left;
    border: none !important;
    border-top: 1px solid #666 !important;
    display:block !important;
    margin: 0px auto -5px !important;
    padding: 5px 42px !important;
    border-radius: initial !important;
    box-shadow: none !important;
}
#divAppointmentSchedule_Template_OfficeInfo{
    border:1px solid green;
}



/************ MAPA ***********/
#divOfficeMap {
    width: 100%;
    height: 250px;
}

    #divOfficeMap .OfficeMapToolTip {
        width: 300px;
        height: 60px;
        margin: 5px 5px 5px 5px;
    }

        #divOfficeMap .OfficeMapToolTip img {
            width: 50px;
            height: auto;
            float: left;
        }

        #divOfficeMap .OfficeMapToolTip .OfficeContactSelector {
            margin: 0px 0px 0px 3px;
            max-width: 245px;
            height: auto;
            float: left;
        }


/*.MPProfileGreatWrapper {
    border-style: solid;
    border-color: #666;
    border-width: 0px 1px;
    display:block;
    width:96%;
    min-width:740px;
    margin:0px auto;
}
.MPProfileInfoWrapper {
        border:none;
    display:block;
    width:98%;
    height:auto;
    margin:0px auto;
    padding: 8px 0px 0px 0px;
}
    .MPProfileInfoImages {
            border:none;
        display:inline-block;
        width:60%;
        height:auto;
        vertical-align:top;
    }
    .MPProfileInfoInfo {
        display:inline-block;
        width: 39%;
        height:auto;
        border-width: 0px 0px 0px 1px;
        border-style: solid;
        border-color: #666;
        vertical-align:top;        
    }
*/
/******** IMAGE SLIDER ********/
/*#divProfileSlide {
    position: relative;
    top: 0px;
    left: 0px;
    width: 730px;
    height: 400px;
    background: #FFFFFF;
    overflow: hidden;
}*/
/******* LOAD SCREEN *******/
/*.sliderLoad {
    filter: alpha(opacity=70);
    opacity: 0.7;
    position: absolute;
    display: block;
    background-color: #FFFFFF;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.sliderLoad2 {
    position: absolute;
    display: block;
    background: url(../img/loading.gif) no-repeat center center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}*/
/* Slides Container */
/*This is the inside container*/
/*.sliderContainer {
    cursor: move;
    position: relative;
    left: 150px;
    top: 0px;
    width: 450px;
    height: 400px;
    overflow: hidden;
}

.MPSliderDoctorName {
    position: absolute;
    display: block;
    bottom: 10px;
    left: 0px;
    width: auto;
    height: auto;
    padding: 15px 12px;
    font-size: 30px;
    background-color: #ffffff;
    filter: alpha(opacity=70);
    opacity: 0.7;
    max-width: 300px;
    min-height: 70px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

    .MPSliderDoctorName span {
        line-height: 30px;
    }*/
/******** Thumbnail Navigator Skin Begin *********/

/*.MPSliderjssort11 {
    position: absolute;
    width: 130px;
    height: 400px;
    left: 605px;
    top: 0px;
}

.MPSliderjssort11Cursor {
    cursor: move;
}

.MPSliderjssort11P {
    position: absolute;
    width: 130px;
    height: 95px;
    top: 0;
    left: 0;
}

.MPSliderThNail {
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
}*/
/**** Thumbnail Item Skin Begin ****/
/*.jssort11 {
    font-family: Arial, Helvetica, sans-serif;
}

    .jssort11 .i, .jssort11 .pav:hover .i {
        position: absolute;
        top: 3px;
        left: 3px;
        WIDTH: 60px;
        HEIGHT: 30px;
        border: white 1px dashed;
    }

    * html .jssort11 .i {
        WIDTH : 92px;
        HEIGHT : 32px;
    }

    .jssort11 .pav .i {
        border: white 1px solid;
    }

    .jssort11 .t, .jssort11 .pav:hover .t {
        position: absolute;
        top: 3px;
        left: 200px;
        width: 129px;
        height: 32px;
        line-height: 32px;
        text-align: right;
        color: #fc9835;
        font-size: 13px;
        font-weight: 700;
    }

    .jssort11 .pav .t, .jssort11 .phv .t, .jssort11 .p:hover .t {
        color: #fff;
    }

    .jssort11 .c, .jssort11 .pav:hover .c {
        position: absolute;
        top: 38px;
        left: 3px;
        width: 197px;
        height: 31px;
        line-height: 31px;
        color: #fff;
        font-size: 11px;
        font-weight: 400;
        overflow: hidden;
    }

    .jssort11 .pav .c, .jssort11 .phv .c, .jssort11 .p:hover .c {
        color: #fc9835;
    }

    .jssort11 .t, .jssort11 .c {
        transition: color 2s;
        -moz-transition: color 2s;
        -webkit-transition: color 2s;
        -o-transition: color 2s;
    }

    .jssort11 .p:hover .t, .jssort11 .phv .t, .jssort11 .pav:hover .t, .jssort11 .p:hover .c, .jssort11 .phv .c, .jssort11 .pav:hover .c {
        transition: none;
        -moz-transition: none;
        -webkit-transition: none;
        -o-transition: none;
    }

    .jssort11 .p {
        background: #181818;
    }

    .jssort11 .pav, .jssort11 .pdn {
        background: #462300;
    }

        .jssort11 .p:hover, .jssort11 .phv, .jssort11 .pav:hover {
            background: #333;
        }*/
/***************** BASIC INFO ****************/
/*
    .MPProfileInfo_BasicInfo span {
            border:none;
        display: inline-block;
        width:78.4%;
        height: auto;
        font-weight: bold;
        letter-spacing: -1px;
    }
    .MPProfileInfo_BasicInfo span:nth-child(2){
        line-height:25px;
        margin: 7px 0px 0px 4px;
        font-size: 1.5em;
        line-height: 24px;
    }
    .MPProfileInfo_BasicInfo span:nth-child(3){
        font-size: 17px;
        line-height: 20px;
        margin: 0px 0px 0px 4px;
    }

    .MPProfileInfo_Social a:first-child {
        margin-top:10px !important;
    }
            .MPProfileInfo_Social a img{
                    border:none;
                display:inline-block;
                width:28px;
                height:auto;
            }
            .MPProfileInfo_Social a span{
                border: medium none;
                display: inline-block;
                color: #666;
                font-size: 14px;
                line-height: 16px;
                vertical-align: top;
                width: auto;
                margin: 3px 0px 0px 0px;
                    }
        .MPProfileInfo_Social iframe{
                border-bottom:1px solid #999;
                overflow: hidden;
                width:92%;
                height:204px;
                margin:6px auto 10px auto;
                display: block;
            }
            ._4s7c {
                overflow: hidden;
                padding-bottom: 14px;
                height:auto;
            }*/


/*********** Profile Description ***********/
/*
.MPProfileNoInfo {
    font-size: 1.5em;
    line-height: 32px;
    padding: 10px;
    border: 1px solid #999;
    margin: 7% 0px 0px 1%;
    display: inline-block;
    color: #666;
    letter-spacing: -1px;
    text-align: center;
    width: 80%;
    vertical-align: top;
}*/
/************ MAPA ***********/
/*.MPProfileMap {
    display:inline-block;
    width:100%;
    height:auto;
        border:none;
}
    .MPProfileMap span{
        font-size: 30px;
        margin: 0px 0px 0px 31px;
        color: #333;
        line-height: 35px;
        letter-spacing: -2px;
    }
    .MPProfileMap div#divOfficeMap {
        width:95%;
        height:300px;
        margin:1px auto 10px auto;
        display:block;
        border:1px solid #666;
        border-radius: 3px;
        box-shadow: 2px 2px 2px #666;
    }

.MPProfileNotas {
    display:none;
    width:41%;
    height:auto;
    border:1px solid blue;
    vertical-align:top;
    font-size:1.1em;
    line-height:26px;
}
.MPProfileTestimony {
    display:none;
    width:56.6%;
    height:auto;
    border:1px solid blue;
    vertical-align:top;
    font-size:1.1em;
    line-height:26px;
    margin-top:12px;
}
.MPProfileVideos {
    display:none;
    width:41%;
    height:auto;
    border:1px solid blue;
    vertical-align:top;
    font-size:1.1em;
    line-height:26px;
    margin-top:12px;
}*/
