.MPMainWrapper {
    display: block;
    width: 100%;
    min-width:800px;
    height: 82px;
    background-image: url('/Areas/Web/Content/Images/MPfooterImageSmall.png');
    background-repeat: no-repeat;
    background-size:147px auto;
    background-position: 98% -4px;
    background-color: #6c5d53;
    padding-top: 19px;
    /*Mantener en el fondo de la página*/
    clear: both;
}
    .MPTextWrapper {
        display:block;
        width:424px; height:48px;
        margin:0px auto;
            border:none;
        text-align:center;
    }
        .MPTextWrapper a{
            font-size:17px;
            color:#fff;
            display:inline;
            margin:0px;
            line-height:22px;
        }
        .MPTextWrapper a:hover{
            color:#ccc;
            text-decoration:underline;
        }
