@font-face {
    font-family: 'MyriadPro';
    src: url('/Areas/Web/Content/Fonts/MyriadPro-Regular.eot');
    src: url('/Areas/Web/Content/Fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), url('/Areas/Web/Content/Fonts/MyriadPro-Regular.woff') format('woff'), url('/Areas/Web/Content/Fonts/MyriadPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'MuseoSans100';
    src: url('/Areas/Web/Content/Fonts/MuseoSans-100.eot');
    src: url('/Areas/Web/Content/Fonts/MuseoSans-100.eot?#iefix') format('embedded-opentype'), url('/Areas/Web/Content/Fonts/MuseoSans-100.woff') format('woff'), url('/Areas/Web/Content/Fonts/MuseoSans-100.ttf') format('truetype');
}

@font-face {
    font-family: 'MyriadProBoldCond';
    src: url('/Areas/Web/Content/Fonts/MyriadPro-BoldCond.eot');
    src: url('/Areas/Web/Content/Fonts/MyriadPro-BoldCond.eot?#iefix') format('embedded-opentype'), url('/Areas/Web/Content/Fonts/MyriadPro-BoldCond.ttf') format('truetype'), url('/Areas/Web/Content/Fonts/MyriadPro-BoldCond.woff') format('woff');
}

@font-face {
    font-family: 'MyriadProCond';
    src: url('/Areas/Web/Content/Fonts/MyriadPro-Cond.eot'), url('/Areas/Web/Content/Fonts/MyriadPro-Cond.eot?#iefix') format('embedded-opentype'), url('/Areas/Web/Content/Fonts/MyriadPro-Cond.ttf') format('truetype'), url('/Areas/Web/Content/Fonts/MyriadPro-Cond.woff') format('woff');
}

@font-face {
    font-family: 'MyriadPro';
    src: url('/Areas/Web/Content/Fonts/MyriadPro-Regular.eot');
    src: url('/Areas/Web/Content/Fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), url('/Areas/Web/Content/Fonts/MyriadPro-Regular.woff') format('woff'), url('/Areas/Web/Content/Fonts/MyriadPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'MuseoSans100';
    src: url('/Areas/Web/Content/Fonts/MuseoSans-100.eot');
    src: url('/Areas/Web/Content/Fonts/MuseoSans-100.eot?#iefix') format('embedded-opentype'), url('/Areas/Web/Content/Fonts/MuseoSans-100.woff') format('woff'), url('/Areas/Web/Content/Fonts/MuseoSans-100.ttf') format('truetype');
}

html * {
    font-family: "MuseoSans100","Trebuchet MS", Helvetica, sans-serif;
}

footer {
    clear: both;
}
/************ GENERAL FONT STYLES ***********/

h1, h2, h3, h4, a, span {
    font-family: "MuseoSans100","Trebuchet MS", Helvetica, sans-serif;
}

p {
    font-family: "MyriadPro","Trebuchet MS", Helvetica, sans-serif;
}

h5, h6 {
    font-family: "MuseoSans100","Trebuchet MS", Helvetica, sans-serif;
}

.buttons {
    font-family: "MyriadPro","Trebuchet MS", Helvetica, sans-serif;
    cursor: pointer;
}

