
/*------ Background Search Box----------*/
div#SearchBoxID {
    background: url(https://s3.amazonaws.com/devsaludguruimg/0MPImages/0HomeImage/Home_2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px !important;
}

    /*------ SearchBox Styles -----*/
    div#SearchBoxID .SearchBoxClass {
        width: 800px !important;
        height: 30% !important;
        background-color: rgba(255, 255, 255, 0.8);
        margin-top: 11% !important;
        color: transparent !important;
    }

        div#SearchBoxID .SearchBoxClass div {
            color: transparent;
        }

            div#SearchBoxID .SearchBoxClass div a {
                border: none;
            }

        div#SearchBoxID .SearchBoxClass span {
            font-style: normal;
            line-height: 1.2;
            font-weight: bold;
            font-size: 18px;
            width: 800px !important;
            opacity: 1 !important;
            color: #535353;
            border: none;
        }

        div#SearchBoxID .SearchBoxClass div input {
            font-size: 1.07143rem;
            font-style: italic;
            text-align: left;
            opacity: 1 !important;
        }
