/*------Estilos Home------*/
.Content {
    width: calc(100%);
    min-width: 750px;
}

p {
    display: block;
    width: auto;
    height: auto;
    line-height: 18px;
    margin: 0px 0px 8px 0px;
    padding: 0px;
}

.SearchBox, .ContentImportant, .Feed, .Demo {
    width: 100%;
    background-color: none;
}

/*-----Search Box------*/
.SearchBox {
    outline: 1px solid black;
    height: 400px;
}

/*---Contenido Perfil destacado - Redes Sociales----*/
.ContentImportant {
    outline: 2px solid blue;
    display: block;
    margin: 0px;
    height: auto;
}

    .ContentImportant p {
        line-height: 20px;
        width: calc(80%);
        margin: 10px 0px 30px 20px;
        font-size: 30px;
    }

.Profile, .SocialNetworks {
    height: 500px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.85);
    background: linear-gradient(#fff, #ececec);
}

/*-----Perfil Destacado-----*/
.Profile {
    outline: 1px solid yellow;
    width: calc(60%);
    margin: 0px 0px 0px 40px;
    float: left;
}

    .Profile p {
        margin: 10px 0px 30px 20px;
        font-size: 30px;
    }

.Image, .ProfileInfo {
    height: auto;
}

.Image {
    outline: 1px solid blue;
    width: 30%;
    float: left;
}

    .Image img {
        width: auto;
        height: 150px;
        margin: 10px 0px 10px 25%;
        transition: all .3s ease;
        border-radius: 900px;
        z-index: 90;
    }

.Profile img:hover {
    transform: scale(1.5);
}

.ProfileInfo {
    outline: 1px solid green;
    display: inline-block;
    vertical-align: top;
    width: 70%;
}

    .ProfileInfo label {
        line-height: 35px;
        margin: 0px 0px 0px 10px;
        font-size: 30px;
    }

    .ProfileInfo p {
        line-height: 30px;
        margin: 0px 0px 0px 30px;
        font-size: 20px;
    }

/*-----Redes Sociales-----*/
.SocialNetworks {
    outline: 1px solid darkred;
    width: 420px;
    margin: 0px 0px 0px 30px;
    display: inline-block;
    vertical-align: top;
}

    .SocialNetworks p {
        margin: 10px 0px 30px 20px;
        font-size: 30px;
    }

/*-----Noticias------*/
.Feed {
    outline: 1px solid green;
    display: block;
    margin: 0px;
}

.FeedLeft, .FeedRight {
    height: 300px;
    width: 46%;
    margin: 0px 0px 0px 33px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.85);
    background: linear-gradient(#fff, #ececec);
}

.Feed p {
    line-height: 20px;
    width: calc(80%);
    margin: 10px 0px 30px 20px;
    font-size: 30px;
}

img#FeedImage {
    width: 100px;
    height: 100px;
    border-radius: 900px;
    position: relative;
    transition: all .3s ease;
    z-index: 90;
}

    img#FeedImage:hover {
        transform: scale(1.5);
    }

label#FeedTitle {
    margin-top: 10px;
    height: 15px;
}

p#FeedDescription {
    margin-top: 10px;
    line-height: 15px;
}

/*-----Noticias Izquierda------*/
.FeedLeft {
    outline: 1px solid yellow;
    float: left;
}

    .FeedLeft p {
        line-height: 15px;
        font-size: 16px;
    }

/*-----Noticias Derecha-----*/
.FeedRight {
    outline: 1px solid darkred;
    display: inline-block;
    vertical-align: top;
}

    .FeedRight p {
        line-height: 15px;
        font-size: 16px;
    }

/*-----Demo-------*/
.Demo {
    outline: 1px solid grey;
    width: 90%;
    height: 255px;
    margin: 0px 0px 10px calc(5%);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.85);
    background: linear-gradient(#fff, #ececec);
}

.NewDoctor {
    float: left;
    width: 340px;
}

    .NewDoctor img {
        width: 160px;
        height: auto;
    }

.InfoDoctor {
    display: inline-block;
    width: 175px;
    vertical-align: top;
}

.Demo .criteriaBox {
    width: 70%;
    display: inline-block;
    vertical-align: top;
}

.criteriaBox div {
    width: 200px;
    height: auto;
}

.FeaturedSP {
    float: left;
}

.Insurance {
    display: inline-block;
    vertical-align: top;
}

/*---- Otros Estilos -----*/

hr.featurette-divider.__loop {
    width: 90%;
    border-top: 1px solid #99c21d;
}

/*Estilo para sombras de contenidos*/
/*box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.85);*/
