
/*------ Background Search Box----------*/
.SearchBox {
    background-size: cover !important;
    background-position: center center !important;
}

    /*------ SearchBox Styles -----*/
    .SearchBox .SearchBoxClass {
        width: 760px !important;
        height: 120px !important;
        background-color: rgba(255, 255, 255, 0.8);
    }

        .SearchBox .SearchBoxClass h1 {
            font-style: normal;
            font-weight: bold;
            font-size: 16.5px !important;
            width: auto !important;
            color: #535353;
            margin: 0px auto !important;
            display: block;
            border:none;
            line-height: 1.2;
            text-align: center;
            padding-top: 22px;
        }
        .SearchBox .SearchBoxClass div span {
            top: 63px !important;
            display: block;
            width: auto !important;
            font-size:13px;
            color:darkred;
        }
        .SearchBox .SearchBoxClass div input {
            font-size: 1.07143rem;
            font-style: italic;
            text-align: left;
            opacity: 1 !important;
        }
