div#FeedId {
    border: 1px solid;
    color: red;
}

div#FeedLeftId{
    border: 1px solid;
    color: brown;
    /*---Original Styles---*/
    min-width: calc(50%);
    left: 0px;
}

div#FeedRightId{
    border: 1px solid;
    color: darkgreen;
    /*---Original Styles---*/
    min-width: calc(50%);
    right: 0px;
}