/*------Estilos Home------*/

.Content {
    width: calc(100%);
    min-width: 750px;
    margin-top: -70px;
    position: relative;
    z-index: 2;
}

h1 {
    margin: 0px 0px 8px 0px !important;
    font-family: "MuseoSans100","Trebuchet MS", Helvetica, sans-serif;
    font-size: 30px !important;
}

.SearchBox, .ContentImportant, .Feed, .Demo {
    width: 100%;
}
/*-----Search Box------*/
.SearchBox {
    /*outline: 1px solid black;*/
    height: 400px;
    padding: 10% 0px 0px !important;
}

    .SearchBox .SearchBoxClass {
        color: #AAD400;
        font-size: 18px;
        width: 54%;
        min-width: 720px;
        border: medium none;
        height: 38px;
        line-height: 16px;
        margin: 0px auto;
        position: relative;
        top: 14px;
    }

        .SearchBox .SearchBoxClass div {
            color: #AAD400;
            font-size: 18px;
            width: 54%;
            min-width: 720px;
            border: medium none;
            height: 38px;
            line-height: 16px;
            margin: 0px auto;
            position: relative;
            top: 14px;
        }

/*---Home blocks----*/
.HomeBlocks {
    /*height: 500px;*/
    height: auto;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.85);
    background: linear-gradient(#fff, #ececec);
    margin: 10px 0px 10px 0px;
}

.HombeBlockTitle {
    display: inline-block;
    height: 10px;
    width: auto;
    font-weight: bold;
    color: #99c21d;
    font-size: 18px !important;
}

.SepDivHome {
    width:100%;
}
/*---Contenido Perfil destacado - Redes Sociales - Mas buscado----*/
.HomeFirstBlock {
    display: block;
    height: auto;
}

    .HomeFirstBlock .HomeFirstBlockLeft {
        height: 500px;
        width: calc(60%);
        float: left;
        margin: 0px 0px 0px calc(8%);
    }

    .HomeFirstBlock .HomeFirstBlockRigth {
        height: 500px;
        width: calc(20%);
        float: left;
        margin: 0px 0px 0px calc(4%);
    }

/*.ContentImportant .ProfileH1 {
        display: inline-block;
        width: calc(50%);
        margin: 8px 0px 4px calc(4%) !important;
        font-weight: bold;
        color: #99c21d;
        font-size: 25px !important;
    }

    .ContentImportant .SocialH1 {
        display: inline-block;
        width: calc(40%);
        margin: 8px 0px 4px calc(3%) !important;
        font-weight: bold;
        color: #99c21d;
        font-size: 25px !important;
    }*/

/*.HomeFirstBlock p {
        line-height: 20px;
        width: calc(80%);
        margin: 10px 0px 30px 20px;
        font-size: 30px;
    }*/

/*-----Perfil Destacado-----*/
.Profile {
    height: auto;
    float: left;
    width: 100%;
}

    .Profile p {
        margin: 10px 0px 30px 20px;
        font-size: 30px;
    }

.Image, .ProfileInfo {
    height: auto;
}

.Image {
    width: 30%;
    float: left;
    margin: 40px 0px;
}

    .Image img {
        width: 70%;
        height: auto;
        margin: 0% 0px 0px 21%;
        border-radius: 3px;
    }

.ProfileInfo {
    display: inline-block;
    vertical-align: top;
    width: 70%;
}

    .ProfileInfo label {
        line-height: 35px;
        margin: 10px 0px 0px 10px;
        font-size: 21px;
        color: #99c21d;
        cursor: auto;
    }

    .ProfileInfo p {
        line-height: 21px;
        margin: 10px 0px 10px 25px;
        font-size: 17px;
        text-align: justify;
    }

/*a.MPButtons {
    font-weight: bold;
    margin: 10px 25px 10px 0px;
    font-size: 17px;
    text-align: center;
    line-height: 40px;
    float: right;
}*/


/*------lo mas buscado--------*/

.criteriaBox {
    height: auto;
    float: left;
    width: 100%;
}

    .criteriaBox div {
        line-height: 24px;
        width: 48%;
        height: auto;
        display: inline-block;
        vertical-align: top;
        float: left;
    }

    .criteriaBox li {
        margin: 0px calc(8%);
        line-height: 24px;
        width: calc(100%);
        color: #99c21d;
        font-size: 15px;
        font-weight: bold;
}

/*-----Redes Sociales-----*/
/*.SocialNetworks {
    width: calc(40%);
    height: auto;
    margin: 0px 0px 0px calc(3%);
    display: inline-block;
    vertical-align: top;
}*/

/*-----Facebook-------*/
.SocialNetworks {
}
    .SocialNetworks .fb {
        width: 100%; 
        height: 290px;
    }

    .SocialNetworks .li {
        float:left;
        width: 100%; 
        height: 50px;
    }

    /*.SocialNetworks ._4s7c {
        height: auto;
    }*/


    /*------Twitter-------*/
/*.SocialNetworks iframe#twitter-widget-0 {
        float: right;
        margin: -170px calc(14%) 0px 0px !important;
    }*/
    /*---------Linked In----------*/
/*.SocialNetworks span.IN-widget {
        height: auto;
        width: auto;
        float: right;
        margin: -280px calc(10%) 0px 0px !important;
    }*/
    /*-----Google +-------*/
/*.SocialNetworks div#___plusone_0 {
        float: right !important;
        margin: -240px calc(6%) 0px 0px !important;
    }*/

/*.SocialNetworks p {
        font-size: 18px;
        display: inline-block;
        width: 31%;
        vertical-align: top;
        margin: 20px 0px 0px 0px;
    }*/

/*-----Noticias------*/
.Feed {
    display: block;
    margin: 10px 0px 10px calc(8%);
}

.FeedRight {
    margin: 0px 0px 0px calc(4%);
}
.FeedLeft, .FeedRight {
    height: auto;
    width: 42%;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.85);
    background: linear-gradient(#fff, #ececec);
}

.Feed p {
    width: calc(90%);
    margin: 10px 0px 15px 25px;
    text-align: justify;
    line-height: 21px;
    font-size: 17px;
}

.Feed > a {
    color: #99c21d;
}

img#FeedImage {
    width: auto;
    height: auto;
    max-width: 100%;
    overflow: hidden;
}

label#FeedTitle {
    margin: 10px calc(8%);
    line-height: 24px;
    width: calc(80%);
    color: #99c21d;
    font-size: 20px;
    text-align: center;
    cursor: auto;
}

/*-----Noticias Izquierda------*/
.FeedLeft {
    /*outline: 1px solid yellow;*/
    display: inline-block;
}

    .FeedLeft p a {
        font-weight: bold;
    }

.divLeftImage {
    width: 150px;
    height: 150px;
    border-radius: 3px;
    margin: 10px;
    float: left;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

/*-----Noticias Derecha-----*/
.FeedRight {
    /*outline: 1px solid darkred;*/
    display: inline-block;
    vertical-align: top;
    margin: 0px 0px 0px 8px;
}

    .FeedRight p a {
        font-weight: bold;
    }

.divRightImage {
    width: 150px;
    height: 150px;
    border-radius: 3px;
    margin: 10px;
    float: left;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

/*-----Demo-------*/
.Demo {
    display: block;
    width: 100%;
    height: auto;
}

/*.NewDoctor {
    float: left;
    width: 335px;
    margin: 0px 0px 0px calc(4%);
}

    .NewDoctor h1 {
        font-weight: bold;
        color: #99c21d;
        font-size: 25px !important;
        margin: 10px 0px !important;
    }

    .NewDoctor img {
        width: 160px;
        height: auto;
    }

.InfoDoctor {
    display: inline-block;
    width: 50%;
    line-height: 21px;
    vertical-align: top;
}

    .InfoDoctor p {
        width: calc(90%);
        margin: 0px 0px 20px 30px;
        text-align: justify;
        line-height: 21px;
        font-size: 17px;
    }

    .InfoDoctor h2 {
        margin: 10px calc(8%);
        line-height: 24px;
        width: calc(80%);
        color: #99c21d;
        font-size: 20px;
        font-weight: bold;
    }

    .InfoDoctor a {
        font-weight: bold;
        line-height: 21px;
        margin: 10px 0px 10px 25px;
        font-size: 17px;
        text-align: justify;
    }*/

/*---- Otros Estilos -----*/

/*hr.featurette-divider.__loop {
    width: 90%;
    border-top: 1px solid #99c21d;
}*/



