/********** ESTILOS DE LA PAGINA DE RESULTADOS DE DOCTORES ********/
.MPResultsGrandWrapper span,
.MPResultsGrandWrapper label {
    color: #666;
    letter-spacing: -0.1px;
}

.MPResultsGrandWrapper a {
    color: #92B92A;
    letter-spacing: -0.6px;
}

    .MPResultsGrandWrapper a:hover {
        color: #92B92A;
    }

.MPResultsGrandWrapper {
    display: block;
    margin: 0px auto;
    padding: 0px;
    border: none;
    width: 100%;
    min-width: 768px;
}

    .MPResultsGrandWrapper div {
        margin: 0px;
        padding: 0px;
        height: auto;
        display: inline-block;
    }

div.MPResultsBreadCrumbs {
    background-color: #92B92A;
    color: #FFF;
    height: 28px;
    width: 84%;
    margin: 0px auto 0px 8%;
}

@media screen and (max-width:800px) {
    div.MPResultsBreadCrumbs {
        background-color: #92B92A;
        color: #FFF;
        height: 28px;
        width: 94%;
        margin: 0px auto;
    }
}

@media screen and (max-width:1024px) {
    div.MPResultsBreadCrumbs {
        background-color: #92B92A;
        color: #FFF;
        height: 28px;
        width: 91%;
        margin: 0px auto 0px 5%;
    }
}

div.MPResultsBreadCrumbsModel a, div.MPResultsBreadCrumbsModel span {
    color: #FFF;
    line-height: 1.3em;
    font-size: 1em;
    letter-spacing: -0.5px;
}

    div.MPResultsBreadCrumbsModel a:hover {
        color: #FFF;
    }

.MPResultsBreadCrumbs div.MPResultsBreadCrumbsModel,
.MPResultsBreadCrumbs div.MPResultsBreadCrumbsPages {
    display: inline-block;
    width: 48.2%;
    border: none;
    vertical-align: top;
    margin: 3px 0px 3px 8px;
}

div.MPResultsBreadCrumbsPages {
    text-align: right;
}

.MPResultsBreadCrumbsPages a {
    color: #FFF;
    line-height: 1.3em;
    font-size: 1em;
    letter-spacing: -0.5px;
}

    .MPResultsBreadCrumbsPages a:hover {
        color: #FFF;
    }

.MPResultsBreadCrumbsPages span {
    color: #FFF;
    text-decoration: none;
}
/********** MUESTRA TODOS LOS TIPOS DE PERFIL ***********/
/**** pago, basico, gratis ****/
.MPResultsProfile {
    width: 65%;
}

@media screen and (min-width:768px) {
    .MPResultsProfile {
        width: 56%;
    }
}

@media screen and (min-width:980px) {
    .MPResultsProfile {
        width: 62%;
    }
}

@media screen and (min-width:1080px) {
    .MPResultsProfile {
        width: 62%;
    }
}

@media screen and (min-width:1180px) {
    .MPResultsProfile {
        width: 64%;
    }
}

@media screen and (min-width:1280px) {
    .MPResultsProfile {
        width: 65%;
    }
}

div.MPResultsPaidProfile {
    display: block;
    margin: 10px 0px 10px 30px;
    padding: 12px;
    border-radius: 2px;
    width: 97%;
    border-bottom: 1px solid #92B92A;
    float: right;
}

@media screen and (min-width:800px) {
    div.MPResultsPaidProfile {
        width: 94%;
    }
}

@media screen and (min-width:980px) {
    div.MPResultsPaidProfile {
        width: 91%;
    }
}

@media screen and (min-width:1080px) {
    div.MPResultsPaidProfile {
        width: 91%;
    }
}

@media screen and (min-width:1180px) {
    div.MPResultsPaidProfile {
        width: 91%;
    }
}

@media screen and (min-width:1280) {
    div.MPResultsPaidProfile {
        width: 91%;
    }
}

div.MPResultsPaidProfile label,
div.MPResultsPaidProfile img,
div.MPResultsPaidProfile a,
div.MPResultsPaidProfile div {
    vertical-align: top;
}

div.MPResultsCertified,
img.MPResultsCertified {
    min-width: 46px;
    width: 6.9%;
    height: auto;
    display: inline-block;
}

img.MPResultsCertified {
    width: 100%;
}

.MPResultsPaidProfileDoctorPicture {
    border: none;
    display: inline-block;
    width: 100px;
}

a.MPResultsDoctorPictureWrapper {
    width: auto;
    height: auto;
    border: 1px solid #666;
    border-radius: 2px;
    display: inline-block;
}

img.MPResultsDoctorPicture {
    width: 100%;
    height: auto;
    max-width: 108px;
}
/************* FACEBOOK Y SITIO WEB **************/
.MPResultsPaidProfileDoctorSocial {
    display: block;
    width: 100%;
    height: auto;
}

a.MPResultsPaidProfileDoctorWebsite,
a.MPResultsPaidProfileDoctorFacebook {
    display: block;
    width: 100%;
    margin: 0px 4px;
    text-decoration: none;
    height: 24px;
}

    a.MPResultsPaidProfileDoctorWebsite > img,
    a.MPResultsPaidProfileDoctorFacebook > img {
        width: 19px;
        height: auto;
        vertical-align: middle;
    }

    a.MPResultsPaidProfileDoctorWebsite > span,
    a.MPResultsPaidProfileDoctorFacebook > span {
        font-size: 0.7em;
        letter-spacing: 0px;
        margin: 0px 0px 0px 1px;
        width: 64%;
        line-height: 29px;
    }
/***** MUESTRA LA SEGUNDA COLUMNA DE DATOS *****/
div.MPResultsPaidProfileDoctorData {
    border: none;
    display: inline-block;
    width: 218px;
    height: auto;
    margin: 0px 0px 0px 8px;
}

h2.MPResultsSpecialityName,
span.MPResultsInsuranceName {
    display: block;
    height: auto;
    margin: 4px 0px !important;
    line-height: 1em;
}

h2.MPResultsSpecialityName {
    font-size: 1.2em;
}

li.MPResultsInsuranceName {
    line-height: 1.5em !important;
}

    li.MPResultsInsuranceName,
    li.MPResultsInsuranceName h4 {
        width: 84px;
        line-height: 1em;
        border: none;
        display: inline-block;
        font-size: 0.9em;
        letter-spacing: -0.4px;
    }

a.MPResultsPaidProfileDoctorName,
a.MPResultsPaidProfileDoctorName:hover,
a.MPResultsPaidProfileDoctorName h2 {
    font-size: 1.2em;
    line-height: 24px;
    cursor: pointer;
    text-decoration: none;
}

a.freeProfile h2 {
    color: #333;
}

.MPResultsEnsurance {
    font-size: 0.8em;
    line-height: 1em;
    margin: 6px 0px 6px 0px;
}
/** DESCRIPCION CORTA DEL DOCTOR **/
div.MPResultsDoctorDescriptionWrapper {
    border: none;
    display: inline-block;
    width: 46%;
    vertical-align: top;
    margin: 0px;
    text-align: justify;
}

span.MPResultsDoctorShortDescription {
    height: auto;
    max-height: 116px;
    line-height: 1em;
    font-size: 14px;
    letter-spacing: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width:1280px) {
    div.MPResultsDoctorDescriptionWrapper {
        border: none;
        display: inline-block;
        width: 40%;
        vertical-align: top;
        margin: 0px;
        text-align: justify;
    }

    span.MPResultsDoctorShortDescription {
        height: auto;
        max-height: 116px;
    }
}

@media screen and (max-width:1180px) {
    div.MPResultsDoctorDescriptionWrapper {
        border: none;
        display: inline-block;
        width: 38%;
        vertical-align: top;
        margin: 0px;
        text-align: justify;
    }

    div.MPResultsPaidProfileDoctorData {
        width: 185px;
    }

    span.MPResultsDoctorShortDescription {
        height: auto;
        max-height: 116px;
    }
}

@media screen and (max-width:1080px) {
    div.MPResultsDoctorDescriptionWrapper {
        border: none;
        display: inline-block;
        width: 100%;
        vertical-align: top;
        margin-top: 12px;
        text-align: justify;
    }

    div.MPResultsPaidProfileDoctorData {
        width: 66%;
    }

    span.MPResultsDoctorShortDescription {
        height: auto;
        max-height: 116px;
    }
}

@media screen and (max-width:980px) {
    div.MPResultsDoctorDescriptionWrapper {
        border: none;
        display: inline-block;
        width: 100%;
        vertical-align: top;
        margin-top: 12px;
        text-align: justify;
    }

    div.MPResultsPaidProfileDoctorData {
        width: 50%;
    }

    span.MPResultsDoctorShortDescription {
        height: auto;
        max-height: 116px;
    }
}

@media screen and (max-width:800px) {
    div.MPResultsDoctorDescriptionWrapper {
        border: none;
        display: inline-block;
        width: 100%;
        vertical-align: top;
        margin-top: 10px;
        text-align: justify;
    }

    div.MPResultsPaidProfileDoctorData {
        width: 223px;
    }

    span.MPResultsDoctorShortDescription {
        height: auto;
        max-height: 116px;
    }
}
/**********  DATOS CONTACTO **********/
div.OfficeSelector {
    border: none;
    display: block;
    width: auto;
    height: auto;
    min-width: 220px;
    vertical-align: top;
    margin: 12px 0px 4px 0px;
}

    div.OfficeSelector span {
        cursor: pointer;
        width: 100%;
        color: #92B92A;
        text-align: left;
        font-weight: bold;
        font-size: 14px;
    }

        div.OfficeSelector span:hover {
            text-decoration: underline;
        }

div.OfficeContactSelector {
    display: block;
    min-height: 50px;
}

    div.OfficeContactSelector span, div.OfficeContactSelector span:hover {
        cursor: auto;
        font-size: 0.9em;
        display: block;
        width: auto;
        line-height: 1.6em;
        text-decoration: none;
        color: #666;
        text-align: left;
        text-indent: 20px;
    }

span.OfficeContactTelephone,
span.OfficeContactAddress {
    background-repeat: no-repeat;
}

span.OfficeContactAddress {
    background-image: url('/Areas/Web/Content/Images/MPResultsContactoSpriteAddress.png');
    background-position: -5px 1px;
    background-size: 24px auto;
}

span.OfficeContactTelephone {
    background-image: url('/Areas/Web/Content/Images/MPResultsContactoSpritePhone.png');
    background-position: 0px 2px;
    background-size: 17px auto;
}
/***** ENLACES DE VER PERFIL Y AGENDAR CITA *************/
.MPResultsDoctorLinksWrapper {
    width: 100%;
    text-align: right;
}
    /********* enlace agenda gratis ********/
    .MPResultsBookAppFree, .MPResultsDoctorLinksWrapper span {
        display: inline-block !important;
        padding: 0px;
        margin: 0px;
        width: auto;
        text-align: left;
        font-size: 1.1em !important;
        color: #92B92A !important;
        line-height: 1.2em;
    }

        .MPResultsBookAppFree:hover {
            text-decoration: underline;
        }

/*Estilos filtro*/
.MPResultsFilter {
    width: 250px;
    height: auto;
    top: 0px;
    vertical-align: top;
    margin: 11px 0px 0px 8% !important;
    line-height: 22px;
    /* padding: 12px !important; */
    border-radius: 2px;
}

ul.SFilterList li {
    height: auto;
}

li.SFilterTitle label {
    font-size: 1.3em;
}

li.SFilterInsurance label {
    margin: 5px 0px;
    color: #92B92A;
    background-color: #eee;
    width: 100%;
}

li.SFilterInsurance ul {
    width: 100%;
    display: block;
    height: auto;
    max-height: 230px;
    overflow: auto;
}

li.SFilterSpecialty label {
    margin: 10px 0px;
    color: #92B92A;
    background-color: #eee;
    width: 100%;
}

li.SFilterSpecialty ul {
    margin: 0px;
    height: auto;
    max-height: 298px;
    overflow: auto;
}

li.SFilterAgendaOnline {
    margin: 10px 0px;
    background-color: #eee;
}

    li.SFilterAgendaOnline label {
        color: #92B92A;
        width: 90%;
    }

li.SFilterIsCertified {
    background-color: #eee;
}

    li.SFilterIsCertified label {
        color: #92B92A;
        width: 90%;
    }
