/********** ESTILOS DE LA PAGINA DE RESULTADOS DE DOCTORES ********/
.MPResultsGrandWrapper span, 
.MPResultsGrandWrapper label, 
.MPResultsGrandWrapper a{
    color:#666;
    font-size:18px;
    letter-spacing:-0.6px;
    line-height:22px;
}
    .MPResultsGrandWrapper a:hover {
        color:#666;
    }
.MPResultsGrandWrapper {
    display:block;
    margin:0px auto; padding:0px; 
    border-style:solid; border-width:0px 1px; border-color:#666;
    width:95%;
    min-width:768px;
}
    .MPResultsGrandWrapper div {
        margin:0px; padding:0px; 
        width:auto; height:auto;
        border:1px solid orange;
    }
.MPResultsBreadCrumbs div.MPResultsBreadCrumbsModel,
.MPResultsBreadCrumbs div.MPResultsBreadCrumbsPages{
    display:inline-block;
    width:49.4%;
    border:1px solid darkblue;
    vertical-align:top;
    margin:8px 0px 8px 0px;
}
.MPResultsBreadCrumbsPages a {
    float:right;
}
/********** MUESTRA TODOS LOS TIPOS DE PERFIL ***********/
/**** gratis ****/
.MPResultsFreeProfile {
    border:1px solid darkgreen;
    display:block;
    margin:0px 8px;
    padding:12px;
}
.MPResultsFreeProfile label,
.MPResultsFreeProfile span{
    border:1px solid darkgreen;
    display:inline-block;
}
.MPResultsFreeProfile span{
}
.MPResultsFreeProfile span{
}
/**** basico ****/
/**** pago ****/
div.MPResultsPaidProfile {
    border: 1px solid #666;
    display: block;
    margin:0px 8px 12px 8px;
    padding: 12px;
    background: linear-gradient(#fff, #ececec);
    box-shadow: 2px 2px 1.3px;
    border-radius: 3px;
}
div.MPResultsPaidProfile label,
div.MPResultsPaidProfile span,
div.MPResultsPaidProfile img,
div.MPResultsPaidProfile a{
    border:1px solid darkgreen;
    display:inline-block;
    vertical-align:top;
}
.MPResultsPaidProfile img:first-child{
    width:5.4%;
    min-width:46px;
    height:auto;
}
.MPResultsPaidProfile > a:nth-child(2){width:auto; height:auto;}
.MPResultsPaidProfile > a:nth-child(2) > img{
    width:100%;
    min-width:100px;
    height:auto;
}
/***** MUESTRA LA SEGUNDA COLUMNA DE DATOS *****/
div.MPResultsPaidProfileDoctorData {
    border:1px solid red;
    display:inline-block;
    width:21%;
    min-width:220px;
    min-height: 196px;
}
div.MPResultsPaidProfileDoctorData > a:first-child{display:block;}
div.MPResultsPaidProfileDoctorData > a:first-child > label{
    font-size:1.5em;
    line-height:24px;
    cursor: pointer;
}
    div.MPResultsPaidProfileDoctorData > a:nth-child(4),
    div.MPResultsPaidProfileDoctorData > a:nth-child(5){
        display:inline-block;
        width: 48%;
        margin:6px 0px 0px 0px;
    }
        div.MPResultsPaidProfileDoctorData > a:nth-child(4) > img,
        div.MPResultsPaidProfileDoctorData > a:nth-child(5) > img{
            width:32%;
            min-width:34px; height:auto;
        }
        div.MPResultsPaidProfileDoctorData > a:nth-child(4) > span,
        div.MPResultsPaidProfileDoctorData > a:nth-child(5) > span{
            font-size: 0.7em;
            letter-spacing: 0px;
            margin: 0px 0px 0px -4px;
            width: 64%;
            line-height: 16px;
        }
/**********  DATOS CONTACTO **********/
        div.OfficeSelector {
            border: 1px solid #F00;
            display: inline-block;
            width: 100%;
            min-width: 220px;
            vertical-align: top;
            margin: 7px 0px 0px 0px;
        }
        div.OfficeSelector span{
            border:1px solid #666;
            background-color:#bfde6d;
            border-radius:2px;
            padding:2px 6px;
            cursor:pointer;            
            width:100%;
            color: #333;
            text-align: center;
        }
            div.OfficeSelector span:hover{
                background-color:#a6d134;
            }
            div.OfficeContactSelector span, div.OfficeContactSelector span:hover{
                border:none;
                background-color:initial;
                cursor:auto;
                font-size:1em;
                display:inline-block;
                width: auto;
            }
@media screen and (max-width:1024px) {
         div.OfficeSelector {
            border: 1px solid #F00;
            display: inline-block;
            width: 100%;
            min-width: 220px;
            vertical-align: top;
            margin: 7px 0px 0px 0px;
        }
        div.OfficeSelector span{
            border:1px solid #666;
            background-color:#bfde6d;
            border-radius:2px;
            padding:2px 6px;
            cursor:pointer;            
            width:100%;
            color: #333;
            text-align: center;
        }
            div.OfficeSelector span:hover{
                background-color:#a6d134;
            }
            div.OfficeContactSelector span, div.OfficeContactSelector span:hover{
                border:none;
                background-color:initial;
                cursor:auto;
                font-size:1em;
                display:inline-block;
                width: auto;
            }
}
/********* enlace agenda gratis ********/
.MPResultsBookAppFree {
    display: block !important;
    padding: 4px 0px;
    margin: 6px auto;
    background-color: #92B92A;
    width: 100%;
    text-align: center;
    font-size: 1.5em !important;
    border-radius: 3px;
    color: #FFF !important;
    border: 1px solid #555 !important;
}
.MPResultsBookAppFree:hover {
    background-color:#82A327;
    text-decoration:none;
}
/** DESCRIPCION CORTA DEL DOCTOR **/
div.MPResultsBookShortDescription {
    border: 1px solid #F00;
    display: inline-block;
    width:63%;
    min-width: 330px;
    vertical-align: top;
}
    @media screen and (max-width:1024px) {
        div.MPResultsBookShortDescription {
        border: 1px solid #F00;
        display: inline-block;
        width:46%;
        min-width: 330px;
        vertical-align: top;
        }
    }
