/********** ESTILOS DE LA PAGINA DE RESULTADOS DE DOCTORES ********/
.MPResultsGrandWrapper span, 
.MPResultsGrandWrapper label, 
.MPResultsGrandWrapper a{
    color:#666;
    letter-spacing:-0.6px;
}
    .MPResultsGrandWrapper a:hover {
        color:#666;
    }
.MPResultsGrandWrapper {
    display:block;
    margin:0px auto; padding:0px; 
    border:none;
    width:100%;
    min-width:768px;
}
    .MPResultsGrandWrapper div {
        margin:0px; padding:0px; 
        width:auto; height:auto;
                border:none;
    }
div.MPResultsBreadCrumbs {
    background-color: #92B92A;
    color: #FFF;
    height: 28px;
    width: 80%;
    margin: 0px auto;
}
@media screen and (max-width:800px) {
    div.MPResultsBreadCrumbs {
    background-color: #92B92A;
    color: #FFF;
    height: 28px;
    width: 94%;
    margin: 0px auto;
    }
}
@media screen and (max-width:1024px) {
    div.MPResultsBreadCrumbs {
    background-color: #92B92A;
    color: #FFF;
    height: 28px;
    width: 91%;
    margin: 0px auto;
    }
}
div.MPResultsBreadCrumbsModel a, div.MPResultsBreadCrumbsModel span{
    color: #FFF;
    line-height: 1.3em;
    font-size: 1em;
    letter-spacing: -0.5px;
}
    div.MPResultsBreadCrumbsModel a:hover {
        color: #FFF;
    }
.MPResultsBreadCrumbs div.MPResultsBreadCrumbsModel,
.MPResultsBreadCrumbs div.MPResultsBreadCrumbsPages{
    display:inline-block;
    width:48.2%;
        border:none;
    vertical-align:top;
    margin:3px 0px 3px 8px;    
}
div.MPResultsBreadCrumbsPages {
    text-align:right;
}
.MPResultsBreadCrumbsPages a {
    color: #FFF;
    line-height: 1.3em;
    font-size: 1em;
    letter-spacing: -0.5px;
}
.MPResultsBreadCrumbsPages a:hover {
    color: #FFF;
}
.MPResultsBreadCrumbsPages span{
    color: #FFF;
    text-decoration:none;
}
/********** MUESTRA TODOS LOS TIPOS DE PERFIL ***********/
/**** pago, basico, gratis ****/
div.MPResultsPaidProfile{
        border: none;
    display: block;
    margin:12px auto;
    padding: 12px;
    background: linear-gradient(#fff, #ececec);
    box-shadow:0px 1px 7px 0px #666;
    border-radius: 2px;
    width:80%;
}
@media screen and (max-width:800px) {
    div.MPResultsPaidProfile{
        border: none;
        display: block;
        margin:12px auto;
        padding: 12px;
        background: linear-gradient(#fff, #ececec);
        box-shadow:0px 1px 7px 0px #666;
        border-radius: 2px;
        width:94%;
    }
}
@media screen and (max-width:1024px) {
    div.MPResultsPaidProfile{
        border: none;
        display: block;
        margin:12px auto;
        padding: 12px;
        background: linear-gradient(#fff, #ececec);
        box-shadow:0px 1px 7px 0px #666;
        border-radius: 2px;
        width:91%;
    }
}
div.MPResultsPaidProfile label,
div.MPResultsPaidProfile img,
div.MPResultsPaidProfile a,
div.MPResultsPaidProfile div{
    vertical-align:top;
}
div.MPResultsCertifiedWrapper,
img.MPResultsCertified{display:inline-block;}

div.MPResultsCertifiedWrapper {
    min-width:46px;
    width:5.2%;
    height:auto;
}
img.MPResultsCertified {
    width:100%; height:auto;
}
a.MPResultsDoctorPictureWrapper{
    width:8%;
    min-width:92px;
    height:auto;
    border:1px solid #666;
    border-radius:2px;
    display:inline-block;
}
img.MPResultsDoctorPicture{
    width:100%; height:auto;
}
/***** MUESTRA LA SEGUNDA COLUMNA DE DATOS *****/
div.MPResultsPaidProfileDoctorData {
       border:none;
    display:inline-block;
    width:21%;
    min-width:220px;
    min-height:182px;
    margin-left:8px;
}
span.MPResultsSpecialityName,
span.MPResultsInsuranceName{
    display:block;
    height:auto;
    margin:4px 0px !important;
    line-height:1em;
}
span.MPResultsSpecialityName {
    font-size:1.2em;
}
span.MPResultsInsuranceName {
    font-size:0.9em;
    letter-spacing: -0.4px;
}
a.MPResultsPaidProfileDoctorName{
    font-size:1.5em;
    line-height:24px;
    cursor: pointer;    
}
a.MPResultsPaidProfileDoctorWebsite,
a.MPResultsPaidProfileDoctorFacebook{
    display:inline-block;
    width: 48%;
    margin:6px 0px 0px 0px;
    text-decoration:none;
}
a.MPResultsPaidProfileDoctorWebsite > img,
a.MPResultsPaidProfileDoctorFacebook > img {
    width: 26%;
    min-width: 30px;
    height: auto;
}
a.MPResultsPaidProfileDoctorWebsite > span,
a.MPResultsPaidProfileDoctorFacebook > span{
            font-size: 0.7em;
            letter-spacing: 0px;
            margin: 0px 0px 0px 1px;
            width: 64%;
            line-height:29px;
}
/** DESCRIPCION CORTA DEL DOCTOR **/
        div.MPResultsDoctorDescriptionWrapper {
        border:none;
        display: inline-block;
        width:58%;
        vertical-align: top;
        margin:0px 0px 0px 12px;
        }
            span.MPResultsDoctorShortDescription{
                height: auto;
                max-height: 116px;
                line-height: 1em;
                font-size:14px;
                letter-spacing: normal;
            }
    @media screen and (max-width:1280px) {
        div.MPResultsDoctorDescriptionWrapper {
        border:none;
        display: inline-block;
        width:49%;
        vertical-align: top;
        margin:0px 0px 0px 12px;
        }
            span.MPResultsDoctorShortDescription{
                        height:auto;
                max-height:116px;
            }
    }
    @media screen and (max-width:1024px) {
        div.MPResultsDoctorDescriptionWrapper {
                    border:none;
        display: inline-block;
        width:43%;
        vertical-align: top;
        margin:0px 0px 0px 12px;
        }
            span.MPResultsDoctorShortDescription{
                        height:auto;
                max-height:116px;
            }
    }
    @media screen and (max-width:800px) {
        div.MPResultsDoctorDescriptionWrapper {
                    border:none;
        display: inline-block;
        width:42%;
        vertical-align: top;
        margin:0px 0px 0px 12px;
        }
            span.MPResultsDoctorShortDescription{
                        height:auto;
                max-height:116px;
            }
    }
/**********  DATOS CONTACTO **********/
        div.OfficeSelector {
            border: none;
            display:block;
            width:auto;
            min-width: 220px;
            vertical-align: top;
            margin:12px 0px 4px 0px;
            min-height:39px;
        }
        div.OfficeSelector span{
            cursor:pointer;       
            width:100%;
            color: forestgreen;
            text-align: left;
            font-weight:bold;
            font-size:14px;
        }
            div.OfficeSelector span:hover{
                text-decoration:underline;
            }
            div.OfficeContactSelector {display:block; min-height:39px;}
            div.OfficeContactSelector span, div.OfficeContactSelector span:hover{
                cursor:auto;
                font-size:0.9em;
                display:block;
                width: auto;
                line-height:16px;
                text-decoration:none;
            }
/********* enlace agenda gratis ********/
.MPResultsBookAppFree {
    display: inline-block !important;
    padding: 4px 0px;
    margin: 6px auto;
    background-color: #92B92A;
    width: 48%;
    text-align: center;
    font-size: 1.1em !important;
    border-radius: 3px;
    color: #FFF !important;
    border: 1px solid #555 !important;
    line-height: 1.2em;
}
@media screen and (max-width:1280px) {
    .MPResultsBookAppFree {
    display: inline-block !important;
    padding: 4px 0px;
    margin: 6px auto;
    background-color: #92B92A;
    width: 48%;
    text-align: center;
    font-size: 1.1em !important;
    border-radius: 3px;
    color: #FFF !important;
    border: 1px solid #555 !important;
    line-height: 1.2em;
    }
}
@media screen and (max-width:1024px) {
    .MPResultsBookAppFree {
    display: inline-block !important;
    padding: 4px 0px;
    margin: 6px auto;
    background-color: #92B92A;
    width: 48%;
    text-align: center;
    font-size: 1.1em !important;
    border-radius: 3px;
    color: #FFF !important;
    border: 1px solid #555 !important;
    line-height: 1.2em;
    }
}
@media screen and (max-width:800px) {
    .MPResultsBookAppFree {
    display: inline-block !important;
    padding: 4px 0px;
    margin: 6px auto;
    background-color: #92B92A;
    width: 48%;
    text-align: center;
    font-size: 1.1em !important;
    border-radius: 3px;
    color: #FFF !important;
    border: 1px solid #555 !important;
    line-height: 1.2em;
    }
}
.MPResultsBookAppFree:hover {
    background-color:#82A327;
    text-decoration:none;
}
