<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="AuthConnection" connectionString="metadata=res://*/DBModel.AuthModel.csdl|res://*/DBModel.AuthModel.ssdl|res://*/DBModel.AuthModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=devmysqlsaludguru.c21n120xwlou.us-east-1.rds.amazonaws.com;user id=SaludGuruUsr;password=gerEdit!.$;persistsecurityinfo=True;database=001_Auth&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>