@{
    ViewBag.Title = "SaludGuru - Información general";
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";
}

<div class="DashBoardImage">
    <img src="https://s3.amazonaws.com/devsaludguruimg/0BOImages/BO_DashBoard.png.png" />
</div>

